<hr class="info-separator">

<div class="info-block">
  <div>🕐</div>
  <div>
    Vous êtes <%= user.conjugate("attendu") %> :
    <p><strong><%= I18n.l(rdv.starts_at_in_time_zone, format: :human) %></strong></p>
  </div>
</div>

<hr class="info-separator">

<div class="info-block">
  <div>📍</div>
  <div>
    À l'adresse suivante :
    <p><strong><%= rdv.lieu.name %></strong></p>
    <p><span class="text-underlined text-blue"><%= rdv.lieu.address %></span></p>
  </div>
</div>

<% if agents_names.present? %>
  <hr class="info-separator">
  <div class="info-block">
    <div>👤</div>
    <div>
      Avec :
      <p><strong><%= agents_names %></strong></p>
    </div>
  </div>
<% end %>

<hr class="info-separator">
