<h1>Bonjour <%= @user %>,</h1>
<p>Votre <%= @rdv_title %> dans le cadre de votre <%= @rdv_subject %> a été annulé.</p>

<%= render "mailers/notification_mailer/cancelled_rdv_infos", rdv: @rdv %>

<p>Pour plus d'informations, contactez-nous :</p>
<%= render "mailers/contact_infos", help_phone_number: @rdv.phone_number, help_email: @organisation.email, help_website: @organisation.website %>
<%= render "common/organisation_signature", signature_lines: @signature_lines, department: @department %>
<%= render "mailers/logos", displayed_logos: @displayed_logos, organisation_logo_path: @organisation_logo_path, department_logo_path: @department_logo_path %>
