<h1>Bonjour <%= "#{@applicant.first_name} #{@applicant.last_name.upcase}" %>,</h1>
<p>Votre <%= @rdv_title %> dans le cadre de votre <%= @rdv_subject %> a été annulé.</p>
<p>Pour plus d'informations, veuillez appeler le <%= @rdv.phone_number %>.</p>
<%= render 'common/organisation_signature', signature_lines: @signature_lines, department: @department %>
<% if @logo_path %>
  <%= image_pack_tag @logo_path, alt: "Logo département ou organisation", class: "department-logo" %>
<% end %>
