<h1>Bonjour <%= @user %>,</h1>
<p>Vous êtes <%= @user_designation %> et à ce titre vous êtes <%= @user.conjugate("convoqué") %> à un <%= @rdv_title %> pour <%= @rdv_purpose %>.</p>

<%= render "mailers/notification_mailer/presential_rdv_infos", user: @user, rdv: @rdv %>

<%= tag.p tag.strong("#{@mandatory_warning}.") if @mandatory_warning %>
<% if @instruction_for_rdv.present? %>
  <p>
    <%= tag.strong("Informations importantes :") %><br>
    <%= simple_format(h(@instruction_for_rdv)) %>
  </p>
<% end %>
<%= tag.p tag.strong("En cas d'absence, #{@punishable_warning}.") if @punishable_warning.present? %>

<p>En cas d'empêchement, contactez-nous :</p>
<%= render "mailers/contact_infos", help_phone_number: @rdv.phone_number, help_email: @organisation.email, help_website: @organisation.website %>
<%= render "common/organisation_signature", signature_lines: @signature_lines, department: @department %>
<%= render "mailers/logos", display_europe_logos: @notification.display_europe_logos, display_france_travail_logo: @notification.display_france_travail_logo, display_department_logo: @notification.display_department_logo, organisation_logo_path: @organisation_logo_path, department_logo_path: @department_logo_path %>
