<div class="d-flex h-100 px-2 justify-content-center align-items-center">
  <div class="btn-group">
    <button type="button" class="btn <%= button_classes_for_participation_status(participation) %> dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
      <%= participation.human_status %>
    </button>
    <div class="dropdown-menu">
      <% participation.possible_new_statuses.each do |status| %>
        <% status_content = capture do %>
          <span class="bold">
            <i class="ri-circle-line me-1 <%= text_class_for_participation_status(status) %>"></i>
            <%= human_new_status(status) %>
          </span><br>
          <span><%= human_new_status_detailed(status) %>.</span>
          <% if could_notify_status_change?(participation, status) %>
            <br>
            <span>Si les notifications sont activées, une alerte sera envoyée à l'usager.</span>
          <% end %>
        <% end %>
        <% if participation.post_rdv_orientation && status.to_s != "seen" %>
          <%= link_to participation_path(participation),
                      class: "dropdown-item",
                      data: {
                        controller: "confirmation-modal",
                        turbo_method: :patch,
                        turbo_payload: { participation: { status: } }.to_json
                      } do %>
            <span data-action="click->confirmation-modal#show"><%= status_content %></span>
            <% text_content = capture do %>
              L'orientation « <%= participation.post_rdv_orientation.orientation_type.name %> »
              sera supprimée si vous changez le statut. Voulez-vous continuer ?
            <% end %>
            <%= render "common/confirmation_modal",
                       title: "Changer le statut du RDV",
                       text_content:,
                       action_text: "Continuer" %>
          <% end %>
        <% else %>
          <%= button_to participation_path(participation), method: :patch,
                        params: { participation: { status: } },
                        class: "dropdown-item" do %>
            <%= status_content %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
