<div class="d-flex h-100 px-2 justify-content-center align-items-center">
  <div class="btn-group">
    <button type="button" class="btn <%= button_classes_for_participation_status(participation) %> dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
      <%= participation.human_status %>
    </button>
    <div class="dropdown-menu">
      <% participation.possible_new_statuses.each do |status| %>
        <%= button_to participation_path(participation), method: :patch,
                      params: { participation: { status: } },
                      class: "dropdown-item" do %>
          <span class="bold">
            <i class="ri-circle-line me-1 <%= text_class_for_participation_status(status) %>"></i>
            <%= human_new_status(status) %>
          </span><br>
          <span><%= human_new_status_detailed(status) %>.</span>
          <% if could_notify_status_change?(participation, status) %>
            <br>
            <span>Si les notifications sont activées, une alerte sera envoyée à l'usager.</span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
