<%= link_to invitation_landing_path do %>
  <div class="marianne invitation-banner">
    <p class="text-center">
      <i class="fas fa-solid fa-envelope"></i>
        &nbsp;&nbsp;J'ai reçu par courrier une invitation à prendre rendez-vous&nbsp;&nbsp;
      <i class="fas fa-solid fa-envelope"></i>
    </p>
  </div>
<% end %>
<div class="container-fluid mt-5 marianne">
  <div class="row justify-content-center mb-5">
    <div class="col-11 col-lg-5 welcome-title">
      <h1 class="text-left w-100">Accélérez les rendez&#8209;vous d'insertion et diminuez le taux d'absentéisme</h1>
    </div>
    <div class="col-11 col-lg-5">
      <%= image_pack_tag "illustrations/welcome-illustration.svg", class: "welcome-illustration", alt: "Image d'illustration de prise de rendez-vous" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <h3 class="col-10 text-left mb-5">rdv-insertion permet aux départements et aux structures d'insertion d'organiser facilement leurs rendez-vous (individuels, collectifs, entretiens d'embauche, suivi RSA,...)</h3>
  </div>

  <div class="row mx-5 mb-4">
    <div class="col-sm-10 col-md-3 d-flex flex-column align-items-center mb-4 mb-md-0">
      <%= image_pack_tag "illustrations/computer.svg", class: "welcome-illustration-sm mb-3", alt: "Image d'illustration en quelques clics" %>
      <p class="text-center">Invitez par SMS et email en quelques clics</p>
    </div>
    <div class="col-sm-10 col-md-3 d-flex flex-column align-items-center mb-4 mb-md-0">
      <%= image_pack_tag "illustrations/letter.svg", class: "welcome-illustration-sm mb-3", alt: "Image d'illustration courrier" %>
      <p class="text-center">Diminuez les tâches administratives de gestion des courriers et d'agenda
    </div>
    <div class="col-sm-10 col-md-3 d-flex flex-column align-items-center mb-4 mb-md-0">
      <%= image_pack_tag "illustrations/calendar.svg", class: "welcome-illustration-sm mb-3", alt: "Image d'illustration calendrier" %>
      <p class="text-center">Gérez facilement les relances et le suivi des prises de rendez-vous
    </div>
    <div class="col-sm-10 col-md-3 d-flex flex-column align-items-center mb-4 mb-md-0">
      <%= image_pack_tag "illustrations/choice.svg", class: "welcome-illustration-sm mb-3", alt: "Image d'illustration du choix" %>
      <p class="text-center">Les personnes invitées sont autonomes dans leur prise de rendez-vous et bénéficient d'un rappel automatique
    </div>
  </div>
  <div class="row d-flex justify-content-center card-demo">
    <h3 class="col-10 text-center mb-5 text-dark-blue">Et ça ressemble à quoi ?</h3>
    <div class="col-10 col-md-8">
      <video controls width="100%" src="https://github-production-user-asset-6210df.s3.amazonaws.com/118368758/266281628-49ee911c-d100-4055-ba1f-e76056db243b.mp4"></video>
    </div>
  </div>
  <div class="row justify-content-center background-dark-blue text-white">
    <p class="col-10 text-left mt-4 mb-4">Ce service est proposé par le Groupement d’Intérêt Public <%= link_to "\"Plateforme de l'inclusion\"", "https://inclusion.beta.gouv.fr/nos-services/", class: "link-blue-light", target: :blank %>, créé par arrêté en avril 2022. Sa mission est de développer de nouveaux services publics pour faciliter la vie des personnes en insertion et de celles et ceux qui les accompagnent.</p>
  </div>

  <div class="row justify-content-center card-demo">
    <h2 class="col-10 text-center text-dark-blue bold mb-4">Ça vous intéresse&nbsp;?</h2>
    <p class="col-10 text-center mb-5">Nous sommes à votre écoute pour adapter notre service à vos besoins et vous aider à le déployer.</p>
    <div class="d-flex justify-content-between col-10 flex-wrap">
      <div class="col-10 col-sm-5 mb-5">
        <p class="text-left">Vous êtes <strong>un conseil départemental</strong> et souhaitez diminuer le délai d'orientation des bénéficiaires du RSA dans votre département et réduire le taux d'absentéisme du rendez-vous d'orientation&nbsp;?</p>
        <div class="d-flex justify-content-center">
          <div class="col-10 text-center mt-4">
            <%= link_to "https://calendly.com/claire-casubolo/reunion-avec-cd", target: "_blank" do %>
              <button class="btn btn-default btn-blue-out w-100 ">Demander une démo</button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-10 col-sm-5">
        <p>Vous êtes <strong>une structure d'insertion (SIAE, association ou autre)</strong> et souhaitez utiliser rdv-insertion pour mieux gérer vos agendas et maximiser le taux de présence à vos rendez-vous&nbsp;?</p>
        <div class="d-flex justify-content-center">
          <div class="col-10 text-center mt-4">
            <%= link_to "https://tally.so/r/w8axpr", target: "_blank" do %>
              <button class="btn btn-default btn-blue-out w-100 ">Demander une démo</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
