<% content_for :title, "Connexion - rdv-insertion" %>

<div class="form-container">
  <%= form_with action:"#", id: "js-login-form" do |form| %>
    <%= render 'common/inclusion_connect_button' %>
    <hr>
    <div class="text-center m-auto">
      <h4 class="text-center mb-3 font-weight-bold">OU</h4>
    </div>

    <h5 class="text-center mb-4 mx-1">Identifiez-vous avec votre compte Agent de RDV-Solidarités</h5>
    <div class="form-group">
      <%= form.label :email, "Adresse email" %>
      <%= form.email_field :email , class: "form-control"%>
    </div>
    <div class="form-group">
      <%= form.label :password, "Mot de Passe" %>
      <%= form.password_field :password, class: "form-control" %>
    </div>
    <div class=text-center>
      <%= form.submit "Se connecter", class: "btn btn-blue" %>
    </div>
  <% end %>
  <div class="form-notice mt-4">
    <h5>Je suis bénéficiaire du RSA ?</h5>
    <p>J'ai reçu une invitation à prendre rendez-vous. Je me réfère aux instructions fournies dans le message reçu pour accéder à la prise de rendez-vous (qui s'effectuera sur le site RDV-Solidarités).</p>
  </div>
</div>
