<div class="mb-4">
  <label class="form-label fw-bold">Invitation limitée aux organisations de l'usager</label>
  <p class="text-muted small mb-2">
    L'usager ne pourra prendre rendez-vous que dans les organisations auxquelles il est rattaché.
  </p>
  <div class="d-flex gap-4">
    <div class="form-check">
      <%= f.radio_button :invite_to_user_organisations_only, true, class: "form-check-input" %>
      <%= f.label :invite_to_user_organisations_only, "Oui", value: true, class: "form-check-label" %>
    </div>
    <div class="form-check">
      <%= f.radio_button :invite_to_user_organisations_only, false, class: "form-check-input" %>
      <%= f.label :invite_to_user_organisations_only, "Non", value: false, class: "form-check-label" %>
    </div>
  </div>
</div>

<div class="mb-4">
  <label class="form-label fw-bold">Durée de validité des liens d'invitations</label>
  <p class="text-muted small mb-2">
    Au-delà de cette période, l’usager ne pourra plus prendre rendez-vous car le lien expirera. Cette période ne peut être inférieure à 3 jours. Pour désactiver l’expiration du lien, vous pouvez indiquer  “0 jours”.
  </p>
  <p class="text-muted small"></p>
  <div class="d-flex align-items-center gap-2">
    <%= f.number_field :number_of_days_before_invitations_expire,
                       class: "form-control input-small-width",
                       min: CategoryConfiguration.minimum_number_of_days_before_invitations_expire,
                       placeholder: "-" %>
    <span>jours</span>
  </div>
</div>
