<%= turbo_frame_tag "user_page", data: { turbo_action: "advance" } do %>
  <%= render "users/page_title", user: @user %>

  <%= render 'users/archive_banner' if @user_is_archived %>

  <div class="container text-dark-blue h4-as-labels mt-4">
    <%= render "users/user_page_header" %>

    <%= render "users/user_tabs", user: @user, tab: "parcours" %>

    <div class="mx-3 my-4">
      <h4>Historique d'accompagnement</h4>
      <%= render "orientations/orientations_list", orientations: @orientations %>

      <%= link_to(new_structure_user_orientation_path(@user.id), data: { turbo_frame: 'remote_modal' }) do %>
        <button class="btn btn-blue mb-3"><i class="fas fa-plus"></i> Ajouter une orientation</button>
      <% end %>
    </div>

    <div class="mx-3 my-4">
      <h4>Diagnostics</h4>
      <%= render "parcours_documents/documents_list", parcours_documents: @diagnostics, type: "diagnostic" %>
      <%= render "parcours_documents/document_form", user: @user, type: "diagnostic" %>
    </div>
    <div class="mx-3 my-4">
      <h4>Contrats</h4>
      <%= render "parcours_documents/documents_list", parcours_documents: @contracts, type: "contract" %>
      <%= render "parcours_documents/document_form", user: @user, type: "contract" %>
    </div>
  </div>
<% end %>
