<%= turbo_frame_tag "messages_content_#{category_configuration.id}" do %>
  <div class="row d-flex justify-content-start flex-wrap my-5">
    <% CategoryConfiguration.template_override_attributes.each do |attribute| %>
      <div class="col-12 col-md-6 px-5">
        <h4><%= CategoryConfiguration.human_attribute_name(attribute) %></h4>
        <p><%= category_configuration.send(attribute) || template.send(attribute.gsub("template_", "").gsub("_override", "")) || tag(:br) %></p>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-center mb-4 my-4">
    <div class="mx-1">
      <%= link_to previews_invitations_path(category_configuration_id: category_configuration.id), data: { turbo_frame: 'remote_modal' } do %>
        <%= button_tag class: "btn btn-blue" do %>
          <i class="ri-eye-fill"></i> Invitations
        <% end  %>
      <% end %>
    </div>
    <% if category_configuration.convene_user? %>
      <div class="mx-1">
        <%= link_to previews_notifications_path(category_configuration_id: category_configuration.id), data: { turbo_frame: 'remote_modal' } do %>
          <%= button_tag class: "btn btn-blue" do %>
            <i class="ri-eye-fill"></i> Convocations
          <% end  %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
