<%= render "common/remote_modal", title: "Filtrer par date d'invitation" do %>
  <%= form_with method: :get, local: true, url: compute_index_path(@organisation, @department, **params.to_unsafe_h), class: "search-form", data: { "turbo-frame" => "_top" } do |form| %>
    <%= render 'common/search_and_filter_applicants_hidden_fields', form: form, form_name: "invitation_dates_filter" %>
    <p class="mb-2">Première invitation</p>
    <div class="d-flex mb-3">
      <%= form.text_field :first_invitation_date_before,
        class: "w-50 form-control bg-white text-center",
        placeholder: "du",
        data: {
          controller: "flatpickr",
          flatpickr_date_format: "d-m-Y",
          flatpickr_min_date: "2021/04/01",
          flatpickr_max_date: Date.today
        } %>
      <%= form.text_field :first_invitation_date_after,
        class: "w-50 form-control bg-white text-center",
        placeholder: "au",
        data: {
          controller: "flatpickr",
          flatpickr_date_format: "d-m-Y",
          flatpickr_min_date: "2021/04/01",
          flatpickr_max_date: Date.today
        } %>
    </div>
    <p class="mb-2">Dernière invitation</p>
    <div class="d-flex mb-2">
      <%= form.text_field :last_invitation_date_before,
        class: "w-50 form-control bg-white text-center",
        placeholder: "du",
        data: {
          controller: "flatpickr",
          flatpickr_date_format: "d-m-Y",
          flatpickr_min_date: "2021/04/01",
          flatpickr_max_date: Date.today
        } %>
      <%= form.text_field :last_invitation_date_after,
        class: "w-50 form-control bg-white text-center",
        placeholder: "au",
        data: {
          controller: "flatpickr",
          flatpickr_date_format: "d-m-Y",
          flatpickr_min_date: "2021/04/01",
          flatpickr_max_date: Date.today
        } %>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <%= form.submit "Valider", name: nil, class: "btn btn-blue-out" %>
    </div>
  <% end %>
<% end %>
