<%= render "letters/header", direction_names: direction_names, sender_city: sender_city, department: department, organisation: organisation, user: user %>

<div class="mail-object">
  <p class="bold-blue">
    Objet : Participation à un atelier<br/>
    <% if user.affiliation_number %>
      N° CAF / MSA : <%= user.affiliation_number %>
    <% end %>
  </p>
</div>

<div class="main-content">
  <p><%= user.title_in_letter %>,</p>
  <p>Tu es <span class="text-violet"><%= user.conjugate('invité') %></span> à participer à un atelier organisé par le département.</p>
  <p>Nous te proposons de découvrir le programme.</p>
  <p><%= sender_name.capitalize %> a mis en place <span class="bold-blue">une plateforme te permettant de t'inscrire.</span></p>
  <p>Choisis ton créneau&nbsp;:</p>
  <%= render "letters/invitations/invitation_choices", invitation_url: invitation_url, qr_code: qr_code %>

  <div class="letter-signature">
    <%= render "common/organisation_signature", signature_lines: signature_lines, signature_image: signature_image, department: department %>
  </div>
</div>

<%= render "letters/footer", display_europe_logos: display_europe_logos, display_france_travail_logo: display_france_travail_logo, display_department_logo: display_department_logo, department: department %>
