<%= render "letters/header", direction_names: direction_names, sender_city: sender_city, department: department, organisation: organisation, user: user %>

<div class="mail-object">
  <p class="bold-blue">
    Objet : Participation à un atelier dans le cadre de votre <%= rdv_subject %><br/>
    <% if user.affiliation_number %>
      N° CAF / MSA : <%= user.affiliation_number %>
    <% end %>
  </p>
  <% if invitation.rdv_with_referents? %>
    <p><%= "Référent".pluralize(user.referents.count) %> de parcours : <%= user.referents.order(:last_name).map(&:to_s).join(", ") %></p>
  <% end %>
</div>

<div class="main-content">
  <p><%= user.title_in_letter %>,</p>
  <p>Vous êtes <%= user_designation %> et bénéficiez d'un accompagnement. Pour en profiter au mieux, nous vous invitons à vous inscrire directement et librement aux ateliers et formations de votre choix.</p>
  <p>Pour faciliter votre inscription, <%= sender_name %> a mis en place <strong>une plateforme vous permettant de vous inscrire vous-même.</strong></p>
  <p>Choisissez un créneau à votre convenance&nbsp;:</p>
  <%= render "letters/invitations/invitation_choices", invitation_url: invitation_url, qr_code: qr_code %>
  <%= tag.p tag.strong("#{mandatory_warning}.") if mandatory_warning %>
  <%= tag.p tag.strong("En l'absence d'action de votre part, #{punishable_warning}.") if punishable_warning.present? %>
  <%= render "letters/invitations/help_message", invitation: invitation, help_address: help_address %>
  <%= render "letters/salutation", user: user %>
  <div class="letter-signature">
    <%= render "common/organisation_signature", signature_lines: signature_lines, signature_image: signature_image, department: department %>
  </div>
</div>

<%= render "letters/footer", displayed_logos: displayed_logos, department: department %>
