<%= render "letters/header", direction_names: direction_names, sender_city: sender_city, department: department, organisation: organisation, user: user %>

<div class="mail-object">
  <p class="bold-blue"><span class="bold-blue">Objet : Participation à un atelier</span></p>
</div>

<div class="main-content">
  <p><%= "#{user.first_name} #{user.last_name.upcase}" %>,</p>
  <p>Tu es <%= user.conjugate('invité') %> à participer à un atelier organisé par le département.</p>
  <p>Nous te proposons de découvrir le programme.</p>
  <p><%= sender_name.capitalize %> a mis en place <span class="bold-blue">une plateforme te permettant de t'inscrire.</span></p>
  <p>Choisis ton créneau&nbsp;:</p>
  <div class="invitation-choices">
    <div class="pdf-align-center">
      <div>soit en scannant ce QR code</div>
      <div class="qr-code"><%= image_tag(qr_code.to_data_url) %></div>
    </div>
    <div class="pdf-align-center">
      <div>soit en vous rendant à l'adresse</div>
      <div class="invitation-token"><%= invitation_url %> </div>
    </div>
  </div>

  <div class="letter-signature">
    <%= render "common/organisation_signature", signature_lines: signature_lines, department: department %>
  </div>
</div>

<%= render "letters/footer", display_europe_logos: display_europe_logos, display_france_travail_logo: display_france_travail_logo, display_department_logo: display_department_logo, department: department %>
