<%= render "letters/header", direction_names: direction_names, sender_city: sender_city, department: department, organisation: organisation, user: user %>

<div class="mail-object">
  <p class="bold-blue">
    Objet : <%= rdv_title.slice(0,1).capitalize + rdv_title.slice(1..-1) %> dans le cadre de votre <%= rdv_subject %><br/>
    <% if user.affiliation_number %>
      N° CAF / MSA : <%= user.affiliation_number %>
    <% end %>
  </p>
  <% if invitation.rdv_with_referents? %>
    <p><%= "Référent".pluralize(user.referents.count) %> de parcours : <%= user.referents.order(:last_name).map(&:to_s).join(", ") %></p>
  <% end %>
</div>

<div class="main-content">
  <p><%= user.title_in_letter %>,</p>
  <p>Vous êtes <%= user_designation %> et à ce titre vous êtes <%= user.conjugate('invité') %> à participer à un <%= rdv_title %> pour <%= rdv_purpose %>.</p>
  <%= tag.p(custom_sentence) if custom_sentence %>
  <p>Pour vous aider dans vos démarches, <%= sender_name %> a mis en place <strong>une plateforme de réservation en ligne.</strong></p>
  <p>Pour choisir la date et l'heure de votre rendez-vous, vous pouvez:</p>
  <%= render "letters/invitations/invitation_choices", invitation_url: invitation_url, qr_code: qr_code %>
  <% if invitation.expireable? %>
    <p>Choisissez un rendez-vous dans un délai de <%= Invitation::NUMBER_OF_DAYS_BEFORE_REMINDER %> jours à compter de la réception de ce courrier.</p>
  <% end %>
  <%= tag.p tag.strong("#{mandatory_warning}.") if mandatory_warning %>
  <%= tag.p tag.strong("En l'absence d'action de votre part, #{punishable_warning}.") if punishable_warning.present? %>
  <%= render "letters/invitations/help_message", invitation: invitation, help_address: help_address %>
  <%= render "letters/salutation", user: user %>
  <div class="letter-signature">
    <%= render "common/organisation_signature", signature_lines: signature_lines, signature_image: signature_image, department: department %>
  </div>
</div>

<%= render "letters/footer", display_europe_logos: display_europe_logos, display_france_travail_logo: display_france_travail_logo, display_department_logo: display_department_logo, department: department %>
