<%# locals: (file_configuration: nil, organisation:) %>

<%= turbo_frame_tag "file_configuration_selection" do %>
  <div class="mb-4">
    <p class="text-muted small mb-3">
      Vous pouvez choisir le modèle de fichier d'import que vous souhaitez utiliser pour cette catégorie.
    </p>

    <% if file_configuration %>
      <%= hidden_field_tag "category_configuration[file_configuration_id]", file_configuration.id %>
      <div class="mb-3 p-3 background-blue-light rounded-3">
        <span class="fw-medium">Modèle sélectionné :</span>
        <span class="text-dark-blue"><%= file_configuration.sheet_name %></span>
      </div>
      <%= link_to new_organisation_file_configuration_selection_path(organisation, selected_file_configuration_id: file_configuration.id),
                  data: { turbo_frame: "remote_modal" },
                  class: "btn btn-blue-out" do %>
        Changer de modèle
      <% end %>
    <% else %>
      <%= link_to new_organisation_file_configuration_selection_path(organisation),
                  data: { turbo_frame: "remote_modal" },
                  class: "btn btn-blue-out" do %>
        Sélectionner un modèle de fichier
      <% end %>
    <% end %>
  </div>
<% end %>
