<%= turbo_stream_from follow_up %>
<div class="m-4">
  <div class="card my-3 mx-auto w-75" id=<%= dom_id(follow_up) %>>
    <div class="card-header blue-out">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h5>
            <strong><%= category_configuration.motif_category_name %></strong>
            <small><%= category_configuration.rdv_with_referents? ? " (avec référents)" : "" %></small>
          </h5>
          <%= render "follow_ups/follow_up_status_badge", follow_up:, category_configuration: %>
        </div>
        <div class="d-flex justify-content-center">
          <% if should_convene_for?(follow_up, category_configuration) %>
            <div class="mx-2">
              <%= render "follow_ups/convocation_button",
                         user_id: user.id, motif_category_id: follow_up.motif_category_id,
                         disabled: user_is_archived
              %>
            </div>
          <% end %>
          <% if follow_up.status == "closed" %>
            <%= render "follow_ups/reopen_follow_up_button", follow_up: follow_up %>
          <% else %>
            <%= render "follow_ups/close_follow_up_button", follow_up: follow_up %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body bg-light">
      <div>
        <% if participations.present? %>
          <div class="d-flex justify-content-center">
            <table class="card-white text-center align-middle m-4 shadow">
              <thead>
                <tr>
                  <th class="px-4 py-2"><h4>RDV pris le</h4></th>
                  <th class="px-4 py-2"><h4>Date du RDV</h4></th>
                  <th class="px-5 py-2"><h4>Motif</h4></th>
                  <% if convocable_participations.present? %>
                    <th class="px-4 py-2"><h4>Convoqué par</h4></th>
                  <% end %>
                  <th class="px-4 py-2"><h4>Statut RDV</h4></th>
                  <th class="px-4 py-2"><h4>Lien</h4></th>
                </tr>
              </thead>
              <tbody>
                <% participations.sort_by(&:created_at).reverse.each do |participation| %>
                  <tr>
                    <td class="px-4 py-3"><%= format_date(participation.created_at) %></td>
                    <td class="px-4 py-3"><%= format_date(participation.starts_at) %></td>
                    <td class="px-2 py-3"><%= participation.motif_name %></td>
                    <% if convocable_participations.present? %>
                      <td class="px-4 py-2">
                        <% if participation.convocable? %>
                          <%= render("follow_ups/convocations", user: user, participation: participation, sms_convocations: participation.sms_convocations, email_convocations: participation.email_convocations, postal_convocations: participation.postal_convocations, user_is_archived:) %>
                        <% else %>
                          -
                        <% end %>
                      </td>
                    <% end %>
                    <td class="px-4 py-3 participation_status" >
                      <% if participation.rdv.rdv_solidarites_rdv_id && policy(participation).edit?  %>
                        <%= render "participations/participation_status", participation: participation, category_configuration: category_configuration %>
                      <% else %>
                        <%= participation.human_status %>
                      <% end %>
                    </td>
                    <td class="px-4 py-3">
                      <% if participation.rdv.rdv_solidarites_rdv_id && policy(participation).edit? %>
                        <%= link_to participation.rdv_solidarites_url, target: "_blank" do %>
                          <button class="btn btn-blue">
                            Voir sur RDV-S<i class="fas fa-external-link-alt icon-sm"></i>
                          </button>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
        <% if category_configuration.invitation_formats.any? %>
         <%= render "follow_ups/invitation_block", user:, organisation:, department:, invitations:, category_configuration:, follow_up:, motif_category: follow_up.motif_category, invitation_formats: category_configuration.invitation_formats, user_is_archived: %>
        <% end %>
      </div>
    </div>
  </div>
</div>
