<%= turbo_stream_from follow_up %>
<div class="m-4">
  <div class="card my-3 mx-auto w-75" id=<%= dom_id(follow_up) %>>
    <div class="card-header blue-out">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h5>
            <strong><%= category_configuration.motif_category_name %></strong>
            <small><%= category_configuration.rdv_with_referents? ? " (avec référents)" : "" %></small>
          </h5>
          <%= render "follow_ups/follow_up_status_badge", follow_up: %>
        </div>
        <div class="d-flex justify-content-center">
          <% if should_convene_for?(follow_up, category_configuration) %>
            <div class="mx-2">
              <%= render "follow_ups/convocation_button",
                         user_id: user.id, motif_category_id: follow_up.motif_category_id,
                         disabled: user_is_archived
              %>
            </div>
          <% end %>
          <% if follow_up.status == "closed" %>
            <%= render "follow_ups/reopen_follow_up_button", follow_up: follow_up %>
          <% else %>
            <%= render "follow_ups/close_follow_up_button", follow_up: follow_up %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body bg-light">
      <div>
        <% if participations.present? %>
          <% sorted_participations = participations.sort_by(&:created_at).reverse %>
          <div class="d-flex justify-content-center">
            <table class="card-white text-center align-middle m-4 shadow table-hover" data-controller="accordion">
              <thead>
                <tr>
                  <th class="px-4 py-2"><h4>Date du RDV</h4></th>
                  <th class="px-5 py-2"><h4>Motif</h4></th>
                  <th class="px-4 py-2"><h4>Statut RDV</h4></th>
                  <th class="px-4 py-2"><h4>Lien</h4></th>
                  <th class="px-2 py-2"></th>
                </tr>
              </thead>
              <tbody>
                <% sorted_participations.each_with_index do |participation, index| %>
                  <% if index == 1 %>
                    <tr>
                      <td colspan="5" class="px-4 pt-4 pb-2 text-start">
                        <h5 class="mb-0"><strong>Historique sur le suivi</strong></h5>
                      </td>
                    </tr>
                  <% end %>
                  <%= render "follow_ups/participation_row",
                             participation: participation, participation_index: index,
                             category_configuration: category_configuration %>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
        <% if category_configuration.invitation_formats.any? %>
          <%= render "follow_ups/invitation_block", user:, organisation:, department:, invitations:, category_configuration:, follow_up:, motif_category: follow_up.motif_category, invitation_formats: category_configuration.invitation_formats, user_is_archived: %>
        <% end %>
        <% if convocable_participations.present? %>
          <%= render "follow_ups/convocation_block", convocable_participations:, motif_category: follow_up.motif_category %>
        <% end %>
      </div>
    </div>
  </div>
</div>
