<div class="d-flex justify-content-center">
  <table class="card-white text-center align-middle m-3 shadow-sm">
    <thead>
      <tr>
        <% if show_invitation?("sms", category_configuration) %>
          <th class="px-4 py-3">
            <h4>Invitation SMS</h4>
          </th>
        <% end %>
        <% if show_invitation?("email", category_configuration) %>
          <th class="px-4 py-3">
            <h4>Invitation mail</h4>
          </th>
        <% end %>
        <% if show_invitation?("postal", category_configuration) %>
          <th class="px-4 py-3">
            <h4>Invitation courrier</h4>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% number_of_invitations_dates_row_needed(invitations, category_configuration).times do |idx| %>
      <%= react_component(
          "components/followUp/InvitationsDatesRow", {
            invitationsDatesByFormat: { sms: [], email: [], postal: [] }.merge(invitations.group_by(&:format).transform_values { |invitations| invitations.map(&:created_at).sort.reverse }.to_h),
            invitationFormats: category_configuration.invitation_formats,
            index: idx
          }
        ) %>
      <% end %>
      <tr>
        <% if show_invitation?("sms", category_configuration) %>
          <td class="px-4 py-3">
            <%= form_for :invitation, url: structure_user_invitations_path(user.id), html: { method: :post } do |f| %>
              <%= f.hidden_field :format, value: "sms" %>
              <%= f.hidden_field :motif_category_id, value: motif_category.id %>
              <button
                data-controller="invitation-button"
                data-action="click->invitation-button#setAsPending"
                type="button"
                disabled="<%= !user.phone_number_is_mobile? || user.archived_in?(department) || follow_up.rdv_pending? || follow_up.closed?  %>"
                class="btn btn-blue"
                type="submit"
              >
                <% if invitations.any?(&:format_sms?) %>
                  <span
                    data-controller="tooltip"
                    data-action="mouseover->tooltip#reinviteButton"
                  >
                    Réinviter
                  </span>
                <% else %>
                  Inviter
                <% end %>
              </button>
            <% end %>
          </td>
        <% end %>
        <% if show_invitation?("email", category_configuration) %>
          <td class="px-4 py-3">
            <%= form_for :invitation, url: structure_user_invitations_path(user.id), html: { method: :post } do |f| %>
              <%= f.hidden_field :format, value: "email" %>
              <%= f.hidden_field :motif_category_id, value: motif_category.id %>
              <button
                data-controller="invitation-button"
                data-action="click->invitation-button#setAsPending"
                type="button"
                disabled="<%= !user.email? || user.archived_in?(department) || follow_up.rdv_pending? || follow_up.closed?  %>"
                class="btn btn-blue"
                type="submit"
              >
                <% if invitations.any?(&:format_email?) %>
                  <span
                    data-controller="tooltip"
                    data-action="mouseover->tooltip#reinviteButton"
                  >
                    Réinviter
                  </span>
                <% else %>
                  Inviter
                <% end %>
              </button>
            <% end %>
          </td>
        <% end %>
        <% if show_invitation?("postal", category_configuration) %>
          <td class="px-4 py-3">
            <%= form_for :invitation, url: structure_user_invitations_path(user.id), html: { method: :post } do |f| %>
              <%= f.hidden_field :format, value: "postal" %>
              <%= f.hidden_field :motif_category_id, value: motif_category.id %>
              <button
                data-controller="invitation-button"
                data-action="click->invitation-button#setAsPending"
                type="button"
                disabled="<%= !user.address.present? || user.archived_in?(department) || follow_up.rdv_pending? || follow_up.closed?  %>"
                class="btn btn-blue"
                type="submit"
              >
                <% if invitations.any?(&:format_postal?) %>
                  <span
                    data-controller="tooltip"
                    data-action="mouseover->tooltip#reinviteButton"
                  >
                    Réinviter
                  </span>
                <% else %>
                  Inviter
                <% end %>
              </button>
            <% end %>
          </td>
        <% end %>
      </tr>
      <%# {showInvitationsHistoryButton && (
        <tr>
          <td class="px-4 py-2" colSpan={3} style={{ cursor: "pointer" }}>
            {!showInvitationsHistory && (
              <button onClick={handleShowInvitationsHistory} type="button">
                <i class="fas fa-angle-down" /> Voir l&apos;historique{" "}
                <i class="fas fa-angle-down" />
              </button>
            )}
            {showInvitationsHistory && (
              <button onClick={handleHideInvitationsHistory} type="button">
                <i class="fas fa-angle-up" /> Voir moins <i class="fas fa-angle-up" />
              </button>
            )}
          </td>
        </tr>
      )} %>
    </tbody>
  </table>
</div>
