<% if show_invitation?(invitation_format, invitation_formats) %>
  <td class="px-4 py-3">
    <%= form_for :invitation, url: structure_user_invitations_path(user_id: user.id), data: { controller: "invitation-button" }, html: { method: :post } do |f| %>
      <%= f.hidden_field :format, value: invitation_format %>
      <%= f.fields_for :motif_category do |ff| %>
        <%= ff.hidden_field :id, value: motif_category.id %>
      <% end %>
      <button
        data-action="click->invitation-button#submit"
        class="btn btn-blue<%= invitation_disabled ? ' disabled' : '' %>"
        type="button"
      >
        <% if invitations.any?(&:"format_#{invitation_format}?") %>
          <span
            <%= tooltip(content: "Réinviter remettra les compteurs à 0 vis à vis des délais", placement: "bottom") %>
          >
            Réinviter
          </span>
        <% else %>
          Inviter
        <% end %>
      </button>
    <% end %>
  </td>
<% end %>
