<%# we don't use a form for postal invitations because the logic is more complex (and there is no redirection as a response) %>
<% if show_invitation?("postal", invitation_formats) %>
  <td class="px-4 py-3"
      data-controller="invitation-button"
      data-user-id="<%= user.id %>"
      data-department-id="<%= department.id %>"
      data-organisation-id="<%= organisation&.id %>"
      data-is-department-level="<%= department_level? %>"
      data-motif-category-id="<%= motif_category.id %>"
  >
    <button
      data-action="click->invitation-button#generatePostalInvitation"
      class="btn btn-blue<%= postal_invitation_disabled_for?(user, follow_up, user_is_archived) ? ' disabled' : '' %>"
      type="button"
    >
      <% if invitations.any?(&:format_postal?) %>
        <span
          data-controller="tooltip"
          data-action="mouseover->tooltip#reinviteButton"
        >
          Réinviter
        </span>
      <% else %>
        Inviter
      <% end %>
    </button>
  </td>
<% end %>
