<% if @all_links.length == 0 %>
  <%= render "common/remote_modal", title: "🔦 Aucun motif de convocation détecté" do %>
    <p>Aucun motif de convocation n'a été retrouvé pour cette catégorie sur RDV-Solidarités.</p>
    <p>Contactez-nous à l'adresse <%= mail_to "rdv-insertion@beta.gouv.fr", subject: "Motif de convocations" %> pour en savoir plus.</p>
  <% end %>
<% elsif @all_links.length == 1 %>
  <!-- we insert a link that is clicked automatically in that case to redirect on another window. We still have to put this inside the turbo frame "remote_modal" since the response expects it and we call the frame directly and not the component because we don't want to show the modal. -->
  <%= turbo_frame_tag "remote_modal" do %>
    <%= link_to @all_links.first, target: "_blank" do %>
      <%= tag.div data: { controller: "click-on-render" } %>
    <% end %>
  <% end %>
<% else %>
  <%= render "common/remote_modal", title: "Choix du type de rdv" do %>
    <h6 class="text-center mb-5">S'agit-il d'un rdv individuel ou d'un rdv collectif ?</h6>
    <div class="d-flex justify-content-between">
      <%= link_to @convocation_links_by_type[:individuel], target: "_blank", **with_rdv_solidarites_impersonation_warning(@convocation_links_by_type[:individuel]) do %>
        <button class="btn btn-blue-out" type="button">Rdv individuel <i class="fas fa-external-link-alt icon-sm"></i></button>
      <% end %>
      <%= link_to @convocation_links_by_type[:collectif], target: "_blank", **with_rdv_solidarites_impersonation_warning(@convocation_links_by_type[:individuel]) do %>
        <button class="btn btn-blue-out" type="button">Rdv collectif <i class="fas fa-external-link-alt icon-sm"></i></button>
      <% end %>
    </div>
  <% end %>
<% end  %>

