<%= turbo_frame_tag "rdv_context_#{rdv_context.id}_#{configuration.id}_status" do %>
  <div class="d-flex h-100 px-2 justify-content-center align-items-center <%= background_class_for_context_status(rdv_context, configuration&.number_of_days_before_action_required) %>">
    <% if rdv_context.last_rdv.present? %>
      <%= link_to(edit_rdv_path(rdv_context.last_rdv.id), data: { turbo_frame: 'remote_modal' }) do %>
        <%= display_context_status(rdv_context, configuration&.number_of_days_before_action_required) %>
      <% end %>
    <% else %>
      <%= display_context_status(rdv_context, configuration&.number_of_days_before_action_required) %>
    <% end %>
  </div>
<% end %>