<div class="mb-1 me-2 position-relative text-center d-flex align-items-center justify-content-center"
      data-controller="users-list-filter dropdown--show-options"
      data-users-list-filter-param-name-value="follow_up_statuses">
  <% selected_values_count = params[:follow_up_statuses]&.size || 0 %>
  <button type="button"
          class="btn btn-grey dropdown-toggle <%= "border-blue" if selected_values_count > 0 %>"
          data-action="dropdown--show-options#toggle"
          data-dropdown--show-options-target="button"
          aria-expanded="false"
          id="rdvi_index-nav_filter-status-button">
    <% if selected_values_count > 0 %>
      Statut <span class="filter-active ms-1"><%= selected_values_count %></span>
    <% else %>
      Statut
    <% end %>
  </button>
  <div class="dropdown-menu px-2" data-dropdown--show-options-target="dropdown" style="min-width: 280px;">
    <div class="filter-options-list">
      <% options_for_select_status(@statuses_count).each do |label, value| %>
        <% selected = params[:follow_up_statuses].present? && params[:follow_up_statuses].include?(value) %>
        <div class="form-check">
          <input class="form-check-input"
                  type="checkbox"
                  value="<%= value %>"
                  id="status_<%= value %>"
                  data-users-list-filter-target="input"
                  <%= 'checked' if selected %>>
          <label class="form-check-label<%= ' filter-label-checked' if selected %>" for="status_<%= value %>">
            <%= label %>
          </label>
        </div>
      <% end %>
    </div>
    <div class="filter-apply-button">
      <button type="button" class="btn btn-blue" data-action="users-list-filter#apply">
        Appliquer
      </button>
    </div>
  </div>
</div>