<% configurations.each do |configuration| %>
  <%= turbo_frame_tag configuration do %>
    <div class="row card-white d-flex justify-content-around mb-2">
      <%= link_to(organisation_configuration_path(organisation, configuration), class: "col-12 col-md-6 d-flex align-items-center", data: { turbo: :false }) do %>
        <%= configuration.motif_category_name %>
      <% end %>
      <div class="col-12 col-md-6 d-flex justify-content-end">
        <%= link_to organisation_configuration_path(organisation, configuration), data: { turbo: :false } do %>
          <button class="btn btn-blue-out">Afficher</button>
        <% end %>
        <%= link_to edit_organisation_configuration_path(organisation, configuration), data: { turbo: :false } do %>
          <button class="btn btn-blue mx-2">Modifier</button>
        <% end %>
        <%= button_to organisation_configuration_path(organisation, configuration), method: :delete, form: { data: { turbo_confirm: "Cette action va supprimer la configuration #{configuration.motif_category_name} pour votre organisation, êtes-vous sûr de vouloir continuer ?" } } do %>
          <button class="btn btn-danger">Supprimer</button>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
