<% content_for :title, "Configurer l'organisation - #{@organisation.name} - rdv-insertion" %>

<div class="container text-dark-blue h4-as-labels mt-5 mb-5">
  <div class="d-flex justify-content-start mb-4">
    <div>
      <%= link_to(@back_to_users_list_url || structure_users_path) do %>
        <button class="btn btn-blue-out">Retour</button>
      <% end %>
      <%= link_to @organisation.rdv_solidarites_configuration_url, target: "_blank", **with_rdv_solidarites_impersonation_warning do %>
        <%= render "common/rdvs_impersonation_warning", url: @organisation.rdv_solidarites_configuration_url if agent_impersonated? %>
        <button class="btn btn-blue" <%= agent_impersonated? ? "data-action=click->confirmation-modal#show" : "" %>>
          Voir sur RDV-Solidarités<i class="ri-external-link-line ms-1"></i>
        </button>
      <% end %>
    </div>
  </div>

  <h4>
    Détails de l'organisation
    <i
      class="ri-question-line"
      <%= tooltip(content: "Les modifications du nom, de l'email et du téléphone seront répercutées sur RDV-Solidarités", placement: "bottom") %>
    >
    </i>
  </h4>
  <%= render "organisations/organisation", organisation: @organisation %>

  <h4>Agents de l'organisation</h4>
  <div class="row card-white mb-4">
    <div class="d-flex justify-content-between">
      <div class="col-6">
        <h5>Nombre d'agents dans l'organisation</h5>
        <p><%= @organisation.agents.count %> agents</p>
      </div>
      <div class="col-6">
        <h5>Niveaux de permissions</h5>
        <p><%= @agent_roles.count(&:admin?) %> agents administrateurs, <%= @agent_roles.count(&:basic?) %> agents basiques</p>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-2 me-2">
      <%= link_to(agents_index_url(@organisation), target: "_blank", **with_rdv_solidarites_impersonation_warning) do %>
        <button class="btn btn-blue-out me-2" <% if agent_impersonated? %>data-action="click->confirmation-modal#show" <% end %>>
          <i class="ri-external-link-line mx-1"></i>Voir les agents
        </button>
        <%= render "common/rdvs_impersonation_warning", url: agents_index_url(@organisation) if agent_impersonated? %>
      <% end %>
      <%= link_to(add_agent_url(@organisation), target: "_blank", **with_rdv_solidarites_impersonation_warning) do %>
        <button class="btn btn-blue" <% if agent_impersonated? %>data-action="click->confirmation-modal#show" <% end %>>
          <i class="ri-add-line mx-1"></i>Ajouter un agent
        </button>
        <%= render "common/rdvs_impersonation_warning", url: add_agent_url(@organisation) if agent_impersonated? %>
      <% end %>
    </div>
  </div>

  <h4>Gestion des autorisations</h4>
  <div class="row card-white mb-4">
    <h6 class="px-0 mb-3">Exports CSV</h6>

    <div class="text-light-blue px-0 mt-3 mb-2">
      Sélectionner les agents non-administrateurs de votre organisation qui peuvent avoir accès à la fonctionnalité d'export.
    </div>
    <%= link_to(organisation_csv_export_authorizations_path(@organisation.id), class: "ps-0 my-2", data: { turbo_frame: 'remote_modal' }) do %>
      <button class="btn btn-blue">Gérer les autorisations</button>
    <% end %>
  </div>

  <h4>Catégories de motifs configurés</h4>
  <%= render "category_configurations/category_configurations_list", category_configurations: @category_configurations, organisation: @organisation, department: @department %>
  <div class="d-flex justify-content-end mb-4">
    <%= link_to new_organisation_category_configuration_path(@organisation) do %>
      <button class="btn btn-blue">Ajouter</button>
    <% end %>
  </div>


  <h4>Gestion des tags associés</h4>
  <div class="row card-white mb-4">
    <h6 class="px-0 mb-3">Tags utilisés dans cette organisation</h6>

    <div class="mb-3">
      <%= turbo_frame_tag "tags", class: "d-flex flex-wrap px-0" do %>
        <%= render @organisation.tags %>
      <% end %>
    </div>

    <h6 class="px-0 mb-3">Créer un nouveau tag*</h6>

      <%= render "tags/tag_form" %>

    <div class="text-light-blue px-0 mt-3 mb-2">
      <small>
        *Ce champ est une zone de commentaires libres : veillez à utiliser des termes objectifs, pertinents, non excessifs et/ou insultants.
        <br>
        Conformément aux articles 9 et 10 du RGPD, les données sensibles telles que celles relatives à la santé, à la vie sexuelle des personnes,
        <br>
        à leur situation judiciaire (infractions, condamnations et mesures de sureté) sont proscrites. L’équipe de rdv-insertion se réserve un droit
        <br>
        de suppression des informations qui seraient considérées comme sensibles.
      </small>
    </div>
  </div>

  <h4>Configuration des messages</h4>
  <%= render "messages_configurations/messages_configuration", messages_configuration: @messages_configuration %>

  <h4>Durée de conservation des données</h4>
  <span>
    La durée de conservation des données personnelles - que vous pouvez configurer en tant que responsable de traitement des données personnelles - est de
    <%= form_with model: @organisation, url: organisation_path(@organisation), method: :patch, local: true, class: "d-inline", data: { controller: "data-retention-form" } do |f| %>
      <%= f.number_field :data_retention_duration,
          min: 1,
          max: 36,
          step: 1,
          class: "form-control d-inline-block mx-2",
          style: "width: 80px;",
          data: { "data-retention-form-target": "input", action: "change->data-retention-form#submit" } %>
    <% end %>
    mois.
  </span>
</div>
