<div class="fr-container" id="home">
  <div class="fr-grid-row fr-mb-3v fr-mt-6v">
    <div class="fr-col-8 fr-mt-4v">
      <div class="fr-mb-7v">
        <h1 id="home-title">Rdv-insertion, l'outil de pilotage de rendez-vous des acteurs du RPE</h1>
        <p id="home-subtitle">Faites confiance à rdv-insertion pour <span class="text-red">gérer 30-000 rendez-vous RSA par mois</span></p>
      </div>
      <div class="fr-grid-row">
        <div class="fr-mr-3v">
          <%= link_to "https://tally.so/r/nGJo0k", class: "fr-btn", target: "_blank" do %>
            Être rappelé
          <% end %>
        </div>
        <div>
          <%= link_to "https://rdv-insertion.gitbook.io/guide-dutilisation-rdv-insertion-and-faq/blog/cas-utilisateur-1-le-departement-de-la-drome", class: "fr-btn fr-btn--secondary", target: "_blank" do %>
            Découvrir un cas utilisateur
          <% end %>
        </div>
      </div>
      <div class="d-flex flex-column" id="home-cd-logos">
        <p class="fr-mb-2w">Déjà 32 conseils départementaux utilisent nos services</p>
        <div>
          <%= image_tag "logos/logo_website_moselle.svg" %>
        </div>
      </div>
    </div>
    <div class="fr-col-4">
      <%= image_tag "illustrations/welcome-illustration.png", class: "welcome-illustration", alt: "Image d'illustration de prise de rendez-vous", style:"width: 130%" %>
    </div>
  </div>
  <div class="fr-grid-row" id="home-facts">
    <div class="fact-card">
      <p class="fact-card-title">85%</p>
      <p class="fact-card-subtitle">de taux de présence moyen aux rendez-vous</p>
    </div>
    <div class="fact-card">
      <p class="fact-card-title">– 7.5 jours</p>
      <p class="fact-card-subtitle">en moyenne de réduction des délais d'orientation</p>
    </div>
    <div class="fact-card">
      <p class="fact-card-title">– 2.3 jours</p>
      <p class="fact-card-subtitle">en moyenne de réduction des délais d'accompagnement</p>
    </div>
    <div class="fact-card">
      <p class="fact-card-title">45 min</p>
      <p class="fact-card-subtitle">de temps gagné par jour par agent des conseils départementaux</p>
    </div>
  </div>
  <div class="fr-grid-row" id="home-reinvent">
    <div id="import-illustration">
      <%= image_tag "illustrations/upload.png", alt: "Image d'illustration de l'import d'usagers" %>
    </div>
    <div id="reinvent-content">
      <div id="reinvent-content-title">
        <h2>Réinventer votre manière de gérer vos rendez-vous RSA</h2>
        <p>Importez, invitez et pilotez rapidement vos cohortes de bénéficiaires</p>
      </div>
        <div id="reinvent-content-features" data-controller="home-reinvent">
        <div class="reinvent-content-feature active" data-home-reinvent-target="feature" data-action="click->home-reinvent#toggleFeature">
          <h4>100% en ligne et sans coûts pour les collectivités</h4>
          <p>Rdv-insertion est le seul outil permettant d’autonomiser les bénéficiaires du RSA dans le choix de leurs rendez-vous et ainsi réduire drastiquement les taux d’absenteisme</p>
        </div>
        <div class="reinvent-content-feature" data-home-reinvent-target="feature" data-action="click->home-reinvent#toggleFeature">
          <h4>Une interface intuitive</h4>
          <p>Rdv-insertion est le seul outil permettant d’autonomiser les bénéficiaires du RSA dans le choix de leurs rendez-vous et ainsi réduire drastiquement les taux d’absenteisme</p>
        </div>
        <div class="reinvent-content-feature" data-home-reinvent-target="feature" data-action="click->home-reinvent#toggleFeature">
          <h4>Un logiciel mature</h4>
          <p>Rdv-insertion est le seul outil permettant d’autonomiser les bénéficiaires du RSA dans le choix de leurs rendez-vous et ainsi réduire drastiquement les taux d’absenteisme</p>
        </div>
        <div class="reinvent-content-feature" data-home-reinvent-target="feature" data-action="click->home-reinvent#toggleFeature">
          <h4>En phase avec la loi plein emploi</h4>
          <p>Rdv-insertion est le seul outil permettant d’autonomiser les bénéficiaires du RSA dans le choix de leurs rendez-vous et ainsi réduire drastiquement les taux d’absenteisme</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-grid-row" id="home-quotes" data-controller="home-quotes">
    <div id="home-quotes-card" data-action="touchstart->home-quotes#onTouchStart touchmove->home-quotes#onTouchMove touchend->home-quotes#onTouchEnd">
      <div class="quote-card active" data-home-quotes-target="quoteCard">
        <p class="quote-card-text">
          « La prise de rendez-vous en autonomie a entraîné un impact inattendu : les bénéficiaires ont un positionnement différent en rendez-vous. Ils sont moins stressés par la contrainte, les rendez-vous durent plus longtemps. »
        </p>
        <p class="quote-card-author">
          Thomas GRAVELEAU, Chargé de mission direction insertion, CD 13 
        </p>
      </div>
      <div class="quote-card" data-home-quotes-target="quoteCard">
        <p class="quote-card-text">
          « La prise de rendez-vous en autonomie a entraîné un impact inattendu : les bénéficiaires ont un positionnement différent en rendez-vous. Ils sont moins stressés par la contrainte, les rendez-vous durent plus longtemps. »
        </p>
        <p class="quote-card-author">
          Thomas GRAVELEAU, Chargé de mission direction insertion, CD 13 
        </p>
      </div>
      <div class="quote-card" data-home-quotes-target="quoteCard">
        <p class="quote-card-text">
          « La prise de rendez-vous en autonomie a entraîné un impact inattendu : les bénéficiaires ont un positionnement différent en rendez-vous. Ils sont moins stressés par la contrainte, les rendez-vous durent plus longtemps. »
        </p>
        <p class="quote-card-author">
          Thomas GRAVELEAU, Chargé de mission direction insertion, CD 13 
        </p>
      </div>
    </div>
    <div id="home-quotes-slide-indicator">
      <div class="slide-indicator-dot active" data-home-quotes-target="slideIndicator" data-action="click->home-quotes#showQuote"></div>
      <div class="slide-indicator-dot" data-home-quotes-target="slideIndicator" data-action="click->home-quotes#showQuote"></div>
      <div class="slide-indicator-dot" data-home-quotes-target="slideIndicator" data-action="click->home-quotes#showQuote"></div>
    </div>
  </div>
  <div id="home-why-rdvi">
    <div id="home-why-rdvi-title">
      <h2>Pourquoi choisir rdv-insertion</h2>
    </div>
    <div id="home-why-rdvi-keypoints">
      <div class="home-why-rdvi-keypoint">
        <%= image_tag "illustrations/why-rdvi-1.png", alt: "Image d'illustration de la raison pour laquelle rdv-insertion est le meilleur outil pour gérer les rendez-vous RSA" %>
        <div class="home-why-rdvi-keypoint-content">
          <h3>Autonomiser les bRSA</h3>
          <p>Invitez les bénéficiaires du RSA à choisir en autonomie un créneau de rendez-vous sur les créneaux de disponibilités des conseillers <br> → De meilleurs taux de présence et entrée positive en parcours.</p>
        </div>
      </div>
      <div class="home-why-rdvi-keypoint">
        <div class="home-why-rdvi-keypoint-content">
          <h3>Gérer des cohortes de bRSA</h3>
          <p>
            Importez et invitez en masse vos flux ou votre stock <br>→ Plus besoin de convoquer individuellement chaque bRSA.
          </p>
        </div>
        <%= image_tag "illustrations/why-rdvi-2.png", alt: "Image d'illustration de la raison pour laquelle rdv-insertion est le meilleur outil pour gérer les rendez-vous RSA" %>
      </div>
      <div class="home-why-rdvi-keypoint">
        <%= image_tag "illustrations/why-rdvi-3.png", alt: "Image d'illustration de la raison pour laquelle rdv-insertion est le meilleur outil pour gérer les rendez-vous RSA" %>
        <div class="home-why-rdvi-keypoint-content">
          <h3>Pilotez les rendez-vous</h3>
          <p>
            Pilotez et contrôlez en un clin d’oeil la bonne prise et la bonne tenue des rendez-vous.
          </p>
        </div>
      </div>
      <div class="home-why-rdvi-keypoint">
        <div class="home-why-rdvi-keypoint-content">
          <h3>Prescrivez des rendez-vous</h3>
          <p>
            Prescrivez des rendez-vous entre services, délégataires ou partenaires <br>→ Assurez-vous de parcours sans coutures et disposez d’une visibilité parfaite des prochains rdv possibles pour vos bRSA accompagnés.
          </p>
        </div>
        <%= image_tag "illustrations/why-rdvi-4.png", alt: "Image d'illustration de la raison pour laquelle rdv-insertion est le meilleur outil pour gérer les rendez-vous RSA" %> 
      </div>
    </div>
  </div>
  <div id="home-api">
    <div id="home-api-title">
      <h2>API rdv-insertion</h2>
      <p>Afin de limiter au maximum les douleurs générées par la double-saisie de données parfois nécessaire entre logiciels, rdv-insertion est interconnectable grâce à son API.</p>
    </div>
    <div id="home-api-features">
      <div class="home-api-feature">
        <div class="home-api-feature-logo">
          <%= image_tag "logos/france-travail.svg", alt: "Logo de France travail" %>
        </div>
        <div class="home-api-feature-content">
          <h4>France travail</h4>
          <p>Conformément aux objectifs de la LPE, rdv-insertion est connecté au SI Plateforme de FT via l’API “RDV-partenaires”.</p>
        </div>
      </div>
      <div class="home-api-feature">
        <div class="home-api-feature-logo">
          <%= image_tag "logos/solis.png", alt: "Logo de Solis" %>
        </div>
        <div class="home-api-feature-content">
          <h4>Solis</h4>
          <p>Incorporé dans la version 12 de Solis, l’interconnexion avec rdv-insertion permet de piloter la création de dossiers et l’envoi d’invitation depuis Solis. Ensuite, les rendez-vous choisis en autonomie par les bRSA remontent automatiquement dans leur dossier usager Solis.</p>
        </div>
      </div>
      <div class="home-api-feature">
        <div class="home-api-feature-logo">
          <%= image_tag "logos/suivi-de-parcours.png", alt: "Logo de Suivi de parcours" %>
        </div>
        <div class="home-api-feature-content">
          <h4>Suivi de parcours</h4>
          <p>Rdv-insertion est compatible avec l’application Suivi de Parcours développée par France Travail. L’interconnexion permet de transmettre à Suivi de Parcours les rendez-vous passés et à venir générés dans rdv-insertion</p>
        </div>
      </div>
      <div class="home-api-feature">
        <div class="home-api-feature-logo">
          <%= image_tag "illustrations/logicier-metier.png", alt: "Illustration Logicier métier" %>
        </div>
        <div class="home-api-feature-content">
          <h4>Logicier métier</h4>
          <p>Comme les Bouches du Rhônes, le Cantal et le Lot-et-Garonne, notre API est à votre disposition pour interconnecté vos propres logiciels à rdv-insertion.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="home-accompagnement" data-controller="home-accompagnement">
    <div id="home-accompagnement-title">
      <h2>Notre équipe vous accompagne</h2>
      <p>A chaque étape du déploiement de votre espace rdv-insertion, l’équipe est à votre disposition pour répondre à vos besoins. </p>
    </div>
    <div id="home-accompagnement-steps">
      <div class="home-accompagnement-step">
        <%= image_tag "illustrations/accompagnement-step-1.png", alt: "Illustration accompagnement 1" %>
      </div>
      <div class="home-accompagnement-step">
        <%= image_tag "illustrations/accompagnement-step-2.png", alt: "Illustration accompagnement 2" %>
      </div>
      <div class="home-accompagnement-step">
        <%= image_tag "illustrations/accompagnement-step-3.png", alt: "Illustration accompagnement 3" %>
      </div>
      <div class="home-accompagnement-step">
        <%= image_tag "illustrations/accompagnement-step-4.png", alt: "Illustration accompagnement 4" %>
      </div>
    </div>
    <div id="home-accompagnement-step-infos">
      <div class="home-accompagnement-step-info">
        <h3>1. Étude d'opportunité</h3>
        <p>Nous étudions avec vous dans quelle mesure et comment l’outil rdv-insertion vous aidera à améliorer la gestion et le pilotage de vos rdv RSA.</p>
      </div>
    </div>
    <div id="home-accompagnement-dots">
      <div class="home-accompagnement-dot active" data-home-accompagnement-target="dot" data-action="click->home-accompagnement#toggleStep"></div>
      <div class="home-accompagnement-dot" data-home-accompagnement-target="dot" data-action="click->home-accompagnement#toggleStep"></div>
      <div class="home-accompagnement-dot" data-home-accompagnement-target="dot" data-action="click->home-accompagnement#toggleStep"></div>
    </div>
  </div>
</div>
