<div class="container-fluid mt-5">
  <div class="row justify-content-center mb-5">
    <div class="col-11 col-lg-5 d-flex flex-column mt-auto mb-5">
      <div class="welcome-title mt-sm-5">
        <h1 class="text-left w-100">Accélérez les rendez&#8209;vous d'insertion et diminuez le taux d'absentéisme</h1>
      </div>
      <div class="d-flex">
        <div class="me-2">
          <%= link_to "https://tally.so/r/nro2X2", target: "_blank" do %>
            <button class="btn btn-blue">Être rappelé</button>
          <% end %>
        </div>
        <div>
          <%= link_to "https://rdv-insertion.gitbook.io/guide-dutilisation-rdv-insertion-and-faq/blog", target: "_blank" do %>
            <button class="btn btn-blue-out">Découvrir un cas utilisateur</button>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-11 col-lg-5">
      <%= image_tag "illustrations/welcome-illustration.svg", class: "welcome-illustration", alt: "Image d'illustration de prise de rendez-vous" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <h3 class="col-10 text-left mb-5">Rdv-insertion permet aux départements d’organiser facilement leurs rendez-vous avec leurs usagers allocataires du RSA (rendez-vous individuels, collectifs, rendez-vous de suivi ou ateliers).</h3>
  </div>

  <div class="row mx-5 mb-4">
    <div class="col-sm-10 col-md-3 d-flex flex-column align-items-center mb-4 mb-md-0">
      <%= image_tag "illustrations/computer.svg", class: "welcome-illustration-sm mb-3", alt: "Image d'illustration en quelques clics" %>
      <p class="text-center">Invitez en masse par SMS et email en quelques clics</p>
    </div>
    <div class="col-sm-10 col-md-3 d-flex flex-column align-items-center mb-4 mb-md-0">
      <%= image_tag "illustrations/letter.svg", class: "welcome-illustration-sm mb-3", alt: "Image d'illustration courrier" %>
      <p class="text-center">Diminuez les tâches administratives de gestion des courriers et d'agenda
    </div>
    <div class="col-sm-10 col-md-3 d-flex flex-column align-items-center mb-4 mb-md-0">
      <%= image_tag "illustrations/calendar.svg", class: "welcome-illustration-sm mb-3", alt: "Image d'illustration calendrier" %>
      <p class="text-center">Gérez facilement les relances et le suivi des prises de rendez-vous
    </div>
    <div class="col-sm-10 col-md-3 d-flex flex-column align-items-center mb-4 mb-md-0">
      <%= image_tag "illustrations/choice.svg", class: "welcome-illustration-sm mb-3", alt: "Image d'illustration du choix" %>
      <p class="text-center">Les personnes invitées sont autonomes dans leur prise de rendez-vous et bénéficient d'un rappel automatique
    </div>
  </div>
  <div class="row d-flex justify-content-center card-demo">
    <h3 class="col-10 text-center mb-5 text-dark-blue">Et ça ressemble à quoi ?</h3>
    <div class="col-10 col-md-8">
      <video controls width="100%" src="https://rdv-insertion-medias-production.s3.fr-par.scw.cloud/assets/rdv_insertion_landing.mp4"></video>
    </div>
  </div>
  <div class="row justify-content-center background-dark-blue text-white">
    <p class="col-10 text-left mt-4 mb-4">Ce service est proposé par le Groupement d’Intérêt Public <%= link_to "\"Plateforme de l'inclusion\"", "https://inclusion.beta.gouv.fr/nos-services/", class: "link-blue-light", target: :blank %>, créé par arrêté en avril 2022. Sa mission est de développer de nouveaux services publics pour faciliter la vie des personnes en insertion et de celles et ceux qui les accompagnent.</p>
  </div>

  <div class="row justify-content-center card-demo">
    <h2 class="col-10 text-center text-dark-blue bold mb-4">Ça vous intéresse&nbsp;?</h2>
    <p class="col-10 text-center">Vous êtes un conseil départemental et vous souhaitez en savoir plus sur notre service ?</p>
    <p class="col-10 text-center mb-4">Notre équipe est à votre écoute pour adapter rdv-insertion à vos besoins.</p>
    <div class="col-10 text-center">
      <%= link_to "https://calendly.com/eva-laurent-rdvi/60min", target: "_blank" do %>
        <button class="btn btn-blue">Demander une démo</button>
      <% end %>
    </div>
  </div>

</div>
