<div id="<%= dom_id(agent, :referent) %>" class="d-flex justify-content-between my-4">
  <div><p><%= "#{agent.first_name} #{agent.last_name} (#{agent.email})" %></p></div>
  <div>
    <%= simple_form_for(:referent_assignation, url: department_referent_assignations_path(department), html: { method: assigned ? :delete : :post }) do |f| %>
      <%= f.input :applicant_id,
                  as: :hidden,
                  input_html: { class: "form-control", value: applicant.id }
      %>
      <%= f.input :agent_id,
                  as: :hidden,
                  input_html: { class: "form-control", value: agent.id }
      %>
        <%= f.button :submit, assigned ? "- Retirer" : "+ Assigner", class: "btn #{assigned ? 'btn-danger' : 'btn-blue'} text-white" %>
    <% end %>
  </div>
</div>
