<%= render "common/remote_modal", title: "Informer l’organisation par email" do %>
  <%= form_for(:email, url: department_organisation_user_added_notifications_path(department_id: current_department.id, organisation_id: organisation.id), method: :post) do |f| %>
      <%= f.hidden_field :user_id, value: user.id %>
      <%= f.hidden_field :source, value: local_assigns[:source] %>
      <div class="p-3 pt-0">
        <p>Prévenir l’organisation que l’usager a été ajouté à leur liste </p>
        <div class="mb-3">
          <h5 class="text-dark-blue h4-as-labels">Destinataire</h5>
          <input readonly value="<%= organisation.email %>" class="form-control">
        </div>
        <div class="mb-3">
          <h5 class="text-dark-blue h4-as-labels">Objet</h5>
            <%= f.text_field :subject, class: "form-control", value: user_added_notification_subject, readonly: true %>
        </div>
        <div class="mb-3">
          <h5 class="text-dark-blue h4-as-labels">Message</h5>
            <%= f.text_area :content, readonly: true, class: "form-control", cols: 15, rows: 4, value: user_added_notification_content(source: local_assigns[:source], user:, organisation:) %>
        </div>
        <div class="mb-3">
          <h5 class="text-dark-blue h4-as-labels">Ajouter un message personnalisé</h5>
          <p>Ce message apparaitra après le message ci-dessus</p>
            <%= f.text_area :custom_content, class: "form-control", cols: 15, rows: 6, placeholder: "Votre message personnalisé." %>
        </div>
        <div class="mb-4">
          <h5 class="text-dark-blue h4-as-labels">Pièces jointes</h5>
            <%= f.file_field :attachments, class: "form-control", multiple: true %>
        </div>

        <div class="d-flex justify-content-end align-items-center pt-2">
          <button type="button" class="btn btn-blue-out border-0 me-2" data-bs-dismiss="modal">
            Ignorer cette étape
          </button>
          <button type="submit" class="btn btn-blue">
            <i class="ri-send-plane-line me-2"></i>
            Envoyer
          </button>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
