<%= turbo_frame_tag dom_id(category_configuration, :messages) do %>
  <div class="mb-4 background-blue-paler p-4 rounded-3">
    <h3 class="h5 mb-2 fw-bold text-dark-blue">Messages</h3>

    <div class="mx-3 mb-4">
      <%= render "common/attribute_display_inline",
          record: category_configuration,
          attribute: :invite_to_user_organisations_only,
          label: "Invitation limitée aux organisations de l'usager" %>

      <%= render "common/attribute_display_inline",
          label: "Durée de validité des liens d'invitations",
          value: invitations_validity_in_days(category_configuration),
          blank_text: "Pas de limite" %>

      <div class="row py-2 align-items-center">
        <div class="col-4 d-flex align-items-center">
          <span class="fw-bold">Contenu des messages</span>
        </div>
        <div class="col-4">
          <%= link_to previews_invitations_path(category_configuration_id: category_configuration.id),
                      data: { turbo_frame: "remote_modal" },
                      class: "text-decoration-underline" do %>
            Consulter les messages
          <% end %>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <%= link_to edit_organisation_category_configuration_messages_path(organisation, category_configuration),
                  class: "btn btn-blue",
                  data: { turbo_frame: "remote_modal" } do %>
        Modifier
      <% end %>
    </div>
  </div>
<% end %>
