<%= render "common/remote_modal", title: "Modifier les préférences de messages de cette catégorie", size: :large do %>
  <%= form_with model: @category_configuration,
                url: organisation_category_configuration_messages_path(@organisation, @category_configuration),
                method: :patch,
                data: { turbo_frame: "remote_modal" } do |f| %>
    <%= turbo_frame_tag "error_list" %>
    <div class="px-4"><%= render "form", f: f %></div>

    <hr class="hr-bleed">

    <div class="d-flex justify-content-end gap-2">
      <button type="button" class="btn btn-blue-out" data-bs-dismiss="modal">Annuler</button>
      <%= f.submit "Enregistrer", class: "btn btn-blue" %>
    </div>
  <% end %>
<% end %>
