<div id="<%= dom_id(organisation, :applicants_organisation) %>" class="d-flex justify-content-between my-4">
  <div class="col-5"><p><%= organisation.name %></p></div>
  <div class="col-7">
    <%= simple_form_for(:applicants_organisation, url: department_applicants_organisations_path(department, current_organisation_id: @current_organisation&.id), html: { method: belongs_to_org ? :delete : :post }) do |f| %>
      <%= f.input :applicant_id,
                  as: :hidden,
                  input_html: { class: "form-control", value: applicant.id }
      %>
      <%= f.input :organisation_id,
                  as: :hidden,
                  input_html: { class: "form-control", value: organisation.id }
      %>
      <div class="d-flex justify-content-between">
        <% if belongs_to_org %>
          <div></div>
          <%= f.button(
                :submit,
                "- Retirer",
                class: "btn btn-danger text-white",
                data: organisations_count == 1 ? { confirm: "Cette action va supprimer défintivement la fiche du bénéficiaire, êtes-vous sûr de vouloir la supprimer ?" } : {},
                disabled: !removable
              )
          %>
        <% else %>
          <div class="mx-2 w-100">
            <%= f.input :motif_category_id,
                        collection: organisation.motif_categories.map { |mc| [mc.name, mc.id] },
                        include_blank: "Aucune catégorie",
                        input_html: { class: "form-control" }

            %>
          </div>
          <%= f.button :submit, "+ Ajouter", class: "btn btn-blue text-white" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
