<div class="container applicant-form label-blue mt-4">
  <div class="d-flex justify-content-between mb-4">
    <div>
      <%= link_to(return_path) do %>
        <button class="btn btn-blue-out" type="button">Annuler</button>
      <% end %>
    </div>
    <h1 class="applicant-form-title d-none d-sm-inline"><%= title %></h1>
    <div>
      <button type="submit" class="btn btn-blue">Enregistrer</button>
    </div>
  </div>
  <div class="mb-4">
    <div class="row d-flex justify-content-start flex-wrap">
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:first_name) %>*</h4>
        <p><%= f.input :first_name %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:last_name) %>*</h4>
        <p><%= f.input :last_name %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:title) %>*</h4>
        <p><%= f.input :title, as: :select, collection: ["monsieur", "madame"] %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:role) %>*</h4>
        <p><%= f.input :role, as: :select, collection: ["demandeur", "conjoint"], selected: @applicant.role %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:affiliation_number) %>*</h4>
        <p><%= f.input :affiliation_number %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:department_internal_id) %></h4>
        <p><%= f.input :department_internal_id %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:email) %></h4>
        <p><%= f.input :email %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:birth_date) %></h4>
        <p><%= f.input :birth_date,
                        input_html: { class: "date-select" },
                        as: :date, start_year: Date.today.year - 100,
                        end_year: Date.today.year,
                        include_blank: true,
                        order: [:day, :month, :year] %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:address) %></h4>
        <p><%= f.input :address %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:phone_number) %></h4>
        <p>
          <%= f.input :phone_number %>
        </p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:rights_opening_date) %></h4>
        <p><%= f.input :rights_opening_date,
                        input_html: { class: "date-select" },
                        as: :date, start_year: Date.today.year - 10,
                        end_year: Date.today.year,
                        include_blank: true,
                        order: [:day, :month, :year] %></p>
      </div>
      <% if department_level? && !@applicant.persisted? %>
        <div class="col-12 col-md-6 px-5">
          <h4 class="label-blue">Organisation *</h4>
          <p>
            <%= f.input :organisation_ids,
                        as: :select,
                        collection:  @organisations.map { |o| [o.name, o.id] },
                        include_blank: false
            %>
          </p>
        </div>
      <% end %>
      <% if @applicant.is_archived? %>
        <div class="col-12 col-md-6 px-5">
          <h4 class="label-blue"><%= Applicant.human_attribute_name(:archiving_reason) %></h4>
          <p>
            <%= f.input :archiving_reason %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
