<div class="row block-white justify-content-center">
  <ul class="nav nav-tabs">
    <% @all_configurations.each do |configuration| %>
      <li class="nav-item">
        <%= link_to configuration.context_name, compute_index_path(@organisation, @department, context: configuration.context), class:  "nav-link #{!@not_invited_list && configuration.id == @current_configuration.id ? 'active' : ''}"%>
      </li>
    <% end %>
    <li class="nav-item">
      <%= link_to "Non invités", compute_index_path(@organisation, @department, not_invited: true), class: "nav-link #{@not_invited_list ? 'active' : ''}" %>
    </li>
  </ul>
  <div class="col-12 text-center">
    <% if no_search_results?(@applicants) %>
      <h4 class="py-4">Aucun allocataire ne correspond à votre recherche</h4>
    <% else %>
      <table class="table table-hover table-responsive">
        <thead class="text-dark-blue">
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col" class="d-none d-lg-table-cell">Email</th>
          <th scope="col" class="d-none d-lg-table-cell">Téléphone</th>
          <th scope="col" class="d-none d-lg-table-cell">Adresse</th>
          <% unless @not_invited_list %>
            <% unless show_notification?(@current_configuration) %>
              <th scope="col">Première invitation</th>
              <th scope="col">Dernière invitation</th>
            <% end %>
            <% if show_notification?(@current_configuration) %>
              <th scope="col">Dernière Notification envoyée le</th>
            <% end %>
            <th scope="col">Statut</th>
          <% end %>
          <th scope="col"></th>
        </thead>
        <tbody class="align-middle">
          <% @applicants.each do |applicant| %>
            <% rdv_context = applicant.rdv_context_for(@current_context) %>
            <tr class="<%= "table-danger" if applicant.is_archived? %>">
              <td><%= display_attribute applicant.last_name %></td>
              <td><%= display_attribute applicant.first_name %></td>
              <td class="d-none d-lg-table-cell">
                <% if applicant.email.present? %>
                  <i class="fas fa-check green-check" />
                <% else %>
                  <i class="fas fa-times-circle red-check" />
                <% end %>
              </td>
              <td class="d-none d-lg-table-cell">
                <% if applicant.phone_number.present? %>
                  <i class="fas fa-check green-check" />
                <% else %>
                  <i class="fas fa-times-circle red-check" />
                <% end %>
              </td>
              <td class="d-none d-lg-table-cell">
                <% if applicant.address.present? %>
                  <i class="fas fa-check green-check" />
                <% else %>
                  <i class="fas fa-times-circle red-check" />
                <% end %>
              </td>
              <% unless @not_invited_list %>
                <% unless show_notification?(@current_configuration) %>
                  <td><%= display_attribute format_date(rdv_context.first_invitation_sent_at) %></td>
                  <td><%= rdv_context.invitations.length > 1 ? display_attribute(format_date(rdv_context.last_invitation_sent_at)) : "-" %></td>
                <% end %>
                <% if show_notification?(@current_configuration) %>
                  <td><%= display_attribute format_date(applicant.last_notification_sent_at) %></td>
                <% end %>
                <% if applicant.is_archived? %>
                  <td>Dossier archivé</td>
                <% else %>
                  <td class="<%= background_class_for_context_status(rdv_context, @current_configuration.number_of_days_before_action_required) %>">
                    <%= display_context_status(rdv_context, @current_configuration.number_of_days_before_action_required) %>
                  </td>
                <% end %>
              <% end %>
              <td class="padding-left-15">
                <%= link_to compute_applicant_path(applicant, @organisation, @department) do %>
                  <button class="btn btn-blue">Gérer</button>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <div class="row justify-content-center">
      <div class="col-3 justify-content-center nav-pagination">
        <%= paginate @applicants, outer_window: 1, window: 1 %>
      </div>
    </div>
  </div>
</div>
