<div class="container rdv-insertion-form text-dark-blue h4-as-labels mt-4">
  <div class="d-flex justify-content-between mb-4">
    <div>
      <%= link_to(return_path) do %>
        <button class="btn btn-blue-out" type="button">Annuler</button>
      <% end %>
    </div>
    <h1 class="h1-form-title d-none d-sm-inline"><%= title %></h1>
    <div>
      <button type="submit" class="btn btn-blue">Enregistrer</button>
    </div>
  </div>
  <div class="mb-4">
    <div class="row d-flex justify-content-start flex-wrap">
      <%= render "common/attribute_input", f:f, attribute: :first_name, mandatory: true %>
      <%= render "common/attribute_input", f:f, attribute: :last_name, mandatory: true %>
      <%= render "common/attribute_input", f:f, attribute: :title, mandatory: true, collection: ["monsieur", "madame"] %>
      <%= render "common/attribute_input", f:f, attribute: :role, mandatory: true, collection: ["demandeur", "conjoint"] %>
      <%= render "common/attribute_input", f:f, attribute: :affiliation_number, mandatory: true %>
      <%= render "common/attribute_input", f:f, attribute: :department_internal_id %>
      <%= render "common/attribute_input", f:f, attribute: :email %>
      <%= render "common/attribute_input", f:f, attribute: :birth_date, start_year: Date.today.year - 100 %>
      <%= render "common/attribute_input", f:f, attribute: :address %>
      <%= render "common/attribute_input", f:f, attribute: :phone_number %>
      <%= render "common/attribute_input", f:f, attribute: :rights_opening_date, start_year: Date.today.year - 10 %>
      <% if department_level? && !@applicant.persisted? %>
        <div class="col-12 col-md-6 px-5">
          <h4 class="text-dark-blue h4-as-labels">Organisation *</h4>
          <p>
            <%= f.input :organisation_ids,
                        as: :select,
                        collection: @organisations.map { |o| [o.name, o.id] },
                        include_blank: false
            %>
          </p>
        </div>
      <% end %>
      <%= render "common/attribute_input", f:f, attribute: :archiving_reason if @applicant.archived? %>
    </div>
  </div>
</div>
