<div class="row block-white justify-content-center">
  <div class="col-10 text-center">
    <% if no_search_results?(@applicants) %>
      <h4>Aucun allocataire ne correspond à votre recherche</h4>
    <% else %>
      <table class="table table-hover table-responsive">
        <thead class="light-blue">
          <th scope="col">Numéro d'allocataire</th>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Email</th>
          <% if show_invitation?(@organisation) %>
            <th scope="col">Dernière Invitation</th>
          <% end %>
          <% if show_notification?(@organisation) %>
             <th scope="col">Dernière Notification envoyée le</th>
          <% end %>
          <th scope="col">Statut</th>
        </thead>
        <tbody class="">
          <% @applicants.each do |applicant| %>
            <tr>
              <td><%= display_attribute applicant.affiliation_number %></td>
              <td><%= display_attribute applicant.first_name %></td>
              <td><%= display_attribute applicant.last_name %></td>
              <td><%= display_attribute applicant.email %></td>
              <% if show_invitation?(@organisation) %>
                <td><%= display_attribute format_date(applicant.last_invitation_sent_at) %></td>
              <% end %>
              <% if show_notification?(@organisation) %>
                 <td><%= display_attribute format_date(applicant.last_notification_sent_at) %></td>
              <% end %>
              <td class="<%= background_class_for_status(applicant) %>">
                <%= I18n.t("activerecord.attributes.applicant.statuses.#{applicant.status}") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <div class="row justify-content-center">
      <div class="col-3 justify-content-center nav-pagination">
        <%= paginate @applicants, outer_window: 1, window: 1 %>
      </div>
    </div>
  </div>
</div>
