<table class="table table-hover table-responsive">
  <thead class="text-dark-blue">
    <th scope="col">Nom</th>
    <th scope="col">Prénom</th>
    <th scope="col">Première invitation</th>
    <th scope="col">Dernière invitation</th>
    <th scope="col">Statut</th>
    <th scope="col"></th>
  </thead>
  <tbody class="align-middle">
    <% @applicants.each do |applicant| %>
      <tr class="table-danger">
        <td><%= display_attribute applicant.last_name %></td>
        <td><%= display_attribute applicant.first_name %></td>
        <td id="first-invitation-date-<%= applicant.id %>"><%= display_attribute format_date(applicant.relevant_first_invitation_sent_at) %></td>
        <td id="last-invitation-date-<%= applicant.id %>"><%= display_attribute(format_date(applicant
        .last_invitation_sent_at)) %></td>
        <td>Dossier archivé</td>
        <td class="padding-left-15">
          <%= link_to compute_applicant_path(applicant, @organisation, @department) do %>
            <button class="btn btn-blue">Gérer</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
