<%= render "common/remote_modal", title: "Une personne existe déjà avec cette adresse email" do %>
  <p>La personne ci-dessous partage le même <%= I18n.t("activerecord.attributes.applicant.#{duplicate_attribute}").downcase %> mais est enregistré sous un un prénom différent:</p>
  <p><strong><%= contact_duplicate.full_name %></strong></p>
  <p>S'agit-il de la même personne ou d'une autre personne?</p>
  <p>S'il s'agit d'une personne différente, on l'enregistrera sans <%= I18n.t("activerecord.attributes.applicant.#{duplicate_attribute}").downcase %></p>
  <div class="d-flex justify-content-around">
    <%= simple_form_for(:applicant, url: compute_create_path(organisation, department), html: { method: :post }, data: { "turbo-frame" => "_top" }) do |f| %>
        <% applicant_attributes.each do |attribute_name, attribute_value| %>
          <%= f.hidden_field attribute_name, value: attribute_value %>
        <% end %>
        <%= f.hidden_field :encrypted_id, value: encrypted_id %>
      <button type="submit" class="btn btn-blue-out">C'est la même personne</button>
    <% end %>
    <%= simple_form_for(:applicant, url: compute_create_path(organisation, department), html: { method: :post }, data: { "turbo-frame" => "_top" }) do |f| %>
        <% applicant_attributes.except(duplicate_attribute).each do |attribute_name, attribute_value| %>
          <%= f.hidden_field attribute_name, value: attribute_value %>
        <% end %>
      <button type="submit" class="btn btn-blue">C'est une autre personne</button>
    <% end %>
  </div>
<% end %>
