<h5 class="text-center py-4"><%= configuration.context_name %></h5>
<div class="d-flex justify-content-around">
  <% if configuration.invitation_formats.any? %>
     <%= react_component(
      "components/InvitationBlock", {
        applicant: @applicant,
        organisation: @organisation,
        department: @department,
        invitations: rdv_context.nil? ? [] : rdv_context.invitations,
        isDepartmentLevel: department_level?,
        invitationFormats: configuration.invitation_formats,
        context: configuration.context,
        status: rdv_context&.status
      }
    ) %>
  <% end %>
  <% if rdv_context&.rdvs.present? %>
      <table class="tracking-block block-white text-center align-middle mb-4 mx-4">
        <caption class="text-center">RDVs</caption>
        <thead>
          <tr>
            <th class="px-4 py-2"><h4>RDV pris le</h4></th>
            <th class="px-4 py-2"><h4>Date du RDV</h4></th>
            <th class="px-4 py-2"><h4>Statut RDV</h4></th>
            <th class="px-4 py-2"><h4>Lien</h4></th>
          </tr>
        </thead>
        <tbody>
          <% rdv_context.rdvs.each do |rdv| %>
            <tr>
              <td class="px-4 py-3"><%= format_date(rdv.created_at) %></td>
              <td class="px-4 py-3"><%= format_date(rdv.starts_at) %></td>
              <td class="px-4 py-3 <%= background_class_for_rdv_status(rdv) %>"><%= display_rdv_status(rdv) %></td>
              <td class="px-4 py-2">
                <%= link_to rdv.rdv_solidarites_url, target: "_blank" do %>
                  <button class="btn btn-blue">
                    Voir sur RDV-S<i class="fas fa-external-link-alt icon-sm"></i>
                  </button>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>
  <div className="d-flex justify-content-center">
    <table class="tracking-block block-white text-center align-middle m-4">
      <caption></caption>
      <thead>
        <tr>
          <th class="px-4 py-2"><h4>Statut global</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-4 <%= background_class_for_context_status(rdv_context) %>" id="js-block-status-<%= configuration.context %>"><%= display_context_status(rdv_context) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
