<div class="d-flex align-items-center context-header">
  <span></span>
  <h5 class="text-center px-2 py-4">
    <strong>
      <%= configuration.motif_category_name %>
    </strong>
   <small><%= configuration.rdv_with_referents? ? " (avec référents)" : "" %></small>
  </h5>
  <span></span>
  <table class="mx-2">
    <tbody>
      <tr>
        <td class="px-2 py-1 context-status <%= background_class_for_context_status(rdv_context, configuration.number_of_days_before_action_required) %>" id="js-block-status-<%= configuration.motif_category %>"><em><%= display_context_status(rdv_context, configuration.number_of_days_before_action_required) %></em></td>
      </tr>
    </tbody>
  </table>
  <span></span>
</div>
<div class="context-block d-flex justify-content-center">
  <% if configuration.invitation_formats.any? %>
    <%= react_component(
      "components/InvitationBlock", {
        applicant: @applicant,
        organisation: @organisation,
        department: @department,
        invitations: invitations,
        isDepartmentLevel: department_level?,
        invitationFormats: configuration.invitation_formats,
        motifCategory: configuration.motif_category,
        status: rdv_context.status,
      }
    ) %>
  <% end %>
  <div class="d-flex justify-content-center rdv-status-block">
    <div>
      <table class="card-white text-center align-middle mb-4 mx-4">
        <thead>
          <tr>
            <th class="px-4 py-2"><h4>RDV pris le</h4></th>
            <th class="px-4 py-2"><h4>Date du RDV</h4></th>
            <th class="px-5 py-2"><h4>Motif</h4></th>
            <% if convocable_participations.present? %>
              <th class="px-4 py-2"><h4>Convoqué par</h4></th>
            <% end %>
            <th class="px-4 py-2"><h4>Statut RDV</h4></th>
            <th class="px-4 py-2"><h4>Lien</h4></th>
          </tr>
        </thead>
        <tbody>
        <% if participations.present? %>
          <% participations.sort_by(&:created_at).each do |participation| %>
            <tr>
              <td class="px-4 py-3"><%= format_date(participation.created_at) %></td>
              <td class="px-4 py-3"><%= format_date(participation.starts_at) %></td>
              <td class="px-2 py-3"><%= participation.motif_name %></td>
              <% if convocable_participations.present?  %>
                <td class="px-4 py-2"><%= participation.convocable? ? sanitize(display_convocation_formats(participation.convocation_formats)) : " - " %></td>
              <% end %>
              <td class="px-4 py-3 <%= background_class_for_participation_status(participation) %>">
                <%= display_participation_status(participation) %>
              </td>
              <td class="px-4 py-3">
                <%= link_to participation.rdv_solidarites_url, target: "_blank" do %>
                  <button class="btn btn-blue">
                    Voir sur RDV-S<i class="fas fa-external-link-alt icon-sm"></i>
                  </button>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td class="px-4 py-3">-</td>
            <td class="px-4 py-3">-</td>
            <td class="px-4 py-3">-</td>
            <td class="px-4 py-3"></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <% if should_convene_for?(rdv_context, configuration) %>
        <div class="m-2 p-2 text-center">
          <%= render "convocation_button", applicant: @applicant, convocation_motif: @convocation_motifs_by_rdv_context[rdv_context] %>
        </div>
      <% end %>
    </div>
  </div>
</div>
