<div class="d-flex align-items-center context-header">
  <span></span>
  <h5 class="text-center px-2 py-4"><strong><%= configuration.context_name %></strong></h5>
  <span></span>
  <table class="mx-2">
    <tbody>
      <tr>
        <td class="px-2 py-1 context-status <%= background_class_for_context_status(rdv_context, configuration.number_of_days_before_action_required) %>" id="js-block-status-<%= configuration.context %>"><em><%= display_context_status(rdv_context, configuration.number_of_days_before_action_required) %></em></td>
      </tr>
    </tbody>
  </table>
  <span></span>
</div>
<div class="context-block d-flex justify-content-center">
  <% if configuration.invitation_formats.any? %>
    <%= react_component(
      "components/InvitationBlock", {
        applicant: @applicant,
        organisation: @organisation,
        department: @department,
        invitations: rdv_context.nil? ? [] : rdv_context.invitations,
        isDepartmentLevel: department_level?,
        invitationFormats: configuration.invitation_formats,
        context: configuration.context,
        numberOfDaysToAcceptInvitation: configuration.number_of_days_to_accept_invitation,
        status: rdv_context&.status,
      }
    ) %>
  <% end %>
  <div class="d-flex justify-content-center rdv-status-block">
    <div>
      <table class="block-white text-center align-middle mb-4 mx-4">
        <thead>
          <tr>
            <th class="px-4 py-2"><h4>RDV pris le</h4></th>
            <th class="px-4 py-2"><h4>Date du RDV</h4></th>
            <th class="px-4 py-2"><h4>Statut RDV</h4></th>
            <th class="px-4 py-2"><h4>Lien</h4></th>
          </tr>
        </thead>
        <tbody>
          <% if rdv_context&.rdvs.present? %>
            <% rdv_context.rdvs.each do |rdv| %>
              <tr>
                <td class="px-4 py-3"><%= format_date(rdv.created_at) %></td>
                <td class="px-4 py-3"><%= format_date(rdv.starts_at) %></td>
                <td class="px-4 py-3 <%= background_class_for_rdv_status(rdv) %>"><%= display_rdv_status(rdv) %></td>
                <td class="px-4 py-3">
                  <%= link_to rdv.rdv_solidarites_url, target: "_blank" do %>
                    <button class="btn btn-blue">
                      Voir sur RDV-S<i class="fas fa-external-link-alt icon-sm"></i>
                    </button>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td class="px-4 py-3">-</td>
              <td class="px-4 py-3">-</td>
              <td class="px-4 py-3">-</td>
              <td class="px-4 py-3"></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
