<%= form_with method: :get, local: true, url: compute_index_path(@organisation, @department) do |form| %>
  <%= form.text_field :search_query, placeholder: "Prénom, nom, email, numéro allocataire...", class: "form-control mb-1" %>
  <%= form.hidden_field :motif_category, value: @current_motif_category %>
  <div class="d-flex justify-content-between">
    <%= form.submit "Rechercher", name: nil, class: "btn btn-blue-out" %>
    <% if display_back_to_list_button? %>
      <div class="d-flex justify-content-start">
        <%= link_to compute_index_path(@organisation, @department, motif_category: @current_motif_category), class: "btn btn-blue-out" do %>
          Retour à la liste
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

