<div class="container mt-5 mb-5">
  <div class="row mb-4 block-white justify-content-center">
    <div class="col-4 justify-content-center">
      <div class="mb-1">
        <%=
          select(
            "applicant", "status", options_for_select_status(@statuses_count),
            { prompt: "Filtrer par statut" },
            class: "text-center form-select js-status-selector"
          )
        %>
      </div>
      <%= render 'search_form' %>
      <div class=" text-left mt-2">
        <%= check_box("applicants_list", "action_required", class: "js-action-required-checkbox") %> Intervention nécessaire
        <small><i class="fas fa-question-circle" id="js-action-required-tooltip"></i></small>
      </div>

    </div>
    <div class="col-4 d-flex flex-column justify-content-center align-items-center">
      <% if image_compiled?("maps/#{@department.name.parameterize}.svg") %>
        <%= image_pack_tag("maps/#{@department.name.parameterize}.svg", alt: @department.name.parameterize, width: 50, height: 50) %>
      <h4 class="text-center department-map-title mb-0">
        <%= @organisation ? @organisation.name : @department.name %>
      </h4>
      <% end %>
    </div>
    <div class="col-4 d-flex flex-column justify-content-center align-items-end dropdown">
      <% if @organisation.present? %>
        <a class="btn btn-blue dropdown-toggle mb-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Créer allocataire(s)
        </a>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
          <li>
          <%= link_to new_organisation_applicant_path(@organisation), class: "dropdown-item" do %>
              Créer un allocataire
            <% end %>
          </li>
          <li>
          <%= link_to new_organisation_upload_path(@organisation), class: "dropdown-item" do %>
              Charger fichier allocataires
            <% end %>
          </li>
        </ul>
      <% else %>
        <%= link_to(new_department_upload_path(@department), class: "btn btn-blue") do %>
          Charger fichier allocataires
        <% end %>
      <% end %>

      <%= link_to "https://rdv-insertion.gitbook.io/guide-dutilisation-rdv-insertion/", target: :blank do %>
        <button class="btn btn-blue-out mt-2">Guide d'utilisation<i class="fas fa-external-link-alt icon-sm"></i></button>
      <% end %>
    </div>
  </div>
  <%= render "applicants_list" %>
</div>

