<div class="container mt-5">
  <div class="row mb-4 block-white justify-content-center">
    <div class="col-4 justify-content-center">
      <%= render 'search_form' %>
    </div>
    <div class="col-4 d-flex flex-column justify-content-center align-items-center">
      <% if image_compiled?("maps/#{@department.name.parameterize}.svg") %>
        <%= image_pack_tag("maps/#{@department.name.parameterize}.svg", alt: @department.name.parameterize, width: 50, height: 50) %>
      <h4 class="text-center">
        <%= @department.name %>
      </h4>
      <% end %>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <div class="text-center">
        <%= link_to new_department_upload_path(@department), class: "btn btn-blue" do %>
          Ajouter allocataires
        <% end %>
      </div>
    </div>
  </div>
  <%= render "applicants_list" %>
</div>
