<div class="container mt-5">
  <div class="row mb-4 block-white justify-content-center">
    <div class="col-4 justify-content-center">
      <div class="mb-1">
        <%=
          select(
            "applicant", "status", options_for_select_status(@statuses_count),
            { prompt: "Filtrer par statut" },
            class: "text-center form-select js-status-selector"
          )
        %>
      </div>
      <%= render 'search_form' %>
    </div>
    <div class="col-4 d-flex flex-column justify-content-center align-items-center">
      <% if image_compiled?("maps/#{@organisation.department_name.parameterize}.svg") %>
        <%= image_pack_tag("maps/#{@organisation.department_name.parameterize}.svg", alt: @organisation.department_name.parameterize, width: 50, height: 50) %>
      <h4 class="text-center department-map-title mb-0">
        <%= @organisation.name %>
      </h4>
      <% end %>

    </div>
    <div class="col-4 d-flex flex-column justify-content-around align-items-end">
      <div class="text-center">
        <%= link_to new_organisation_upload_path(@organisation), class: "btn btn-blue" do %>
          Ajouter allocataires
        <% end %>
      </div>
      <div class=" text-center">
        <%= check_box("applicants_list", "action_required", class: "js-action-required-checkbox") %> Intervention nécessaire
        <small><i class="fas fa-question-circle" id="js-action-required-tooltip"></i></small>
      </div>
    </div>
  </div>
  <%= render "applicants_list" %>
</div>
