<div class="container applicant-attribute mt-4">
  <div class="d-flex justify-content-between mb-4">
    <div>
      <%= link_to organisation_applicants_path(@organisation) do %>
        <button class="btn btn-blue-out">Retour</button>
      <% end %>
      <%= link_to rdv_solidarites_user_url(@organisation, @applicant), target: "_blank" do %>
        <button class="btn btn-blue">Voir sur RDV-Solidarités<i class="fas fa-external-link-alt icon-sm"></i></button>
      <% end %>
    </div>
    <div>
      <% unless @applicant.rdv_seen? %>
        <button class="btn btn-primary" id="update-status-button" data-applicant-id="<%= @applicant.id %>" data-organisation-id="<%= @organisation.id %>">
          <%= @applicant.resolved? ? "Rouvrir le dossier" : "Clôturer le dossier" %>
        </button>
      <% end %>
      <%= link_to edit_organisation_applicant_path(@organisation, @applicant) do %>
        <button class="btn btn-blue">Modifier</button>
      <% end %>
    </div>
  </div>
  <div class="mb-4">
    <div class="row d-flex justify-content-around flex-wrap">
      <div class="col-10 col-md-5">
        <h4 class="attribute-title">Nom</h4>
        <p><%= display_attribute @applicant.last_name %></p>
      </div>
      <div class="col-10 col-md-5">
        <h4 class="attribute-title">Prénom</h4>
        <p><%= display_attribute @applicant.first_name %></p>
      </div>
    </div>
    <div class="row d-flex justify-content-around flex-wrap">
      <div class="col-10 col-md-5">
        <h4 class="attribute-title">Numéro allocataire</h4>
        <p><%= display_attribute @applicant.affiliation_number %></p>
      </div>
      <div class="col-10 col-md-5">
        <h4 class="attribute-title">Email</h4>
        <p><%= display_attribute @applicant.email %></p>
      </div>
    </div>
    <div class="row d-flex justify-content-around flex-wrap">
      <div class="col-10 col-md-5">
        <h4 class="attribute-title">Date de naissance</h4>
        <p><%= display_attribute format_date(@applicant.birth_date) %></p>
      </div>
      <div class="col-10 col-md-5">
        <h4 class="attribute-title">Rôle</h4>
        <p><%= display_attribute @applicant.role %></p>
      </div>
    </div>
    <div class="row d-flex justify-content-around flex-wrap">
      <div class="col-10 col-md-5">
        <h4 class="attribute-title">Adresse</h4>
        <p><%= display_attribute @applicant.address %></p>
      </div>
      <div class="col-10 col-md-5">
        <h4 class="attribute-title">Téléphone</h4>
        <p><%= display_attribute @applicant.phone_number %></p>
      </div>
    </div>
  </div>
  <%= react_component(
    "components/ApplicantTracker", {
      applicant: @applicant,
      organisation: @organisation,
      showSmsInvitation: show_sms_invitation?(@organisation),
      showEmailInvitation: show_email_invitation?(@organisation),
      rdvs: @applicant.rdvs,
      outOfTime: @applicant.invited_before_time_window?,
      actionRequired: @applicant.action_required?,
      humanStatus: I18n.t("activerecord.attributes.applicant.statuses.#{@applicant.status}")
    }
  ) %>
</div>

