<div class="container label-blue mt-4">
  <div class="d-flex justify-content-between mb-4">
    <div>
      <%= link_to(compute_index_path(@organisation, @department)) do %>
        <button class="btn btn-blue-out">Retour</button>
      <% end %>
      <%= link_to rdv_solidarites_user_url(@organisation, @applicant), target: "_blank" do %>
        <button class="btn btn-blue">Voir sur RDV-Solidarités<i class="fas fa-external-link-alt icon-sm"></i></button>
      <% end %>
    </div>
    <div>
      <% unless @applicant.rdv_seen? %>
        <button class="btn btn-primary" id="update-status-button" data-applicant-id="<%= @applicant.id %>" data-organisation-id="<%= @organisation.id %>">
          <%= @applicant.archived? ? "Rouvrir le dossier" : "Archiver le dossier" %>
        </button>
      <% end %>
      <%= link_to compute_edit_path(@applicant, @organisation, @department) do %>
        <button class="btn btn-blue">Modifier</button>
      <% end %>
    </div>
  </div>
  <div class="mb-4">
    <div class="row d-flex justify-content-start flex-wrap">
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:first_name) %></h4>
        <p><%= display_attribute @applicant.first_name %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:last_name) %></h4>
        <p><%= display_attribute @applicant.last_name %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:title) %></h4>
        <p><%= display_attribute @applicant.title %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:role) %></h4>
        <p><%= display_attribute @applicant.role %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:affiliation_number) %></h4>
        <p><%= display_attribute @applicant.affiliation_number %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:department_internal_id) %></h4>
        <p><%= display_attribute @applicant.department_internal_id %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:email) %></h4>
        <p><%= display_attribute @applicant.email %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:birth_date) %></h4>
        <p><%= display_attribute format_date(@applicant.birth_date) %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:address) %></h4>
        <p><%= display_attribute @applicant.address %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:phone_number) %></h4>
        <p><%= display_attribute @applicant.phone_number %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:rights_opening_date) %></h4>
        <p><%= display_attribute format_date(@applicant.rights_opening_date) %></p>
      </div>
      <% if department_level? %>
        <div class="col-12 col-md-6 px-5">
            <h4 class="label-blue"><%= Applicant.human_attribute_name(:organisations) %></h4>
            <p><%= @applicant.organisations.collect(&:name).join(", ") %></p>
        </div>
      <% end %>
      <% if @applicant.archived? %>
        <div class="col-12 col-md-6 px-5">
          <h4 class="label-blue"><%= Applicant.human_attribute_name(:archiving_reason) %></h4>
          <p><%= display_attribute @applicant.archiving_reason %></p>
        </div>
      <% end %>
    </div>
  </div>
  <%= react_component(
    "components/ApplicantTracker", {
      applicant: @applicant,
      organisation: @organisation,
      department: @department,
      isDepartmentLevel: department_level?,
      showSmsInvitation: show_sms_invitation?(@configuration),
      showEmailInvitation: show_email_invitation?(@configuration),
      showPostalInvitation: show_postal_invitation?(@configuration),
      rdvs: @applicant.rdvs,
      numberOfCancelledRdvs: @applicant.rdvs.cancelled_by_user.count,
      statusNotice: display_status_notice(@applicant),
      outOfTime: @applicant.invited_before_time_window?,
      actionRequired: @applicant.action_required?,
      humanStatus: I18n.t("activerecord.attributes.applicant.statuses.#{@applicant.status}")
    }
  ) %>
</div>

