<%= render 'archive_banner' if @applicant.archived? %>
<div class="container label-blue mt-4">
  <div class="d-flex justify-content-between mb-4">
    <div>
      <%= link_to(compute_index_path(@organisation, @department, motif_category: @applicant.motif_categories.first)) do %>
        <button class="btn btn-blue-out">Retour</button>
      <% end %>
      <%= link_to rdv_solidarites_user_url(@organisation, @applicant), target: "_blank" do %>
        <button class="btn btn-blue">Voir sur RDV-Solidarités<i class="fas fa-external-link-alt icon-sm"></i></button>
      <% end %>
    </div>
    <div>
      <button class="btn btn-blue" id="archive-button" data-applicant-id="<%= @applicant.id %>" data-organisation-id="<%= @organisation.id %>" data-department-id="<%= @department.id %>" data-department-level="<%= department_level? %>">
        <%= @applicant.archived? ? "Rouvrir le dossier" : "Archiver le dossier" %>
      </button>
      <%= link_to compute_edit_path(@applicant, @organisation, @department) do %>
        <button class="btn btn-blue">Modifier</button>
      <% end %>
    </div>
  </div>
  <div class="mb-4">
    <div class="row d-flex justify-content-start flex-wrap">
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:first_name) %></h4>
        <p><%= display_attribute @applicant.first_name %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:last_name) %></h4>
        <p><%= display_attribute @applicant.last_name %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:title) %></h4>
        <p><%= display_attribute @applicant.title %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:role) %></h4>
        <p><%= display_attribute @applicant.role %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:affiliation_number) %></h4>
        <p><%= display_attribute @applicant.affiliation_number %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:department_internal_id) %></h4>
        <p><%= display_attribute @applicant.department_internal_id %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:email) %></h4>
        <p><%= display_attribute @applicant.email %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:birth_date) %></h4>
        <p><%= display_attribute format_date(@applicant.birth_date) %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:address) %></h4>
        <p><%= display_attribute @applicant.address %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:phone_number) %></h4>
        <p><%= display_attribute @applicant.phone_number %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:rights_opening_date) %></h4>
        <p><%= display_attribute format_date(@applicant.rights_opening_date) %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:creation_date) %></h4>
        <p><%= display_attribute format_date(@applicant.created_at) %></p>
      </div>
      <% if @applicant.archived? %>
        <div class="col-12 col-md-6 px-5">
          <h4 class="label-blue"><%= Applicant.human_attribute_name(:archiving_reason) %></h4>
          <p><%= display_attribute @applicant.archiving_reason %></p>
        </div>
        <div class="col-12 col-md-6 px-5">
          <h4 class="label-blue"><%= Applicant.human_attribute_name(:archived_at) %></h4>
          <p><%= display_attribute format_date(@applicant.archived_at) %></p>
        </div>
      <% end %>
      <%= render "organisations_list", organisations: @applicant.organisations %>
    </div>
    <%= render "add_to_org_button", can_be_added_to_other_org: @can_be_added_to_other_org, department: @department, applicant: @applicant %>
  </div>
  <% @rdv_contexts.each do |rdv_context| %>
    <%= render "rdv_context", rdv_context: rdv_context, configuration: @applicant.configurations.find { |c| c.motif_category == rdv_context.motif_category }, applicant: @applicant, department: @department  %>
  <% end %>
</div>

