<%= render 'archive_banner' if @archive.present? %>

<div class="container text-dark-blue h4-as-labels mt-4">
  <div class="d-flex justify-content-between mb-4">
    <div>
      <%= link_to(@back_to_applicants_list_url || compute_index_path(@organisation, @department)) do %>
        <button class="btn btn-blue-out">Retour</button>
      <% end %>
      <%= link_to rdv_solidarites_user_url(@organisation, @applicant), target: "_blank" do %>
        <button class="btn btn-blue">Voir sur RDV-Solidarités<i class="fas fa-external-link-alt icon-sm"></i></button>
      <% end %>
    </div>
    <div>
      <%= render "archiving_button" %>
      <%= link_to compute_edit_path(@applicant, @organisation, @department) do %>
        <button class="btn btn-blue">Modifier</button>
      <% end %>
    </div>
  </div>

  <div class="mb-4">
    <div class="row d-flex justify-content-start flex-wrap">
      <%= render "common/attribute_display", record: @applicant, attribute: :first_name %>
      <%= render "common/attribute_display", record: @applicant, attribute: :last_name %>
      <%= render "common/attribute_display", record: @applicant, attribute: :title %>
      <%= render "common/attribute_display", record: @applicant, attribute: :role %>
      <%= render "common/attribute_display", record: @applicant, attribute: :affiliation_number %>
      <%= render "common/attribute_display", record: @applicant, attribute: :department_internal_id, tooltip: true %>
      <%= render "common/attribute_display", record: @applicant, attribute: :nir %>
      <%= render "common/attribute_display", record: @applicant, attribute: :pole_emploi_id %>
      <%= render "common/attribute_display", record: @applicant, attribute: :email %>
      <%= render "common/attribute_display", record: @applicant, attribute: :birth_date, as: :date %>
      <%= render "common/attribute_display", record: @applicant, attribute: :address %>
      <%= render "common/attribute_display", record: @applicant, attribute: :phone_number %>
      <%= render "common/attribute_display", record: @applicant, attribute: :rights_opening_date, as: :date %>
      <%= render "common/attribute_display", record: @applicant, attribute: :created_at, as: :date %>
      <% if @archive.present? %>
        <%= render "common/attribute_display", record: @archive, attribute: :archiving_reason %>
        <%= render "common/attribute_display", record: @archive, attribute: :created_at, as: :date %>
      <% end %>
      <%= render "common/attribute_display", record: @applicant, attribute: :organisations, as: :list, id: "organisations_list" %>
      <%= render "common/attribute_display", record: @applicant, attribute: :agents, as: :list, id: "agents_list" %>
    </div>

    <div class="row d-flex justify-content-start flex-wrap">
      <div class="col-12 col-md-6 px-5">
        <%= link_to(department_applicant_applicants_organisations_path(@department, @applicant, current_organisation_id: department_level? ? nil : @organisation.id), data: { turbo_frame: 'remote_modal' }) do %>
          <button class="btn btn-blue"><i class="fas fa-pen"></i> Ajouter ou retirer une organisation </button>
        <% end %>
      </div>
      <div class="col-12 col-md-6 px-5">
        <%= link_to(department_applicant_referent_assignations_path(@department, @applicant), data: { turbo_frame: 'remote_modal' }) do %>
          <button class="btn btn-blue"><i class="fas fa-user-plus"></i> Assigner le.s référent.s</button>
        <% end %>
      </div>
    </div>
  </div>
  <% @all_configurations.each do |configuration| %>
    <% rdv_context = @rdv_contexts.find { |rc| rc.motif_category == configuration.motif_category } %>
    <% if rdv_context %>
      <%= render "rdv_contexts/show", rdv_context: rdv_context, participations: rdv_context.participations, convocable_participations: rdv_context.participations.select(&:convocable?), configuration: configuration, applicant: @applicant, department: @department, invitations: rdv_context.invitations %>
    <% else %>
      <div class="d-flex align-items-center context-header">
        <span></span>
        <h5 class="text-center px-2 py-4">
          <strong><%= configuration.motif_category_name %></strong>
          <small><%= configuration.rdv_with_referents? ? " (avec référents)" : "" %></small>
        </h5>
        <span></span>
        <%= button_to configuration_applicant_rdv_contexts_path(configuration, @applicant), method: :post, data: { turbo: false }, class: "btn btn-blue-out mx-2" do %>
          Ouvrir un suivi
        <% end %>
        <span></span>
      </div>
    <% end %>
  <% end %>
</div>

