<%= render 'archive_banner' if @applicant.is_archived? %>
<div class="container label-blue mt-4">
  <div class="d-flex justify-content-between mb-4">
    <div>
      <%= link_to(compute_index_path(@organisation, @department)) do %>
        <button class="btn btn-blue-out">Retour</button>
      <% end %>
      <%= link_to rdv_solidarites_user_url(@organisation, @applicant), target: "_blank" do %>
        <button class="btn btn-blue">Voir sur RDV-Solidarités<i class="fas fa-external-link-alt icon-sm"></i></button>
      <% end %>
    </div>
    <div>
      <button class="btn btn-blue" id="archive-button" data-applicant-id="<%= @applicant.id %>" data-organisation-id="<%= @organisation.id %>" data-department-id="<%= @department.id %>" data-department-level="<%= department_level? %>">
        <%= @applicant.is_archived? ? "Rouvrir le dossier" : "Archiver le dossier" %>
      </button>
      <%= link_to compute_edit_path(@applicant, @organisation, @department) do %>
        <button class="btn btn-blue">Modifier</button>
      <% end %>
    </div>
  </div>
  <div class="mb-4">
    <div class="row d-flex justify-content-start flex-wrap">
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:first_name) %></h4>
        <p><%= display_attribute @applicant.first_name %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:last_name) %></h4>
        <p><%= display_attribute @applicant.last_name %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:title) %></h4>
        <p><%= display_attribute @applicant.title %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:role) %></h4>
        <p><%= display_attribute @applicant.role %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:affiliation_number) %></h4>
        <p><%= display_attribute @applicant.affiliation_number %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:department_internal_id) %></h4>
        <p><%= display_attribute @applicant.department_internal_id %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:email) %></h4>
        <p><%= display_attribute @applicant.email %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:birth_date) %></h4>
        <p><%= display_attribute format_date(@applicant.birth_date) %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:address) %></h4>
        <p><%= display_attribute @applicant.address %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:phone_number) %></h4>
        <p><%= display_attribute @applicant.phone_number %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:rights_opening_date) %></h4>
        <p><%= display_attribute format_date(@applicant.rights_opening_date) %></p>
      </div>
      <div class="col-12 col-md-6 px-5">
        <h4 class="label-blue"><%= Applicant.human_attribute_name(:creation_date) %></h4>
        <p><%= display_attribute format_date(@applicant.created_at) %></p>
      </div>
      <% if department_level? %>
        <div class="col-12 col-md-6 px-5">
            <h4 class="label-blue"><%= Applicant.human_attribute_name(:organisations) %></h4>
            <p><%= @applicant.organisations.collect(&:name).join(", ") %></p>
        </div>
      <% end %>
      <% if @applicant.is_archived? %>
        <div class="col-12 col-md-6 px-5">
          <h4 class="label-blue"><%= Applicant.human_attribute_name(:archiving_reason) %></h4>
          <p><%= display_attribute @applicant.archiving_reason %></p>
        </div>
      <% end %>
    </div>
  </div>
  <% @all_configurations.each do |configuration| %>
    <% rdv_context = @applicant.rdv_contexts.find { |rc| rc.context == configuration.context } %>
    <h5 class="text-center py-4"><%= configuration.context_name %> (<span><%= display_context_status(rdv_context, with_notice: false) %>)</span></h5>
    <div class="d-flex justify-content-around">
       <%= react_component(
        "components/InvitationBlock", {
          applicant: @applicant,
          organisation: @organisation,
          department: @department,
          invitations: rdv_context.nil? ? [] : rdv_context.invitations,
          isDepartmentLevel: department_level?,
          invitationFormats: configuration.invitation_formats,
          context: configuration.context,
          backgroundClassForStatus: rdv_context.nil? ? "" : background_class_for_context_status(rdv_context),
          status: rdv_context&.status,
          statusText: display_context_status(rdv_context)
        }
      ) %>
      <% if rdv_context&.rdvs.present? %>
          <table class="tracking-block block-white text-center align-middle mb-4">
            <thead>
              <tr>
                <th class="px-4 py-2"><h4>RDV pris le</h4></th>
                <th class="px-4 py-2"><h4>Date du RDV</h4></th>
                <th class="px-4 py-2"><h4>Statut RDV</h4></th>
                <th class="px-4 py-2"><h4>Lien</h4></th>
              </tr>
            </thead>
            <tbody>
              <% rdv_context.rdvs.each do |rdv| %>
                <tr>
                  <td class="px-4 py-3"><%= format_date(rdv.created_at) %></td>
                  <td class="px-4 py-3"><%= format_date(rdv.starts_at) %></td>
                  <td class="px-4 py-3 <%= background_class_for_rdv_status(rdv) %>"><%= rdv.displayed_status %></td>
                  <td class="px-4 py-2">
                    <%= link_to rdv.rdv_solidarites_url, target: "_blank" do %>
                      <button class="btn btn-blue">
                        Voir sur RDV-S<i class="fas fa-external-link-alt icon-sm"></i>
                      </button>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      <% end %>
    </div>
  <% end %>
</div>

