<%= turbo_frame_tag organisation do %>
  <div class="row card-white justify-content-center mb-2">
    <div class="row d-flex justify-content-start flex-wrap">
      <%= render "common/attribute_display", record: organisation, attribute: :name %>
      <%= render "common/attribute_display", record: organisation, attribute: :email %>
      <%= render "common/attribute_display", record: organisation, attribute: :phone_number %>
      <%= render(
            "common/attribute_display",
            record: organisation,
            attribute: :slug,
            tooltip: {
              content: "Si l'assignation des usagers à l'organisation se fait via une colonne du fichier d'import " \
                         "des usagers, les cases de cette colonne devront faire référence à la valeur définie ici."
            }
          ) %>
      <%= render(
            "common/attribute_display",
            record: organisation,
            attribute: :safir_code,
            tooltip: { content: "Il ne concerne que les agences France Travail" }
          ) %>
      <div class="col-12 col-md-6 px-5 mb-3">
        <h4>Logo</h4>
        <% if organisation.logo.attached? %>
          <%= image_tag organisation.logo.url, class: "organisation-configuration-logo", alt: "Logo utilisé pour représenter l'organisation" %>
        <% else %>
          <p>Pas de logo défini - le logo du département sera utilisé</p>
          <p>Contactez l'équipe rdv-insertion pour en ajouter un</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end mb-4">
    <%= link_to edit_organisation_path(organisation) do %>
      <button class="btn btn-blue">Modifier</button>
    <% end %>
  </div>
<% end %>
