<%= render "common/remote_modal", title: "Lier une organisation" do %>
  <%= simple_form_for(organisation, url: organisations_path, html: { method: :post }) do |f| %>
    <% if local_assigns[:errors].present? %>
      <%= render "common/error_list", errors: errors %>
    <% end %>
    <div class="d-flex justify-content-between">
      ID de l'orga RDVS <%= f.input :rdv_solidarites_organisation_id %>
    </div>
    <div class="d-flex justify-content-between mt-2">
      Département <%= f.input :department_id, as: :select, collection: Department.all, required: true %>
    </div>
    <%= f.button :submit, "Enregistrer", class: "btn btn-blue mt-3" %>
  <% end %>
<% end %>
