<%= turbo_frame_tag @organisation do %>
  <%= form_for(@organisation, method: :patch) do |f| %>
    <div class="row card-white rdv-insertion-form justify-content-center mb-2">
      <div class="mb-4">
        <div class="row d-flex justify-content-start flex-wrap">
          <%= render "common/attribute_input", f:f, attribute: :name, mandatory: true %>
          <%= render "common/attribute_input", f:f, attribute: :email, mandatory: true %>
          <%= render "common/attribute_input", f:f, attribute: :phone_number, mandatory: true %>
          <%= render "common/attribute_input", f:f, attribute: :slug,
            tooltip: {
              content: "Si l'assignation des usagers à l'organisation se fait via une colonne du fichier d'import " \
                "des usagers, les cases de cette colonne devront faire référence à la valeur définie ici."
            }
          %>
          <%= render "common/attribute_input", f:f, attribute: :safir_code,
            tooltip: { content: "Il ne concerne que les agences France Travail" }
          %>
          <div class="col-12 col-md-6 px-5 mb-3">
            <h4>Logo</h4>
            <% if @organisation.logo.attached? %>
              <%= image_tag @organisation.logo.url, class: "organisation-configuration-logo", alt: "Logo utilisé pour représenter l'organisation" %>
            <% else %>
              <p>Pas de logo défini - le logo du département sera utilisé</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end mb-4">
      <button type="submit" class="btn btn-blue">Enregistrer</button>
      <%= link_to organisation_path(@organisation) do %>
        <button class="btn btn-blue-out mx-2">Annuler</button>
      <% end %>
    </div>
  <% end %>
<% end %>
