<% content_for :title, "Choix de l'organisation - rdv-insertion" %>

<div class="container mt-5">
  <% if @organisations.empty? %>
    <h4 class="text-center mt-5">Vous n'appartenez à aucune organisation présente sur RDV Insertion</h4>
    <h4 class="text-center mt-5">Contactez-nous à l'adresse rdv-insertion@beta.gouv.fr</h4>
  <% else %>
    <div class="row mt-5 justify-content-center">
      <div class="col-8">
        <p>Sélectionnez votre organisation:</p>
        <% @organisations_by_department.each do |department, organisations| %>
          <div class="card-container">
            <div class="card d-flex flex-row justify-content-center card-organisation mb-3">
              <div class="card-body card-organisation-body">
                <div class="d-flex justify-content-between">
                  <h4 class="text-dark-blue"><%= department.number %> - <%= department.name %></h4>
                </div>
                <div class="p-3">
                  <ul class="list-inline">
                    <% if organisations.length > 1 %>
                      <%= link_to default_list_department_users_path(department) do %>
                        <li class="my-4"><div class="col-5 pb-2 border-bottom">⭐ Toutes les organisations ⭐</div></li>
                      <% end %>
                    <% end %>
                    <% organisations.sort_by(&:name).each do |organisation| %>
                      <%= link_to default_list_organisation_users_path(organisation) do %>
                        <li class="my-3"><div class="col-5 pb-2 border-bottom"><%= organisation.name %></div></li>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="d-flex flex-column justify-content-center mx-2 py-4 text-center">
                <div>
                  <% if asset_exists?("maps/#{department.name.parameterize}.svg") %>
                    <%= image_tag("maps/#{department.name.parameterize}.svg", alt: department.name.parameterize) %>
                  <% end %>
                </div>
                <div>
                  <%= link_to(organisations.length > 1 ? new_department_upload_path(department) : new_organisation_upload_path(organisations.first)) do %>
                    <i class="ri-add-line"></i> Ajout usagers
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
