<div class="container mt-5">
  <div class="row mt-5 justify-content-center">
    <div class="col-8">
      <p>Sélectionnez votre organisation:</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-8">
      <% @organisations.group_by(&:department).each do |department, organisations| %>
        <div class="card-container">
            <div class="card d-flex flex-row justify-content-between align-content-center card-organisation mb-3">
              <div class="card-body card-organisation-body">
                <h4 class="mb-2"><%= department.number %> - <%= department.name %></h4>
                <div class="p-3">
                  <ul class="list-inline">
                    <% organisations.each do |organisation| %>
                      <%= link_to organisation_applicants_path(organisation) do %>
                        <li class="my-3"><div class="col-5 pb-2 border-bottom"><%= organisation.name %></div></li>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              </div>

              <% if image_compiled?("maps/#{department.name.parameterize}.svg") %>
                <%= image_pack_tag("maps/#{department.name.parameterize}.svg", alt: department.name.parameterize) %>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
