<%= render "common/remote_modal", title: "Informer l’organisation par email" do %>
  <%= form_for(:email, url: organisations_user_added_notifications_path, method: :post) do |f| %>
      <div class="p-3 pt-0">
        <p>Prévenir l’organisation que l’usager a été ajouté à leur liste </p>
        <div class="mb-3">
          <h5 class="text-dark-blue h4-as-labels">Destinataire</h5>
            <%= f.select :to,
                        emails,
                        { include_blank: false },
                        class: "form-control"
            %>
        </div>
        <div class="mb-3">
          <h5 class="text-dark-blue h4-as-labels">Objet</h5>
            <%= f.text_field :subject, class: "form-control", value: "[RDV-Insertion] Un usager a été ajouté à votre organisation" %>
        </div>
        <div class="mb-3">
          <h5 class="text-dark-blue h4-as-labels">Message</h5>
            <%= f.text_area :content, class: "form-control", cols: 15, rows: 6, value: "L'usager #{user} a été ajouté à votre organisation #{organisation.name}.\nVous pouvez consulter son historique d'accompagnement ainsi que les éventuels documents de parcours téléchargés (diagnostic, contrat) sur le lien suivant :\n #{organisation_user_parcours_url(user_id: user.id, organisation_id: organisation.id, host: ENV['HOST'])}" %>
        </div>

        <div class="d-flex justify-content-end align-items-center pt-2">
          <button type="button" class="btn btn-blue-out border-0 me-2" data-bs-dismiss="modal">
            Ignorer cette étape
          </button>
          <button type="submit" class="btn btn-blue">
            <i class="ri-send-plane-line me-2"></i>
            Envoyer
          </button>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
