<div>
  <%= form_for(:tag_assignation, url: user_tag_assignations_path_with_structure(user_id:), method: :post) do |f| %>
    <div class="w-100 px-2">
      <% if assigned_tags.any? %>
        <p class="mb-2"> <%= "Tag".pluralize(assigned_tags.size) %> déjà <%= "sélectionné".pluralize(assigned_tags.size) %></p>
        <div class="flex-wrap d-flex">
          <% assigned_tags.each do |tag| %>
            <span class="badge badge-tag justify-content-between background-blue-light text-dark-grey-alt me-2 d-flex text-truncate">
              <span class="text-truncate">
                <%= tag.value %>
              </span>
            </span>
          <% end %>
        </div>
      <% end %>
      <p class="mb-1 mt-3"> Ajouter des tags </p>
      <div class="scrollable">
        <% assignable_tags.each do |tag| %>
          <%= render "tag_input", tag: tag, f: f %>
        <% end %>
      </div>
      <%= f.hidden_field :user_id, value: user_id %>
      <% if assignable_tags.empty? %>
        <small class="text-dark-blue">Aucun <%= "autre" if assigned_tags.any? %> tag disponible.</small>
      <% end %>
    </div>
    <% if assignable_tags.any? %>
      <div class="d-flex justify-content-end align-items-center px-3">
        <button type="button" class="btn btn-blue-out border-0 me-2" data-bs-dismiss="modal">
          Annuler
        </button>

        <%= button_tag type: 'submit', class: "btn btn-primary" do %>
          <i class="fas fa-plus"></i>
          Ajouter
        <% end %>
      </div>
    <% else %>
      <div class="d-flex justify-content-end align-items-center px-3">
        <button type="button" class="btn btn-blue border-0 me-2" data-bs-dismiss="modal">
          Ok
        </button>
      </div>
    <% end %>
  <% end %>
</div>
