<div class="mb-2 active-filters-recap align-items-start d-flex">
  <div class="me-2">
    <%= @users.total_count %> dossier(s) 
    <% if params[:search_query].present? %>
    correspondant à votre recherche "<strong><%= params[:search_query] %></strong>"
    <% end %>
  </div>
  <div class="active-filters-container d-flex flex-wrap">
    <% ([:status, :orientation_type, :action_required, :referent_id] & active_filter_list).each do |filter| %>
      <span class="d-flex me-2 active-filter-badge">
        <% if filter == :referent_id %>
          Suivi par <%= @referent %>
        <% elsif filter == :orientation_type %>
          Orientation : <%= params[filter] %>
        <% elsif filter == :action_required %>
          Intervention nécessaire
        <% elsif filter == :status %>
          Statut : <%= I18n.t("activerecord.attributes.follow_up.statuses.#{params[filter]}") %>
        <% end %>
        <%= link_to structure_users_path(url_params.except(filter)) do %>
          <i class="ri-close-line"></i>
        <% end %>
      </span>
    <% end %>
    <%= render "users/active_filters_recap/tag_ids" %>
    <%= render "users/active_filters_recap/creation_date" %>
    <%= render "users/active_filters_recap/convocation_date" %>
    <%= render "users/active_filters_recap/first_invitation_date" %>
    <%= render "users/active_filters_recap/last_invitation_date" %>
    <%= link_to structure_users_path(url_params.except(*active_filter_list)) do %>
      <i class="ri-arrow-go-back-line"></i>
      <span class="btn-link">Réinitialiser</span>
    <% end %>
  </div>

</div>