<table class="table table-hover table-responsive">
  <thead class="text-dark-blue">
    <th scope="col">Nom</th>
    <th scope="col">Prénom</th>
    <th scope="col">Date de création</th>
    <% @all_configurations.each do |configuration| %>
      <th scope="col"><%= configuration.motif_category_name %></th>
    <% end %>
    <th scope="col"></th>
  </thead>
  <tbody class="align-middle">
    <% @users.each do |user| %>
      <tr <%= "class=table-danger" if user.archived_in?(@department) %>>
        <td><%= display_attribute user.last_name %></td>
        <td><%= display_attribute user.first_name %></td>
        <td><%= display_attribute format_date(user.created_at) %></td>
        <% if user.archived_in?(@department) %>
          <td colspan=<%= @all_configurations.count %>>Archivé</td>
        <% else %>
          <% @all_configurations.each do |configuration| %>
            <% if rdv_context = user.rdv_context_for(configuration.motif_category) %>
              <%= render "rdv_contexts/rdv_context_status_cell", rdv_context: rdv_context, configuration: configuration %>
            <% else %>
              <td id=<%= dom_id(configuration.motif_category, "user_#{user.id}") %>>
                <%= render "rdv_contexts/new_button", user: user, configuration: configuration, organisation: @organisation, department: @department, turbo: true, button_text: "Ajouter" %>
              </td>
            <% end %>
          <% end %>
        <% end %>
        <td class="padding-left-15">
          <%= link_to structure_user_rdv_contexts_path(user.id) do %>
            <button class="btn btn-blue">Gérer</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
