<% content_for :title, "#{current_structure.name} - Tous les contacts - rdv-insertion" %>

<table class="table table-hover table-responsive">
  <thead class="text-dark-blue" data-controller="index-table-sorting">
    <th scope="col" class="sortable-table-header" id="js_last_name_header">
      Nom
      <i class="fas fa-sort"></i>
    </th>
    <th scope="col" class="sortable-table-header" id="js_first_name_header">
      Prénom
      <i class="fas fa-sort"></i>
    </th>
    <th scope="col">Date de création</th>
    <% @all_configurations.each do |category_configuration| %>
      <th scope="col"><%= category_configuration.motif_category_name %></th>
    <% end %>
    <th scope="col"></th>
  </thead>
  <tbody class="align-middle">
    <% @users.each do |user| %>
      <tr
        class="clickable <%= "table-archived" if user_archived_in?(user, current_structure) %>"
        data-controller="user-link"
        data-user-link-path="<%= structure_user_path(user.id) %>"
        data-action="click->user-link#navigate"
      >
        <td><%= display_attribute user.last_name %></td>
        <td><%= display_attribute user.first_name %></td>
        <td><%= display_attribute format_date(user.created_at) %></td>
        <% if user_archived_in?(user, current_structure) %>
          <td colspan=<%= @all_configurations.count %>>Archivé</td>
        <% else %>
          <% @all_configurations.each do |category_configuration| %>
            <% if follow_up = user.follow_up_for(category_configuration.motif_category) %>
              <%= render "follow_ups/follow_up_status_cell", follow_up:, number_of_days_before_action_required: category_configuration&.number_of_days_before_action_required %>
            <% else %>
              <td id=<%= dom_id(category_configuration.motif_category, "user_#{user.id}") %>>
                <%= render "follow_ups/new_button", user:, category_configuration:, organisation: @organisation, department: @department, button_text: "Ajouter" %>
              </td>
            <% end %>
          <% end %>
        <% end %>
        <td class="padding-left-15">
          <%= link_to structure_user_path(user.id) do %>
            <button class="btn btn-blue">Gérer</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
