<% content_for :title, "#{current_structure.name} - Archivés - rdv-insertion" %>

<table class="table table-hover table-responsive">
  <thead class="text-dark-blue" data-controller="index-table-sorting">
    <th scope="col" class="sortable-table-header" id="js_last_name_header">
      Nom
      <i class="fas fa-sort"></i>
    </th>
    <th scope="col" class="sortable-table-header" id="js_first_name_header">
      Prénom
      <i class="fas fa-sort"></i>
    </th>
    <th scope="col">Date de création</th>
    <th scope="col">Première invitation</th>
    <th scope="col">Dernière invitation</th>
    <% if !department_level? %>
      <th scope="col">Archivé le</th>
      <th scope="col">Motif d'archivage</th>
    <% end %>
    <th scope="col"></th>
  </thead>
  <tbody class="align-middle">
    <% @users.each do |user| %>
      <tr
        class="table-archived clickable"
        data-controller="user-link"
        data-user-link-path="<%= structure_user_path(user.id) %>"
        data-action="click->user-link#navigate"
      >
        <td><%= display_attribute user.last_name %></td>
        <td><%= display_attribute user.first_name %></td>
        <td><%= display_attribute format_date(user.created_at) %></td>
        <td><%= display_attribute format_date(user.first_invitation_created_at) %></td>
        <td><%= display_attribute(format_date(user.last_invitation_created_at)) %></td>
        <% if !department_level? %>
          <td><%= display_attribute format_date(user.organisation_archive(@organisation)&.created_at) %></td>
          <td><%= display_attribute user.organisation_archive(@organisation)&.archiving_reason %></td>
        <% end %>
        <td class="padding-left-15">
          <%= link_to structure_user_path(user.id) do %>
            <button class="btn btn-blue">Gérer</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
