<% if user_is_archived && !department_level? %>
  <%=
    link_to(
      # in this case we are at organisation level, there is always only one archive
      organisation_archive_path(current_organisation, user.archive_in_organisation(current_organisation)),
      id: "archive-button",
      data: {
        controller: "confirmation-modal",
        turbo_method: :delete
      }
    ) do
  %>
    <button class="btn btn-blue" data-action="click->confirmation-modal#show">Rouvrir le dossier</button>
    <% modal_text_content = capture do %>
      Êtes vous sûr ? <br/><br/>Le dossier de <b><%= user %></b> sera rouvert dans l'organisation <b><%= current_organisation&.name %></b> et retrouvera le statut précédant l'archivage.
    <% end %>
    <%= render("common/confirmation_modal",
               title: "Rouvrir le dossier dans cette organisation ?",
               text_content: modal_text_content,
               action_text: "Rouvrir le dossier")
    %>
  <% end %>
<% else %>
  <span
    class="tooltip-wrapper"
    <%= tooltip(content: "L'usager est archivé dans toutes vos organisations. Pour rouvrir son dossier, naviguez au sein d'une organisation où il est archivé.") if user_is_archived %>
  >
    <%=
      link_to(
        "Archiver le dossier",
        new_structure_user_archive_path(user_id: user.id),
        class: "btn btn-blue #{"disabled" if user_is_archived}", id: "archive-button",
        data: { turbo_frame: 'remote_modal' },
      )
    %>
  </span>
<% end %>
