<div class="mb-1">
  <div class="w-100">
    <%= link_to(new_structure_invitation_or_convocation_dates_filtering_path(url_params), data: { turbo_frame: 'remote_modal' }, class: 'btn btn-grey w-100 d-flex align-items-center justify-content-between') do %>
      <% if params[:first_invitation_date_before] || params[:first_invitation_date_after] || params[:last_invitation_date_before] || params[:last_invitation_date_after] || params[:convocation_date_after] %>
        <div class="invitations-date-filter-content">
          <% if params[:first_invitation_date_after].present? %>
            <p>Première invitation entre le <%= format_date(params[:first_invitation_date_after].to_date) %> et le <%= format_date((params[:first_invitation_date_before]&.to_date || Time.zone.now)) %></p>
          <% elsif params[:first_invitation_date_before].present? %>
            <p>Première invitation avant le <%= format_date(params[:first_invitation_date_before].to_date) %></p>
          <% end %>
          <% if params[:last_invitation_date_after].present? %>
            <p>Dernière invitation entre le <%= format_date(params[:last_invitation_date_after].to_date) %> et le <%= format_date((params[:last_invitation_date_before]&.to_date || Time.zone.now)) %></p>
          <% elsif params[:last_invitation_date_before].present? %>
            <p>Dernière invitation avant le <%= format_date(params[:last_invitation_date_before].to_date) %></p>
          <% end %>
          <% if params[:convocation_date_after] %>
            <p>Convocations entre le <%= format_date(params[:convocation_date_after].to_date) %> et le <%= format_date((params[:convocation_date_before]&.to_date || Time.zone.now)) %></p>
          <% elsif params[:convocation_date_before] %>
            <p>Convocations avant le <%= format_date(params[:convocation_date_before].to_date) %></p>
          <% end %>
        </div>
        <i class="fas fa-pencil-alt text-dark-blue"></i>
      <% else %>
        <span class="w-100">Filtrer par date d'invitation ou de convocation</span>
      <% end %>
    <% end %>
  </div>
</div>
