<div class="mb-1 me-2 position-relative text-center d-flex align-items-center justify-content-center"
      data-controller="users-list-filter" 
      data-users-list-filter-param-name-value="referent_id">
  <% selected_referent_id = params[:referent_id] %>
  <button type="button"
          class="btn btn-grey dropdown-toggle <%= "border-blue" if selected_referent_id.present? %>"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          id="rdvi_index-nav_filter-referent-button">
    Référent 
    <% if selected_referent_id.present? %>
      <span class="filter-active ms-1">1</span>
    <% end %>
  </button>
  <div class="dropdown-menu px-2" style="min-width: 280px;">
    <% options_for_select_referent(@referents_list).each do |label, id| %>
      <% selected = params[:referent_id] == id.to_s %>
      <div class="form-check">
        <input class="form-check-input"
                type="radio"
                value="<%= id %>"
                id="referent_<%= id %>"
                name="referent_id"
                data-users-list-filter-target="input"
                <%= 'checked' if selected %>>
        <label class="form-check-label<%= ' filter-label-checked' if selected %>" for="referent_<%= id %>">
          <%= label %>
        </label>
      </div>
    <% end %>
    <div class="mt-3">
      <button type="button" class="btn btn-blue" data-action="users-list-filter#apply">
        Appliquer
      </button>
    </div>
  </div>
</div>