<div class="d-inline-flex badge badge-tag justify-content-between background-blue-light text-dark-blue me-2 d-flex text-truncate">
  <span class="text-truncate">
    <%= referent %>
  </span>
  <%=
    link_to(
      user_referent_assignation_path(user_id: user.id, agent_id: referent.id),
      data: {
        controller: "confirmation-modal",
        turbo_method: :delete,
      }
    ) do
  %>
    <i class="ri-close-line text-dark-grey ms-2" data-action="click->confirmation-modal#show"></i>
    <% modal_text_content = capture do %>
      Êtes-vous sûr de vouloir retirer l'agent référent <b><%= referent %></b> de l'usager <b><%= user %></b> ?
    <% end %>
    <%= render(
        "common/confirmation_modal",
        title: "Retirer l'agent référent de cet usager ?",
        text_content: modal_text_content,
        action_text: "- Retirer"
      ) %>
  <% end %>
</div>