<div class="row p-4 users-list-filters pt-3">
    <div class="col-12 d-flex flex-column justify-content-between">
      <div class="col-7">
        <%= render "search_form_dsfr", url: structure_users_path %>
      </div>
      <div class="d-flex flex-wrap">
        <span class="d-flex align-items-center me-2 ">Filtrer par :</span>
        <%= render "users/filters/by_follow_up_statuses_button" if @current_category_configuration %>
        <%= render "users/filters/by_referents_button" %>
        <%= render "users/filters/by_tags_button" if @tags.any? %>
        <%= render "users/filters/by_orientation_type_button" if show_orientations_filter? %>
        <%= render "users/filters/by_creation_dates_button" if @current_category_configuration.nil? %>
        <%= render "users/filters/by_invitation_or_convocation_dates_button" if @current_category_configuration || archived_scope?(@users_scope) %>
        <%= render "users/filters/by_action_required_checkbox" if @current_category_configuration %>
      </div>
    </div>
  </div>