<div class="row mb-4 card-white justify-content-center">
  <div class="col-4 justify-content-center">
    <% if @current_configuration.present? %>
      <div class="mb-1">
        <%=
          select(
            "user", "status", options_for_select_status(@statuses_count),
            { prompt: "Filtrer par statut" },
            class: "text-center form-select js-status-selector"
          )
        %>
      </div>
    <% end %>
    <div class="mb-1">
      <%=
        select(
          "user",
          "referent_id",
          @referents_list.map { |agent| [agent.to_s, agent.id]},
          { prompt: "Filtrer par référent" },
          class: "text-center form-select js-referent-selector"
        )
      %>
    </div>
    <%= render "filter_by_creation_dates_button" if @current_configuration.nil? %>
    <%= render "filter_by_invitations_dates_button" if @current_configuration.present? || archived_scope?(@users_scope) %>
    <%= render "search_form", url: structure_users_path %>

    <div class="d-flex justify-content-between mt-1" data-controller="index-filters">
      <div class="text-left mt-2">
        <% if @tags.any? || @current_configuration.present? %>
          <i class="fas fa-filter"></i> Filtrer par :
        <% end %>
        <% if @current_configuration.present? %>
          <div class="mt-1">
            <input type="checkbox" name="action_required" class="form-check-input"></input> Usagers avec intervention nécessaire
            <small>
              <i
                class="fas fa-question-circle"
                data-controller="tooltip"
                data-action="mouseover->tooltip#actionRequired"
                data-number-of-days-before-action-required="<%= @current_configuration&.number_of_days_before_action_required %>"
              >
              </i>
            </small>
          </div>
        <% end %>
        <% @tags.sort_by(&:value).each do |tag| %>
          <div>
            <input type="checkbox" name="tag_ids[]" <%= "checked" if params[:tag_ids]&.include?(tag.id.to_s) %> value="<%= tag.id %>" class="form-check-input"></input>
            <%= tag.value %>
          </div>
        <% end if @tags.present? %>
      </div>

      <div class="expand-button-container">
        <button data-action="index-filters#expand">
          <i class="fas fa-arrow-down"></i> Voir plus de filtres
        </button>
      </div>
      <% if display_back_to_list_button? %>
        <div>
          <%= link_to structure_users_path(motif_category_id: @current_motif_category&.id, users_scope: @users_scope), class: "btn btn-blue-out" do %>
            <i class="fas fa-undo"></i> Réinitialiser les filtres
          <% end %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="col-4 d-flex flex-column justify-content-center align-items-center">
    <% if asset_exists?("maps/#{@department.name.parameterize}.svg") %>
      <%= image_tag("maps/#{@department.name.parameterize}.svg", alt: @department.name.parameterize, width: 50, height: 50) %>
    <% end %>
    <% if @organisations.length > 1 %>
      <div class="dropdown text-center">
        <a class="dropdown-toggle text-center department-map-title mb-0" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <%= department_level? ? @department.name : @organisation.name %>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to department_users_path(@department) do %>
            <li><div class="dropdown-item">⭐ Toutes les organisations ⭐</div></li>
          <% end %>
          <% @organisations.sort_by(&:name).each do |organisation| %>
            <%= link_to organisation_users_path(organisation) do %>
              <li><div class="dropdown-item"><%= organisation.name %></div></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% else %>
      <h4 class="text-center department-map-title mb-0">
        <%= department_level? ? @department.name : @organisation.name %>
      </h4>
    <% end %>
    <% unless department_level? %>
      <div class="mt-2">
        <%= link_to @organisation.rdv_solidarites_url, target: "_blank" do %>
          <button class="btn btn-blue">Voir sur RDV-Solidarités<i class="fas fa-external-link-alt icon-sm"></i></button>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-4 d-flex flex-column justify-content-around align-items-end">
    <div class="d-flex flex-column align-items-end dropdown">
      <a class="btn btn-blue dropdown-toggle mb-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Créer usager(s)
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
        <li>
          <%= link_to(new_structure_user_path, class: "dropdown-item") do %>
            Créer un usager
          <% end %>
        </li>
        <li>
          <%= link_to(new_structure_upload_path, class: "dropdown-item") do %>
            Charger fichier usagers
          <% end %>
        </li>
      </ul>
      <% if department_level? && @current_agent_roles.any?(&:admin?) %>
        <%= link_to(department_organisations_path(@department), data: { turbo_frame: 'remote_modal' }, class: "mb-2") do %>
          <button class="btn btn-blue-out">Configurer une organisation</button>
        <% end %>
      <% elsif !department_level? && @current_agent_roles.any?(&:admin?) %>
        <%= link_to(organisation_configurations_path(@organisation), class: "btn btn-blue-out mb-2") do %>
          Configurer l'organisation
        <% end %>
      <% end %>
      <a class="btn btn-blue-out dropdown-toggle mb-2" href="#" role="button" id="csvExportButton" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-download"></i> Exporter au format CSV
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="csvExportButton">
        <li>
          <%= link_to(structure_users_path(**params.to_unsafe_h.merge(format: "csv", export_type: nil)), class: "dropdown-item", data: { controller: "tooltip", action: "mouseover->tooltip#csvExportUsers"}) do %>
            Export des usagers
          <% end %>
        </li>
        <li>
          <%= link_to(structure_users_path(**params.to_unsafe_h.merge(format: "csv", export_type: "participations")), class: "dropdown-item", data: { controller: "tooltip", action: "mouseover->tooltip#csvExportParticipations"}) do %>
            Export des rendez-vous des usagers
          <% end %>
        </li>
      </ul>
    </div>
    <% if @current_configuration.present? %>
      <div class="d-flex flex-column align-items-end dropdown">
        <%= link_to(new_structure_batch_action_path(@current_motif_category.id), class: "btn btn-blue") do %>
          Envoyer des invitations aux non-invités
        <% end %>
      </div>
    <% end %>
  </div>
</div>
