<div class="active-users-recap align-items-center d-flex flex-wrap">
  <%= render "users_count", users_count: @users_count, motif_category: @current_motif_category %>
  <% if active_filter_list.any? %>
    <%= render "users/active_filters_recap/action_required" %>
    <%= render "users/active_filters_recap/orientation_types" %>
    <%= render "users/active_filters_recap/referents" %>
    <%= render "users/active_filters_recap/tag_ids" %>
    <%= render "users/active_filters_recap/follow_up_statuses" %>
    <%= render "users/active_filters_recap/creation_date" %>
    <%= render "users/active_filters_recap/convocation_date" %>
    <%= render "users/active_filters_recap/first_invitation_date" %>
    <%= render "users/active_filters_recap/last_invitation_date" %>
    <%= link_to structure_users_path(url_params.except(*active_filter_list)), class: "fr-link mb-2 ms-2" do %>
      <i class="ri-arrow-go-back-line"></i>
      <span>Réinitialiser</span>
    <% end %>
  <% end %>
</div>