<div class="row mb-4 card-white justify-content-center">
  <div class="row mb-2 pb-2">
    <div class="col-6 d-flex">
      <div class="map-container me-4 d-flex align-items-center">
        <% if asset_exists?("maps/#{@department.name.parameterize}.svg") %>
          <%= image_tag("maps/#{@department.name.parameterize}.svg", alt: @department.name.parameterize, width: 80, height: 80) %>
        <% end %>
      </div>
      <div class="col-10 d-flex flex-column justify-content-between">
        <% unless department_level? %>
          <span class="department-title mb-0 text-dark-blue">
            <%= current_department.name %>
          </span>
        <% end %>
        <h2 class="structure-title mb-2 text-dark-blue">
          <%= current_structure.name %>
        </h2>
        <div class="d-flex">
          <% if authorized_any?(current_organisations, :configure) %>
            <% if department_level? %>
              <%= link_to(department_organisations_path(@department), data: { turbo_frame: 'remote_modal' }, class: "fr-link fr-icon-arrow-right-line fr-link--icon-right") do %>
                <span class="fr-icon-settings-5-fill" aria-hidden="true"></span>
                Configurer une organisation
              <% end %>
            <% else %>
              <%= link_to(organisation_category_configurations_path(@organisation), class: "fr-link fr-icon-arrow-right-line fr-link--icon-right") do %>
              <span class="ri-settings-5-fill" aria-hidden="true"></span>
                Configurer l'organisation
              <% end %>
            <% end %>
          <% end %>
          <%= link_to(structure_rdv_solidarites_url(current_structure), target: "_blank", **with_rdv_solidarites_impersonation_warning, id: "rdvi_index-nav_redirect-rdvs", class: "fr-link fr-icon-arrow-right-line ms-4") do %>
            <span <% if agent_impersonated? %>data-action="click->confirmation-modal#show" <% end %>>
              Voir sur RDV-Solidarités
            </span>
            <%= render "common/rdvs_impersonation_warning", url: structure_rdv_solidarites_url(current_structure) if agent_impersonated? %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <%= link_to(new_structure_user_path, class: "btn btn-blue-out", id: "rdvi_index-nav_create-one-user") do %>
        <span class="ri-user-add-fill" aria-hidden="true"></span>
        Ajouter un usager
      <% end %>
      <%= link_to(new_structure_user_list_uploads_category_selection_path, class: "btn btn-blue ms-2", id: "rdvi_index-nav_upload-users") do %>
        <span class="ri-file-add-fill" aria-hidden="true"></span>
        Importer des usagers
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex flex-column justify-content-between">
      <div class="col-6">
        <%= render "search_form_dsfr", url: structure_users_path %>
      </div>
      <div class="d-flex">
        <span class="d-flex align-items-center me-2">Filtrer par :</span>
        <% if @current_category_configuration.present? %>
          <div class="mb-1 me-2 position-relative text-center d-flex align-items-center justify-content-center">
            <%=
              select(
                "user", "status", options_for_select_status(@statuses_count),
                { prompt: "Statut" },
                class: "form-select js-status-selector",
                id: "rdvi_index-nav_filter-status"
              )
            %>
            <% selected_status = options_for_select_status(@statuses_count).find { |statut| statut[1] == params[:status] }%>
            <span class="label-alt position-absolute bg-white pe-none">
              <span class="status-label-alt">
                <% if selected_status.present? %>
                  Statut : <%= selected_status[0] %> <span class="filter-active">1</span>
                <% else %>
                  Statut
                <% end %>
              </span>
              <i class="ri-arrow-down-s-line"></i>
            </span>
          </div>
        <% end %>
        <div class="mb-1 me-2 position-relative text-center d-flex align-items-center justify-content-center">
          <%=
            select(
              "user",
              "referent_id",
              options_for_select_referent(@referents_list),
              { prompt: "Référent" },
              class: "form-select js-referent-selector",
              id: "rdvi_index-nav_filter-referent"
            )
          %>
          <% selected_referent = @referents_list.find { |referent| referent.id == params[:referent_id].to_i }%>
          <span class="label-alt position-absolute bg-white pe-none">
            <span class="referent-label-alt">
              Référent
              <% if selected_referent.present? %>
                <span class="filter-active">1</span>
              <% end %>
            </span>
            <i class="ri-arrow-down-s-line"></i>
          </span>
        </div>
        <%= render "filter_by_orientation_type_button" if show_orientations_filter? %>
        <%= render "filter_by_creation_dates_button" if @current_category_configuration.nil? %>
        <%= render "filter_by_invitation_or_convocation_dates_button" if @current_category_configuration.present? || archived_scope?(@users_scope) %>
      </div>
    </div>
  </div>
</div>
