<div class="row mb-4 card-white justify-content-center p-0">
  <div class="row mb-2 p-4 pb-3">
    <div class="col-6 d-flex">
      <div class="map-container me-4 d-flex align-items-center">
        <% if asset_exists?("maps/#{@department.name.parameterize}.png") %>
          <%= image_tag("maps/#{@department.name.parameterize}.png", alt: @department.name.parameterize, height: 80) %>
        <% end %>
      </div>
      <div class="col-10 d-flex flex-column justify-content-between">
        <span class="department-title mb-0 text-dark-blue">
          <%= department_level? ? "Département" : current_department.name %>
        </span>
        <h2 class="structure-title mb-2 text-dark-blue">
          <%= current_structure.name %>
        </h2>
        <div class="d-flex configure-actions">
          <% if authorized_any?(current_organisations, :configure) %>
            <% if department_level? %>
              <%= link_to(department_organisations_path(@department), data: { turbo_frame: 'remote_modal' }, class: "fr-link me-4") do %>
                <span class="ri-settings-5-fill" aria-hidden="true"></span>
                Configurer
              <% end %>
            <% else %>
              <%= link_to(organisation_configuration_informations_path(@organisation), class: "fr-link me-4") do %>
              <span class="ri-settings-5-fill" aria-hidden="true"></span>
                Configurer l'organisation
              <% end %>
            <% end %>
          <% end %>
          <%= link_to(structure_rdv_solidarites_configuration_url(current_structure), target: "_blank", **with_rdv_solidarites_impersonation_warning, id: "rdvi_index-nav_redirect-rdvs", class: "fr-link fr-icon-arrow-right-line") do %>
            <span <% if agent_impersonated? %>data-action="click->confirmation-modal#show" <% end %>>
              Voir sur RDV-Solidarités
            </span>
            <%= render "common/rdvs_impersonation_warning", url: structure_rdv_solidarites_configuration_url(current_structure) if agent_impersonated? %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <%= link_to(new_structure_user_path) do %>
        <button class="btn btn-blue-out" id="rdvi_index-nav_create-one-user">
          <span class="ri-user-add-fill me-2" aria-hidden="true"></span>
          Ajouter un usager
        </button>
      <% end %>
      <%= link_to(new_structure_user_list_uploads_category_selection_path) do %>
        <button class="btn btn-blue ms-2" id="rdvi_index-nav_upload-users">
          <span class="ri-file-add-fill me-2" aria-hidden="true"></span>
          Importer des usagers
        </button>
      <% end %>
    </div>
  </div>
  <%= render "users_list_filters" %>
</div>
