<div class="d-flex justify-content-between mt-5 <%= @user_tags.any? ? "mb-3" : "mb-5" %>">
  <div class="col-sm-4 d-flex justify-content-start align-items-center">
    <%= link_to (@back_to_users_list_url || structure_users_path), data: { turbo_frame: :_top }, class: "me-2" do %>
      <button class="btn btn-blue-out">Retour</button>
    <% end %>
    <%= render "users/find_rdv_button" %>
    <% if @department.carnet_de_bord_deploiement_id? %>
      <% if @user.carnet_de_bord_carnet_id? %>
        <%= render "users/carnet_de_bord_carnet_link", carnet_url: @user.carnet_de_bord_carnet_url %>
      <% else %>
        <%= render "users/create_carnet_button", user_id: @user.id, department_id: @department.id %>
      <% end %>
    <% end %>
  </div>
  <div class="col-sm-4 d-flex justify-content-center align-items-center flex-column">
    <h4 class="text-center">
      <%= render "users/user_icon", user: @user %> <%= "#{@user.first_name} #{@user.last_name.upcase}" %>
    </h4>
    <% if @user_tags.any? %>
      <div class="mb-3 mt-3 flex-wrap d-flex justify-content-center w-100" id="header_tags_list">
        <% @user_tags.each do |tag| %>
          <%= link_to(structure_user_path(@user.id, anchor: "tags_list"), class: "d-flex text-truncate", target: "_top") do %>
            <%= render "users_tags/user_tag_badge", user: @user, tag:, with_delete: false %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-4 d-flex align-items-center justify-content-end">
    <%= render "users/archiving_button", user: @user, organisation: @organisation, user_is_archived: @user_is_archived %>
  </div>
</div>
