<div class="row mb-4 card-white justify-content-center">
  <div class="col-4 justify-content-center">
    <% if @current_category_configuration.present? %>
      <div class="mb-1 position-relative text-center d-flex align-items-center justify-content-center">
        <%=
          select(
            "user", "status", options_for_select_status(@statuses_count),
            { prompt: "Filtrer par statut" },
            class: "form-select js-status-selector"
          )
        %>
        <% selected_status = options_for_select_status(@statuses_count).find { |statut| statut[1] == params[:status] }%>
        <span class="label-alt position-absolute bg-white pe-none">
          <span class="status-label-alt">
            <% if selected_status.present? %>
              Statut : <%= selected_status[0] %>
            <% else %>
              Filtrer par statut
            <% end %>
          </span>
          <i class="fas fa-angle-down"></i>
        </span>
      </div>
    <% end %>
    <div class="mb-1 position-relative text-center d-flex align-items-center justify-content-center">
      <%=
        select(
          "user",
          "referent_id",
          options_for_select_referent(@referents_list),
          { prompt: "Filtrer par référent" },
          class: "form-select js-referent-selector"
        )
      %>
      <% selected_referent = @referents_list.find { |referent| referent.id == params[:referent_id].to_i }%>
      <span class="label-alt position-absolute bg-white pe-none">
        <span class="referent-label-alt">
          <% if selected_referent.present? %>
            Suivis par : <%= selected_referent %>
          <% else %>
            Filtrer par référent
          <% end %>
        </span>
        <i class="fas fa-angle-down"></i>
      </span>
    </div>
    <%= render "filter_by_orientation_type_button" if @structure_orientations.any? %>
    <%= render "filter_by_creation_dates_button" if @current_category_configuration.nil? %>
    <%= render "filter_by_invitations_dates_button" if @current_category_configuration.present? || archived_scope?(@users_scope) %>
    <%= render "search_form", url: structure_users_path %>

    <div class="d-flex justify-content-between mt-1" data-controller="index-filters">
      <div class="text-left mt-2">
        <% if @tags.any? || @current_category_configuration.present? %>
          <i class="fas fa-filter"></i> Filtrer par :
        <% end %>
        <% if @current_category_configuration.present? %>
          <div class="mt-1">
            <input type="checkbox" name="action_required" class="form-check-input"></input> Usagers avec intervention nécessaire
            <small>
              <i
                class="fas fa-question-circle"
                data-controller="tooltip"
                data-action="mouseover->tooltip#actionRequired"
                data-number-of-days-before-action-required="<%= @current_category_configuration&.number_of_days_before_action_required %>"
              >
              </i>
            </small>
          </div>
        <% end %>
        <% @tags.sort_by(&:value).each do |tag| %>
          <div>
            <input type="checkbox" name="tag_ids[]" <%= "checked" if params[:tag_ids]&.include?(tag.id.to_s) %> value="<%= tag.id %>" class="form-check-input"></input>
            <%= tag.value %>
          </div>
        <% end if @tags.present? %>
      </div>

      <div class="expand-button-container">
        <button data-action="index-filters#expand">
          <i class="fas fa-arrow-down"></i> Voir plus de filtres
        </button>
      </div>
      <% if display_back_to_list_button? %>
        <div>
          <%= link_to structure_users_path(motif_category_id: @current_motif_category&.id, users_scope: @users_scope), class: "btn btn-blue-out" do %>
            <i class="fas fa-undo"></i> Réinitialiser les filtres
          <% end %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="col-4 d-flex flex-column justify-content-center align-items-center">
    <% if asset_exists?("maps/#{@department.name.parameterize}.svg") %>
      <%= image_tag("maps/#{@department.name.parameterize}.svg", alt: @department.name.parameterize, width: 50, height: 50) %>
    <% end %>
    <h4 class="text-center department-map-title mb-0">
      <%= department_level? ? @department.name : @organisation.name %>
    </h4>
    <% unless department_level? %>
      <div class="mt-2">
        <%= link_to @organisation.rdv_solidarites_url, target: "_blank" do %>
          <button class="btn btn-blue">Voir sur RDV-Solidarités<i class="fas fa-external-link-alt icon-sm"></i></button>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-4 d-flex flex-column justify-content-around align-items-end">
    <div class="d-flex flex-column align-items-end dropdown">
      <a class="btn btn-blue dropdown-toggle mb-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Créer usager(s)
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
        <li>
          <%= link_to(new_structure_user_path, class: "dropdown-item") do %>
            Créer un usager
          <% end %>
        </li>
        <li>
          <%= link_to(new_structure_upload_path, class: "dropdown-item") do %>
            Charger fichier usagers
          <% end %>
        </li>
      </ul>
      <% if authorized_any?(@current_organisations, :configure) %>
        <% if department_level? %>
          <%= link_to(department_organisations_path(@department), data: { turbo_frame: 'remote_modal' }, class: "mb-2") do %>
            <button class="btn btn-blue-out">Configurer une organisation</button>
          <% end %>
        <% else %>
          <%= link_to(organisation_category_configurations_path(@organisation), class: "btn btn-blue-out mb-2") do %>
            Configurer l'organisation
          <% end %>
        <% end %>
      <% end %>
      <% if authorized_all?(@current_organisations, :export_csv) %>
        <a class="btn btn-blue-out dropdown-toggle mb-2" href="#" role="button" id="csvExportButton" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-download"></i> Exporter au format CSV
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="csvExportButton" data-turbo-prefetch="false">
          <li>
            <%= link_to(structure_users_path(**params.to_unsafe_h.merge(format: "csv", export_type: nil)), class: "dropdown-item", data: { controller: "tooltip", action: "mouseover->tooltip#csvExportUsers"}) do %>
              Export des usagers
            <% end %>
          </li>
          <li>
            <%= link_to(structure_users_path(**params.to_unsafe_h.merge(format: "csv", export_type: "participations")), class: "dropdown-item", data: { controller: "tooltip", action: "mouseover->tooltip#csvExportParticipations"}) do %>
              Export des rendez-vous des usagers
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
    <% if @current_category_configuration.present? %>
      <div class="d-flex flex-column align-items-end dropdown">
        <%= link_to(new_structure_batch_action_path(motif_category_id: @current_motif_category.id), class: "btn btn-blue") do %>
          Envoyer des invitations aux non-invités
        <% end %>
      </div>
    <% end %>
  </div>
</div>
