<% content_for :title, "#{current_structure.name} - #{@current_motif_category.name} - rdv-insertion" %>

<table class="table table-hover table-responsive">
  <thead class="text-dark-blue" data-controller="index-table-sorting">
    <th scope="col" class="sortable-table-header" id="js_last_name_header">
      Nom
      <i class="fas fa-sort"></i>
    </th>
    <th scope="col" class="sortable-table-header" id="js_first_name_header">
      Prénom
      <i class="fas fa-sort"></i>
    </th>
    <% @current_category_configuration.invitation_formats.each do |invitation_format| %>
      <th scope="col" class="d-none d-lg-table-cell"><%= t(".#{invitation_format}_column_title") %></th>
    <% end %>
    <% if show_invitations?(@current_category_configuration) %>
      <th scope="col">Première invitation</th>
      <th scope="col">Dernière invitation</th>
    <% end %>
    <% if show_convocation?(@current_category_configuration) %>
      <th scope="col">Dernière convocation envoyée le</th>
    <% end %>
    <th scope="col">Statut</th>
    <th scope="col"></th>
  </thead>
  <tbody class="align-middle">
    <% @users.each do |user| %>
      <% follow_up = user.follow_up_for(@current_motif_category) %>
      <%= turbo_stream_from follow_up %>
      <tr
        class="clickable"
        data-controller="user-link"
        data-user-link-path="<%= structure_user_path(user.id) %>"
        data-action="click->user-link#navigate"
      >
        <td><%= display_attribute user.last_name %></td>
        <td><%= display_attribute user.first_name %></td>
        <% @current_category_configuration.invitation_formats.each do |invitation_format| %>
          <td class="d-none d-lg-table-cell">
            <% if follow_up.rdv_pending? || follow_up.closed? %>
              <!-- show nothing -->
            <% elsif user.can_be_invited_through?(invitation_format) %>
              <%= render "invitations/checkbox_form", user: user, invitation_format: invitation_format, motif_category: @current_motif_category, follow_up: follow_up, checked: checked = follow_up.first_invitation_relative_to_last_participation_by(invitation_format).present?, disabled: checked || user.deleted? %>
            <% else %>
              -
            <% end %>
          </td>
        <% end %>
        </td>
        <% if show_invitations?(@current_category_configuration) %>
          <td id="first-invitation-date-<%= follow_up.id %>"><%= display_attribute format_date(follow_up.first_invitation_created_at) %></td>
          <td id="last-invitation-date-<%= follow_up.id %>"><%= display_attribute(format_date(follow_up.last_invitation_created_at)) %></td>
        <% end %>
        <% if show_convocation?(@current_category_configuration) %>
          <% if should_convene_for?(follow_up, @current_category_configuration) %>
            <td>
              <%= render "follow_ups/convocation_button",
                          user_id: user.id, motif_category_id: @current_motif_category.id,
                          disabled: false
              %>
            </td>
          <% else %>
            <td><%= display_attribute format_date(follow_up.last_convocation_created_at) %></td>
          <% end %>
        <% end %>
        <%= render "follow_ups/follow_up_status_cell", follow_up:, number_of_days_before_action_required: @current_category_configuration.number_of_days_before_action_required %>
        <td class="padding-left-15">
          <%= link_to structure_user_path(user.id) do %>
            <button class="btn btn-blue">Gérer</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
