<div class="row mb-4 card-white justify-content-center p-0">
  <div class="row mb-2 p-4 pb-3">
    <div class="col-6 d-flex">
      <div class="map-container me-4 d-flex align-items-center">
        <% if asset_exists?("maps/#{@department.name.parameterize}.svg") %>
          <%= image_tag("maps/#{@department.name.parameterize}.svg", alt: @department.name.parameterize, width: 80, height: 80) %>
        <% end %>
      </div>
      <div class="col-10 d-flex flex-column justify-content-between">
        <span class="department-title mb-0 text-dark-blue">
          <%= department_level? ? "Département" : current_department.name %>
        </span>
        <h2 class="structure-title mb-2 text-dark-blue">
          <%= current_structure.name %>
        </h2>
        <div class="d-flex">
          <% if authorized_any?(current_organisations, :configure) %>
            <% if department_level? %>
              <%= link_to(department_organisations_path(@department), data: { turbo_frame: 'remote_modal' }, class: "fr-link me-4") do %>
                <span class="ri-settings-5-fill" aria-hidden="true"></span>
                Configurer
              <% end %>
            <% else %>
              <%= link_to(organisation_category_configurations_path(@organisation), class: "fr-link me-4") do %>
              <span class="ri-settings-5-fill" aria-hidden="true"></span>
                Configurer l'organisation
              <% end %>
            <% end %>
          <% end %>
          <%= link_to(structure_rdv_solidarites_url(current_structure), target: "_blank", **with_rdv_solidarites_impersonation_warning, id: "rdvi_index-nav_redirect-rdvs", class: "fr-link fr-icon-arrow-right-line") do %>
            <span <% if agent_impersonated? %>data-action="click->confirmation-modal#show" <% end %>>
              Voir sur RDV-Solidarités
            </span>
            <%= render "common/rdvs_impersonation_warning", url: structure_rdv_solidarites_url(current_structure) if agent_impersonated? %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <%= link_to(new_structure_user_path, class: "btn btn-blue-out", id: "rdvi_index-nav_create-one-user") do %>
        <span class="ri-user-add-fill" aria-hidden="true"></span>
        Ajouter un usager
      <% end %>
      <%= link_to(new_structure_user_list_uploads_category_selection_path, class: "btn btn-blue ms-2", id: "rdvi_index-nav_upload-users") do %>
        <span class="ri-file-add-fill" aria-hidden="true"></span>
        Importer des usagers
      <% end %>
    </div>
  </div>
  <div class="row p-4 filters-container pt-3">
    <div class="col-12 d-flex flex-column justify-content-between">
      <div class="col-7">
        <%= render "search_form_dsfr", url: structure_users_path %>
      </div>
      <div class="d-flex index-filters flex-wrap">
        <span class="d-flex align-items-center me-2 ">Filtrer par :</span>
        <% if @current_category_configuration.present? %>
          <div class="mb-1 me-2 position-relative text-center d-flex align-items-center justify-content-center"
               data-controller="filter"
               data-filter-param-name-value="status">
            <% selected_values_count = params[:status]&.split(',')&.count || 0 %>
            <button type="button"
                    class="btn btn-grey dropdown-toggle <% if selected_values_count > 0 %>border-blue<% end %>"
                    data-bs-toggle="dropdown" 
                    aria-expanded="false"
                    id="rdvi_index-nav_filter-status-button">
              <% if selected_values_count > 0 %>
                Statut <span class="filter-active ms-1"><%= selected_values_count %></span>
              <% else %>
                Statut
              <% end %>
            </button>
            <div class="dropdown-menu px-2" style="min-width: 280px;">
              <% options_for_select_status(@statuses_count).each do |label, value| %>
                <% selected = params[:status].present? && params[:status].include?(value) %>
                <div class="form-check">
                  <input class="form-check-input"
                         type="checkbox"
                         value="<%= value %>"
                         id="status_<%= value %>"
                         data-filter-target="checkbox"
                         <%= 'checked' if selected %>>
                  <label class="form-check-label<%= ' filter-label-checked' if selected %>" for="status_<%= value %>">
                    <%= label %>
                  </label>
                </div>
              <% end %>
              <div class="mt-3">
                <button type="button" class="btn btn-blue" data-action="filter#apply">
                  Appliquer
                </button>
              </div>
            </div>
          </div>
        <% end %>
        <div class="mb-1 me-2 position-relative text-center d-flex align-items-center justify-content-center"
             data-controller="filter" 
             data-filter-param-name-value="referent_id">
          <% selected_referent_id = params[:referent_id] %>
          <button type="button"
                  class="btn btn-grey dropdown-toggle <% if selected_referent_id.present? %>border-blue<% end %>"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  id="rdvi_index-nav_filter-referent-button">
            <% if selected_referent_id.present? %>
              Référent <span class="filter-active ms-1">1</span>
            <% else %>
              Référent
            <% end %>
          </button>
          <div class="dropdown-menu px-2" style="min-width: 280px;">
            <% options_for_select_referent(@referents_list).each do |label, id| %>
              <% selected = params[:referent_id] == id.to_s %>
              <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       value="<%= id %>"
                       id="referent_<%= id %>"
                       name="referent_id"
                       data-filter-target="checkbox"
                       <%= 'checked' if selected %>>
                <label class="form-check-label<%= ' filter-label-checked' if selected %>" for="referent_<%= id %>">
                  <%= label %>
                </label>
              </div>
            <% end %>
            <div class="mt-3">
              <button type="button" class="btn btn-blue" data-action="filter#apply">
                Appliquer
              </button>
            </div>
          </div>
        </div>
        <% if @tags.any? || @current_category_configuration.present? %>
        <div class="mb-1 me-2 position-relative text-center d-flex align-items-center justify-content-center"
             data-controller="filter" 
             data-filter-param-name-value="tag_ids">
            <% selected_tag_ids_count = params[:tag_ids]&.map(&:to_i)&.count || 0 %>
          <button type="button"
                  class="btn btn-grey dropdown-toggle <% if selected_tag_ids_count > 0 %>border-blue<% end %>"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  id="rdvi_index-nav_filter-tags-button">
            <% if selected_tag_ids_count > 0 %>
              Tags <span class="filter-active ms-1"><%= selected_tag_ids_count %></span>
            <% else %>
              Tags
            <% end %>
          </button>
          <div class="dropdown-menu px-2" style="min-width: 280px; max-height: 300px; overflow-y: auto;">
            <% @tags.each do |tag| %>
              <% selected = params[:tag_ids]&.include?(tag.id.to_s) %>
              <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       value="<%= tag.id %>"
                       id="tag_<%= tag.id %>"
                       data-filter-target="checkbox"
                       <%= 'checked' if selected %>>
                <label class="form-check-label<%= ' filter-label-checked' if selected %>" for="tag_<%= tag.id %>">
                  <%= tag.value %>
                </label>
              </div>
            <% end %>
            <div class="mt-3">
              <button type="button" class="btn btn-blue" data-action="filter#apply">
                Appliquer
              </button>
            </div>
          </div>
        </div>
        <% end %>
        <%= render "filter_by_orientation_type_button" if show_orientations_filter? %>
        <%= render "filter_by_creation_dates_button" if @current_category_configuration.nil? %>
        <%= render "filter_by_invitation_or_convocation_dates_button" if @current_category_configuration.present? || archived_scope?(@users_scope) %>
      </div>
    </div>
  </div>
</div>
