<div class="d-flex justify-content-between my-5">
  <div class="col-sm-4">
    <%= link_to(@back_to_users_list_url || structure_users_path) do %>
      <button class="btn btn-blue-out">Retour</button>
    <% end %>
    <%= render "users/find_rdv_button" %>
    <% if @department.carnet_de_bord_deploiement_id? %>
      <% if @user.carnet_de_bord_carnet_id? %>
        <%= render "users/carnet_de_bord_carnet_link", carnet_url: @user.carnet_de_bord_carnet_url %>
      <% else %>
        <%= render "users/create_carnet_button", user_id: @user.id, department_id: @department.id %>
      <% end %>
    <% end %>
  </div>
  <div class="col-sm-4">
      <h4 class="text-center">
        <%= render "users/user_icon", user: @user %> <%= "#{@user.first_name} #{@user.last_name.upcase}" %>
      </h4>
      <div class="mb-3 mt-3 flex-wrap d-flex justify-content-center" id="header_tags_list">
        <% @user_tags.each do |tag| %>
          <%= link_to(structure_user_path(@user.id, anchor: "tags_list"), class: "d-flex text-truncate", target: "_top") do %>
            <span class="badge badge-tag background-blue-light text-dark-blue me-2 text-truncate">
              <%= tag.value %>
            </span>
          <% end %>
        <% end %>
      </div>
  </div>
  <div class="col-sm-4 text-end">
    <%= render "users/archiving_button", user: @user, department: @department, archive: @user.archive_for(@department.id) %>
  </div>
</div>
