<div id="organisations_list" class="col-12 col-md-6 px-5">
  <h4>
    <%= User.human_attribute_name(:organisations) %>
  </h4>
  <% user.organisations.each do |organisation|  %>
    <p class="mb-2">
      <%= organisation %>
      <% if @department != organisation.department %>
        <small>
          (Organisation d'un autre départment : <%= organisation.department.number %> - <%= organisation.department.name %>)
        </small>
      <% end %>
    </p>
  <% end %>

  <%= link_to(users_organisations_path(user_id: user.id), data: { turbo_frame: 'remote_modal' }) do %>
    <button class="btn btn-blue"><i class="fas fa-pen"></i> Ajouter ou retirer une organisation </button>
  <% end %>
</div>
