<div class="col-12 text-center overflow-auto">
  <% if @users.empty? %>
    <%= render "no_users" %>
  <% elsif archived_scope?(@users_scope) %>
    <%= render "archived_users_table" %>
  <% elsif @current_category_configuration %>
    <%= render "users_table_for_motif_category" %>
  <% else %>
    <%= render "all_users_table" %>
  <% end %>
  <%= render "users_list_pagination" %>
</div>
