<p class="me-3 ms-1 mb-2 users-count-recap" role="status" aria-live="polite">
  <% if active_filter_list.any? %>
    <% if params[:search_query].present? %>
      <%= custom_pluralize(users_count, "dossier") %> correspondant à votre recherche « <strong><%= params[:search_query] %></strong> »
    <% else %>
      <%= custom_pluralize(users_count, "dossier") %> <%= custom_pluralize(users_count, "usager", with_count: false) %>
    <% end %>
  <% elsif motif_category %>
    <%= custom_pluralize(users_count, "dossier") %> <%= custom_pluralize(users_count, "usager", with_count: false) %> dans « <strong><%= motif_category.name %></strong> »
  <% else %>
    <%= custom_pluralize(users_count, "dossier") %> <%= custom_pluralize(users_count, "usager", with_count: false) %> <%= "dans #{department_level? ? "le département" : "l'organisation"}" %>
  <% end %>
</p>