<div class="d-flex border-bottom align-items-start">
  <div class="d-flex flex-column justify-content-between h-100">
    <%= render "users_list_recap" %>
    <ul class="nav nav-tabs d-flex align-items-end border-bottom-0 mt-0">
      <li class="nav-item pb-0">
        <%= link_to "Tous les contacts", structure_users_path, class: "nav-link #{@current_category_configuration.present? || archived_scope?(@users_scope) ? '' : 'active'}" %>
      </li>
      <li class="pb-0">
        <ul data-controller="drag" data-drag-url="<%= structure_category_configurations_positions_update_path %>" class="<%= "draggable" if authorized_all?(current_organisations, :configure) %> nav">
          <% @all_configurations.each do |category_configuration| %>
            <li class="nav-item pb-0" data-id="<%= category_configuration.id %>">
              <%= link_to structure_users_path(motif_category_id: category_configuration.motif_category_id), class: "nav-link d-flex align-items-center #{category_configuration.id == @current_category_configuration&.id ? 'active' : ''}" do %>
                <%= category_configuration.motif_category_name %>
                <% if authorized_all?(current_organisations, :configure) && @all_configurations.size > 1 %>
                  <i
                    class="ri-draggable"
                    <%= tooltip(content: "Vous pouvez réorganiser l'ordre d'affichage des catégories en les faisant glisser-déposer.") %>
                  >
                  </i>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="nav-item pb-0">
        <%= link_to "Archivés", structure_users_path(users_scope: "archived"), class: "nav-link #{archived_scope?(@users_scope) ? 'active' : ''}" %>
      </li>
    </ul>
  </div>
  <div class="ms-auto d-flex active-users-actions">
    <div class="d-flex flex-column align-items-end pb-2 w-100 h-100">
      <% if authorized_all?(current_organisations, :export_csv) %>
        <%= render "csv_export_button" %>
      <% end %>
      <% if @current_category_configuration.present? %>
        <%= form_for(
              :user_list_upload,
              url: create_from_existing_users_structure_user_list_uploads_path,
              method: :post,
              data: {
                controller: "user-list-upload--invite-all-uninvited",
                action: "submit->user-list-upload--invite-all-uninvited#createUserListUploadAndRedirect",
                current_category_configuration_id: @current_category_configuration.id,
                motif_category_id: @current_category_configuration.motif_category_id
              }
            ) do |f| %>
          <%= button_tag(type: "submit", class: "btn btn-blue-out", id: "rdvi_index-nav_send-invitations-uninvited") do %>
            <i class="ri-send-plane-fill"></i>
            Inviter les non-invités
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
