<div class="container rdv-insertion-form text-dark-blue h4-as-labels mt-4">
  <div class="d-flex justify-content-between mb-4">
    <div>
      <%= link_to(return_path) do %>
        <button class="btn btn-blue-out" type="button">Annuler</button>
      <% end %>
    </div>
  </div>
  <div class="mb-4">
    <div class="row d-flex justify-content-start flex-wrap">
      <%= f.hidden_field :organisation_ids if !@user.persisted? && department_level? %>
      <% unless @user.persisted? %>
        <%= f.hidden_field :created_through, value: "rdv_insertion_user_form" %>
        <%= f.hidden_field :created_from_structure_type, value: current_structure_type.capitalize %>
        <%= f.hidden_field :created_from_structure_id, value: current_structure_id %>
      <% end %>
      <%= render "common/attribute_input", f:f, attribute: :first_name, mandatory: true %>
      <%= render "common/attribute_input", f:f, attribute: :last_name, mandatory: true %>
      <%= render "common/attribute_input", f:f, attribute: :title, as: :select, collection: ["monsieur", "madame"], include_blank: true %>
      <%= render "common/attribute_input", f:f, attribute: :role, as: :select, collection: ["demandeur", "conjoint"], include_blank: true %>
      <%= render "common/attribute_input", f:f, attribute: :affiliation_number %>
      <%= render("common/attribute_input", f:f, attribute: :department_internal_id) if assignable_user_attribute?(@user, :department_internal_id)  %>
      <%= render("common/attribute_input", f:f, attribute: :nir) if assignable_user_attribute?(@user, :nir) %>
      <%= render "common/attribute_input", f:f, attribute: :france_travail_id %>
      <%= render "common/attribute_input", f:f, attribute: :email %>
      <%= render "common/attribute_input", f:f, attribute: :birth_date, as: :date, start_year: Date.today.year - 100 %>
      <%= render "common/attribute_input", f:f, attribute: :address %>
      <%= render "common/attribute_input", f:f, attribute: :phone_number %>
      <%= render "common/attribute_input", f:f, attribute: :rights_opening_date, as: :date, start_year: 2000 %>
    </div>
    <div class="row d-flex justify-content-end">
      <button type="submit" class="btn btn-blue w-auto">Enregistrer</button>
    </div>
  </div>
</div>
