<%= turbo_frame_tag "user_page", data: { turbo_action: "advance" } do %>
  <%= render "users/page_title", user: @user %>

  <%= render 'archive_banner' if @user_is_archived %>

  <div class="container text-dark-blue h4-as-labels mt-4">
    <%= render "user_page_header" %>

    <%= render "user_tabs", user: @user, tab: "infos" %>

    <div class="mb-4">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-end">
          <%= link_to edit_structure_user_path(@user.id), class: "px-4" do %>
            <button class="btn btn-blue mx-2"><i class="fas fa-pencil-alt me-3"></i>Modifier</button>
          <% end %>
        </div>
      </div>
      <div class="row d-flex justify-content-start flex-wrap">
        <%= render "common/attribute_display", record: @user, attribute: :first_name %>
        <%= render "common/attribute_display", record: @user, attribute: :last_name %>
        <%= render "common/attribute_display", record: @user, attribute: :title %>
        <%= render "common/attribute_display", record: @user, attribute: :role, html_class: "m-0 p-0" do %>
          <% if @user.partner && @user.partner.belongs_to_org?(@organisation.id) %>
            <div class="mb-3 mt-1">
              <%= link_to structure_user_path(@user.partner.id), target: "_blank", class: "text-dark-blue text-underline small" do %>
                <p>Voir le <%= @user.partner.role %> <i class="fas ms-2 fa-external-link-alt"></i></p>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <%= render "common/attribute_display", record: @user, attribute: :affiliation_number %>
        <% if show_user_attribute?(@user, :department_internal_id) %>
          <%= render "common/attribute_display", record: @user, attribute: :department_internal_id, tooltip: true %>
        <% end %>
        <% if show_user_attribute?(@user, :nir) %>
          <%= render "common/attribute_display", record: @user, attribute: :nir %>
        <% end %>
        <%= render "common/attribute_display", record: @user, attribute: :france_travail_id %>
        <%= render "common/attribute_display", record: @user, attribute: :email %>
        <%= render "common/attribute_display", record: @user, attribute: :birth_date, as: :date %>
        <%= render "common/attribute_display", record: @user, attribute: :address %>
        <%= render "common/attribute_display", record: @user, attribute: :phone_number %>
        <%= render "common/attribute_display", record: @user, attribute: :rights_opening_date, as: :date %>
        <%= render "common/attribute_display", record: @user, attribute: :created_at, as: :date %>
      </div>
      <div class="row d-flex justify-content-start flex-wrap mt-5">
        <%= render "user_tags", tags: @user_tags, user: @user %>
        <%= render "user_organisations_list", user: @user, archives: @user_archives, department: @department %>
        <%= render "user_referents_list", referents: @user_referents, user: @user %>
      </div>
    </div>
  </div>
<% end %>
