<% content_for :title, "Charger un fichier usagers - #{structure_name_with_context(current_structure)} - rdv-insertion" %>
<%# The body is different from the others because it has a white background, but it will soon be the norm in the whole app.
When it will be the norm, we will remove the content_for :body_class declaration. %>
<% content_for :body_class, "bg-white" %>

<div class="container p-3">
  <div class="row text-dark-blue col-md-10 mx-auto">
    <div class="d-flex justify-content-between align-items-center my-1">
      <div>
        <%= link_to structure_users_path, class: "text-dark-blue fw-bold" do %>
          <i class="ri-arrow-left-s-line"></i><span> Retour</span>
        <% end %>
      </div>
      <div class="col text-center">
        <h1 class="h1-title">Charger un fichier usagers</h1>
        <p class="text-muted mb-4 text-center">
          au niveau de « <%= structure_name_with_context(current_structure) %> »
          <%= render "user_list_uploads/sectorisation_disabled_info", organisation_name: current_structure.name if current_structure_type_in_params == "organisation" %>
        </p>
      </div>
      <div></div>
    </div>
  </div>

  <div class="row py-4 px-3 col-md-10 mx-auto">
    <%= form_with url: new_structure_user_list_upload_path, method: :get, data: { turbo: false } do |f| %>
      <div class="mb-4">
        <h2 class="h2-title mb-4">Sélectionnez la catégorie de suivi sur laquelle importer les usagers</h2>

        <div class="mb-5 mx-2">
          <% @category_configurations.each do |config| %>
            <div class="form-check mb-2">
              <%= f.radio_button :category_configuration_id, config.id, class: "form-check-input" %>
              <%= f.label "category_configuration_id_#{config.id}", config.motif_category.name, class: "form-check-label" %>
            </div>
          <% end %>
          <div class="form-check mb-2">
            <%= f.radio_button :category_configuration_id, "none", class: "form-check-input" %>
            <%= f.label :category_configuration_id_none, "Aucune catégorie de suivi", class: "form-check-label" %>
          </div>
        </div>
        <div class="text-end mt-5 me-5">
          <%= f.submit "Valider la sélection", name: nil, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>