<div>
  <div class="row card-white rdv-insertion-form justify-content-center mb-2">
    <div class="mb-4">
      <div class="row d-flex justify-content-start flex-wrap">
        <h4 class="pb-2">Courrier</h4>
        <%= render(
              "common/attribute_input",
              f:f,
              attribute: :direction_names,
              as: :array,
              tooltip: {
                content: "Si aucun en-tête n'est défini, c'est le nom de l'organisation qui sera utilisé en haut à gauche du courrier."
              }
            ) %>
        
        <div class="col-12 col-md-6 px-5">
          <%= render "messages_configurations/signature_edit", f: f %>
        </div>
        <%= render(
              "common/attribute_input",
              f:f,
              attribute: :sender_city,
              tooltip: {
                content: "Si aucune ville n'est définie, c'est la préfecture du département qui sera utilisée."
              }
            ) %>
        <%= render(
              "common/attribute_input",
              f:f,
              attribute: :letter_sender_name,
              tooltip: { content: letter_sender_name_tooltip_content }
            ) %>
        <%= render "common/attribute_input", f:f, attribute: :display_department_logo, as: :boolean %>
        <%= render "common/attribute_input", f:f, attribute: :display_europe_logos, as: :boolean %>
        <%= render "common/attribute_input", f:f, attribute: :display_france_travail_logo, as: :boolean %>
        <%= render(
              "common/attribute_input",
              f:f,
              attribute: :help_address,
              tooltip: { content: help_address_tooltip_content }
            ) %>
        <h4 class="pt-5 pb-2">SMS</h4>
        <%= render(
              "common/attribute_input",
              f:f,
              attribute: :sms_sender_name,
              tooltip: { content: sms_sender_name_tooltip_content }
            ) %>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end mb-4">
    <%= button_tag("Enregistrer", type: "submit", class: "btn btn-blue") %>
    <% if action == :edit %>
      <%= link_to organisation_messages_configuration_path(organisation, messages_configuration) do %>
        <button class="btn btn-blue-out mx-2">Annuler</button>
      <% end %>
    <% elsif action == :new %>
      <%= link_to organisation_category_configurations_path(organisation), data: { "turbo-frame" => "_top" } do %>
        <button class="btn btn-blue-out mx-2">Annuler</button>
      <% end %>
    <% end %>
  </div>
</div>
