<%= turbo_frame_tag messages_configuration do %>
  <div class="row card-white justify-content-center mb-2">
    <div class="row d-flex justify-content-start flex-wrap">
      <h4 class="pb-2">Courrier</h4>
      <%= render(
            "common/attribute_display",
            record: messages_configuration,
            attribute: :direction_names,
            as: :list,
            tooltip: { content: "Si aucun en-tête n'est défini, c'est le nom de l'organisation qui sera utilisé en haut à gauche du courrier." }
          ) %>
      <div class="col-12 col-md-6 px-5">
        <%= render "messages_configurations/signature_attributes", messages_configuration: messages_configuration %>
      </div>
      <%= render(
            "common/attribute_display",
            record: messages_configuration,
            attribute: :sender_city,
            tooltip: { content: "Si aucune ville n'est définie, c'est la préfecture du département qui sera utilisée." }
          ) %>
      <%= render(
            "common/attribute_display",
            record: messages_configuration,
            attribute: :letter_sender_name,
            tooltip: { content: letter_sender_name_tooltip_content }
          ) %>
      <%= render "common/attribute_display", record: messages_configuration, attribute: :display_department_logo %>
      <%= render "common/attribute_display", record: messages_configuration, attribute: :display_europe_logos %>
      <%= render "common/attribute_display", record: messages_configuration, attribute: :display_france_travail_logo %>
      <%= render(
            "common/attribute_display",
            record: messages_configuration,
            attribute: :help_address,
            tooltip: { content: help_address_tooltip_content }
          ) %>
      <h4 class="pt-5 pb-2">SMS</h4>
      <%= render(
            "common/attribute_display",
            record: messages_configuration,
            attribute: :sms_sender_name,
            tooltip: { content: sms_sender_name_tooltip_content }
          ) %>
    </div>
  </div>
  <div class="d-flex justify-content-end mb-4">
    <% if messages_configuration.persisted? %>
      <%= link_to edit_organisation_messages_configuration_path(@organisation, messages_configuration) do %>
        <button class="btn btn-blue">Modifier</button>
      <% end %>
    <% else %>
      <%= link_to new_organisation_messages_configuration_path(@organisation) do %>
        <button class="btn btn-blue">Modifier</button>
      <% end %>
    <% end %>
  </div>
<% end %>
