<%= render "common/turbo_progress_bar_disabled" %>
<div class="mb-4" data-controller="refresh-page-periodically">
  <h2 class="h2-title">Envoi des invitations en cours...</h2>
  <p class="text-muted">
    Pour les gros volumes, l'envoi des invitations peut prendre plusieurs minutes.
  </p>
  <div class="d-flex justify-content-between align-items-center">
    <div class="progress col-md-9">
      <div
        class="progress-bar background-dark-blue"
        style="width: <%= (current_count.to_f / total_count * 100).round %>%"
        role="progressbar"
        aria-valuenow="<%= (current_count.to_f / total_count * 100).round %>"
        aria-valuemin="0"
        aria-valuemax="100"
      >
      </div>
    </div>
    <small class="col-md-3 text-muted ms-3">
      invitations envoyées pour <%= current_count %> sur <%= total_count %> usagers
      (<%= text_for_time_remaining_for_invitations(current_count, total_count) %>)
    </small>
  </div>
</div>
