<tr class="background-light">
  <td class="border-light">
    <input type="checkbox"
            name="user_row[selected]"
            class="form-check-input user-checkbox"
            data-submit-selected-ids-target="checkbox"
            data-action="click->submit-selected-ids#toggleSubmit change->submit-selected-ids#saveSelectedState"
            data-update-user-row-url="<%= user_list_upload_user_row_path(id: user_row.id, user_list_upload_id: @user_list_upload.id) %>"
            data-user-email="<%= user_row.user.email %>"
            data-user-phone="<%= user_row.user.phone_number %>"
            data-user-invitable="<%= user_row.invitable? %>"
            value="<%= user_row.id %>"
            <%= user_row.invitable? ? user_row_checked_value(user_row) : "disabled" %>>
  </td>

  <% [:title, :first_name, :last_name, :affiliation_number, :phone_number, :email].each do |attribute| %>
    <td class="border-light <%= "text-truncate-150" if attribute.in?([:email, :affiliation_number]) %>">
      <span><%= display_attribute(user_row.user.send(attribute)) %></span>
    </td>
  <% end %>


  <td class="border-light">
    <div class="d-flex justify-content-between align-items-center">
      <span class="badge rounded-pill <%= user_row_before_invitation_badge_class(user_row) %>">
        <%= user_row_before_invitation_status_text(user_row) %>
      </span>
    </div>
  </td>
  <td class="text-center"
      data-controller="invitation-button"
      data-user-id="<%= user_row.user.id %>"
      data-department-id="<%= @user_list_upload.department.id %>"
      data-organisation-id="<%= @user_list_upload.organisation&.id %>"
      data-is-department-level="<%= @user_list_upload.department_level? %>"
      data-motif-category-id="<%= @user_list_upload.motif_category_id %>"
  >
      <button type="submit"
              data-action="click->invitation-button#generatePostalInvitation">
        <i class="ri-download-line"></i>
      </button>
  </td>
</tr>