<tr>
  <% [:title, :first_name, :last_name, :affiliation_number, :phone_number, :email, :post_code].each do |attribute| %>
    <td class="<%= "text-truncate-150" if attribute.in?([:affiliation_number]) %>">
      <span><%= display_attribute(user_row.user.send(attribute)) %></span>
    </td>
  <% end %>

  <td>
    <div class="d-flex justify-content-between align-items-center">
      <% if user_row.all_invitations_failed? %>
        <%= link_to new_user_list_upload_user_row_invitation_attempts_retry_path(user_list_upload_id: user_row.user_list_upload.id, user_row_id: user_row.id), data: { turbo_frame: "remote_modal" } do %>
          <span class="badge rounded-pill alert-danger" id="rdvi_upload_users-invit_statut-tag-error-<%= user_row.id %>" <%= tooltip_for_invitation_errors(user_row) %>>
            Erreur
            <i class="ri-alert-line text-end"></i>
          </span>
        <% end %>
      <% else %>
        <span class="badge rounded-pill <%= user_row_status_after_invitation_badge_class(user_row.after_invitation_status) %>">
          <%= user_row_status_after_invitation_text(user_row.after_invitation_status) %>
        </span>
      <% end %>
    </div>
  </td>
</tr>
