<tr class="<%= user_row_background_color_before_invitation(user_row) %>" id="user-row-<%= user_row.id %>">
  <td class="border-light">
    <input type="checkbox"
            class="form-check-input user-checkbox"
            id="rdvi_upload_users-invit_user-select-<%= user_row.id %>"
            data-user-list-upload--select-user-rows-target="checkbox"
            data-action="click->user-list-upload--select-user-rows#toggleSelect"
            data-user-email="<%= user_row.user.email %>"
            data-user-phone="<%= user_row.user.phone_number %>"
            data-user-invitable="<%= user_row.invitable? %>"
            data-user-row-id="<%= user_row.id %>"
            <%= "checked" if user_row.selected_for_invitation? %>
            <%= "disabled" if disable_invitation_for_user_row?(user_row) %>>
  </td>

  <% [:first_name, :last_name, :phone_number, :email, :post_code, :city].each do |attribute| %>
    <td class="border-light <%= "text-truncate-150" if attribute.in?([:email]) %>">
      <span><%= display_attribute(user_row.user.send(attribute)) %></span>
    </td>
  <% end %>
  <% if @user_list_upload.department_level? %>
    <td class="border-light text-truncate-150">
      <span <%= tooltip(content: user_row.user_department_organisation_names) %>>
        <%= display_attribute(user_row.user_department_organisation_names) %>
      </span>
    </td>
  <% end %>


  <td class="border-light">
    <div class="d-flex justify-content-between align-items-center">
      <span class="badge rounded-pill <%= user_row_before_invitation_badge_class(user_row) %>"
            <%= tooltip(content: tooltip_content_for_user_row_before_invitation(user_row)) %>
      >
        <%= user_row_before_invitation_status_text(user_row) %>
      </span>
    </div>
  </td>
  <td class="text-center"
      data-controller="invitation-button"
      data-user-id="<%= user_row.user.id %>"
      data-department-id="<%= @user_list_upload.department.id %>"
      data-organisation-id="<%= @user_list_upload.organisation&.id %>"
      data-is-department-level="<%= @user_list_upload.department_level? %>"
      data-motif-category-id="<%= @user_list_upload.motif_category_id %>"
  >
      <button type="submit"
              id="rdvi_upload_users-invit_user-download-<%= user_row.id %>"
              data-action="click->invitation-button#generatePostalInvitation"
              <%= "disabled" unless user_row.can_be_invited_through?("postal") %>>
        <i class="ri-download-line text-start <%= "text-muted" unless user_row.can_be_invited_through?("postal") %>"></i>
      </button>
  </td>
  <td class="border-light bg-white d-flex justify-content-center align-items-center user-row-details-toggle" data-turbo-prefetch="false" id="user-row-<%= user_row.id %>-details-link">
    <%= link_to user_list_upload_user_row_show_details_path(user_list_upload_id: @user_list_upload.id, user_row_id: user_row.id), data: { turbo_stream: true } do %>
      <i class="ri-arrow-down-s-line text-dark-blue"></i>
    <% end %>
  </td>
</tr>
