<div id="applicant-<%= applicant.id %>-<%= invitation_format %>-invitation">
  <%= form_with(url: department_level? ? department_applicant_invitations_path(@department, applicant) : organisation_applicant_invitations_path(@organisation, applicant), html: { method: :post }, data: { controller: "checkbox-form", action: "turbo:submit-start->checkbox-form#submitStart", applicant_id: applicant.id, department_id: @department.id, organisation_id: @organisation&.id }) do |f| %>
    <div class="form-group">
      <%= f.hidden_field :motif_category, value: @current_motif_category %>
      <%= f.hidden_field :help_phone_number, value: department_level? ? applicant.organisations.first.phone_number : @organisation.phone_number %>
      <%= f.hidden_field :invitation_format, value: invitation_format %>
      <%= f.check_box :invite, { checked: invited, disabled: invited || applicant.inactive?, data: { controller: "checkbox-form", action: "change->checkbox-form#submit" } }, invited %>
    </div>
  <% end %>
</div>
