<div id="user-<%= user.id %>-<%= invitation_format %>-invitation">
  <%= form_with(url: structure_user_invitations_path(user_id: user.id), html: { method: :post }) do %>
    <%= hidden_field_tag "invitation[format]", invitation_format %>
    <%= hidden_field_tag "invitation[motif_category][id]", motif_category.id %>
    <span <%= tooltip(content: invitation_button_tooltip(invitation_format, checked: checked, in_cooldown: in_cooldown)) %>>
      <%= button_tag type: "submit",
                     id: "#{invitation_format}_invite_for_user_#{user.id}",
                     class: ["invitation-button", ("invitation-refresh-disabled" if in_cooldown)],
                     disabled: in_cooldown || disabled do %>
        <i class="<%= checked ? "ri-refresh-line" : "ri-checkbox-blank-line" %> invitation-button-icon"></i>
      <% end %>
    </span>
  <% end %>
</div>
