<div class="letter-footer">
  <% if display_europe_logos == true %>
    <div class="letter-first-col letter-logo">
      <%= pdf_image_tag(logo_path("europe-s-engage")) %>
    </div>
    <div class="letter-second-col letter-logo">
      <%= pdf_image_tag(logo_path("drapeau-europe")) %>
    </div>
    <div class="letter-third-col letter-logo">
      <%= pdf_image_tag(organisation.logo_path || department.logo_path) %>
    </div>
    <div class="letter-fourth-col rdvi-logo">
      <%= pdf_image_tag(logo_path("rdv-insertion")) %>
    </div>
  <% else %>
    <div class="left-col letter-logo">
      <%= pdf_image_tag(organisation.logo_path || department.logo_path) %>
    </div>
    <div class="right-col rdvi-logo">
      <%= pdf_image_tag(logo_path("rdv-insertion")) %>
    </div>
  <% end %>
</div>
