<div class="letter-footer">
  <% if display_europe_logos == true %>
    <div class="europe-logos">
      <%= pdf_image_tag(logo_path("europe-s-engage")) %>
    </div>
    <div class="europe-logos">
      <%= pdf_image_tag(logo_path("drapeau-europe")) %>
    </div>
  <% end %>
  <% if display_department_logo == true || organisation.logo_path.nil? %>
    <div>
      <%= pdf_image_tag(department.logo_path) %>
    </div>
  <% end %>
  <% if organisation.logo_path.present? %>
    <div>
      <%= pdf_image_tag(organisation.logo_path) %>
    </div>
  <% end %>
  <div>
    <%= pdf_image_tag(logo_path("rdv-insertion")) %>
  </div>
</div>
