<div>
  <div class="header-left-col">
    <div>
      <div class="header-logo">
        <%= image_tag(organisation.logo_path || department.logo_path) %>
      </div>
    </div>
    <% if direction_names.blank? %>
      <p><%= organisation.name.upcase %></p>
    <% else %>
      <% direction_names.each do |direction_name| %>
        <p><%= direction_name.upcase %></p>
      <% end %>
    <% end %>
  </div>
  <div class="header-right-col">
    <p><%= sender_city || department.capital %>, le <%= Date.today.strftime('%d/%m/%Y') %></p>
    <br/>
    <p>À l'attention de</p>
    <br/><br/><br/>
    <p><%= user.title.upcase %> <%= user.first_name.upcase %> <%= user.last_name.upcase %><br/>
    <%= simple_format(user.street_address.upcase, {}, wrapper_tag: "span") %><br/>
    <%= user.zipcode_and_city.upcase %></p>
  </div>
</div>
