<div>
  <div class="left-col">
    <div>
    <div class="department-logo header-logo">
      <%= organisation_or_department_logo(department.name.parameterize, organisation.name.parameterize) %>
    </div>
    </div>
    <% letter_configuration.direction_names.each do |direction_name| %>
      <p><%= direction_name.upcase %></p>
    <% end %>

    <% if letter_configuration.sender_address_lines.present? %>
      <p>
        <% letter_configuration.sender_address_lines.each_with_index do |address_line, i| %>
          <%= address_line.upcase %>
          <%= tag(:br) unless letter_configuration.sender_address_lines.length == i + 1 %>
        <% end %>
      </p>
    <% end %>

  </div>
  <div class="right-col">
    <p><%= letter_configuration.sender_city || department.capital %>, le <%= Date.today.strftime('%d/%m/%Y') %></p>
    <br/>
    <p>À l'attention de</p>
    <br/><br/>
    <p><%= applicant.title.upcase %> <%= applicant.first_name.upcase %> <%= applicant.last_name.upcase %><br/>
    <%= simple_format(applicant.street_address.upcase, {}, wrapper_tag: "span") %><br/>
    <%= applicant.zipcode_and_city.upcase %></p>
  </div>
</div>
