<div class="header">
  <div class="header-left">
    <div class="header-logo">
      <% if organisation.logo.attached? %>
        <%= image_tag(organisation.logo.url) %>
      <% elsif logos_to_display.include?("department") && department.logo.attached? %>
        <%= image_tag(department.logo.url) %>
      <% end %>
    </div>
  </div>
  <div class="header-right">
    <div>
      <p><%= sender_city %>, le <%= Date.today.strftime('%d/%m/%Y') %></p>
      <br/>
      <p>À l'attention de</p>
      <br/><br/>
    </div>
  </div>
  <div class="user-address">
    <p><%= "#{user.title.upcase} " if user.title %><%= user.first_name.upcase %> <%= user.last_name.upcase %><br/>
    <%= simple_format(user.parsed_street_address.upcase, {}, wrapper_tag: "span") %><br/>
    <%= user.parsed_post_code_and_city.upcase %></p>
  </div>
</div>
<div class="direction-names">
  <% direction_names.each do |direction_name| %>
    <p><%= direction_name.upcase %></p>
  <% end %>
</div>
