<%= render 'letters/header', letter_configuration: letter_configuration, department: department, organisation: organisation, applicant: applicant %>
<div class="mail-object">
    <%# Remplacer par une variable @motif ? %>
  <p class="bold-blue"><span class="bold-blue">Objet : Rendez-vous d’orientation dans le cadre de votre RSA</span></p>
  <% if applicant.affiliation_number %>
    <p>N° allocataire : <%= applicant.affiliation_number %></p>
  <% end %>
</div>
<div class="main-content">
  <p><%= applicant.title.capitalize %>,</p>
  <p>Vous êtes allocataire du Revenu de Solidarité Active (RSA) et devez bénéficier d’un accompagnement obligatoire dans le cadre de vos démarches d’insertion.</p>
  <p>La première étape est <span class="bold-blue">une rencontre avec un professionnel de l’insertion</span> afin de définir, selon votre situation et vos besoins, quelle sera la structure la mieux adaptée pour vous accompagner.</p>
  <p>Pour faciliter votre prise de rendez-vous, <%= sender_name %> a mis en place <span class="bold-blue">une plateforme vous permettant de prendre rendez-vous vous-même.</span></p>
  <p>Pour choisir un créneau à votre convenance, saisissez le code d’invitation ci-dessous <span class="bold-blue">sur <u><%= ENV['HOST'] %>/invitation</u></span>, puis suivez les instructions présentes à l'écran :</p>
  <div class="invitation-token">Mon code d'invitation<br/><%= invitation.token %></div>
  <p>Dans le cadre du versement de votre allocation RSA, vous devez obligatoirement prendre ce rendez-vous dans un délai de <%= invitation.number_of_days_to_accept_invitation %> jours à réception de ce courrier.</p>
  <p>Si vous rencontrez une difficulté pour accéder à internet, veuillez téléphoner dès réception de ce courrier au <%= invitation.help_phone_number_formatted %>.</p>
  <p>Veuillez agréer, <%= applicant.title.capitalize %>, l’expression de mes salutations distinguées.</p>
  <div class="letter-signature">
    <% if organisation.responsible.present? %>
      <p>Pour le Président du Conseil départemental et par délégation,<br/>
      <%= organisation.responsible.full_name %>, <%= organisation.responsible.role %></p>
    <% else %>
      <p>Le département <%= I18n.t("with_prefix.#{department.pronoun}", name: invitation.department.name) %><br/></p>
    <% end %>
  </div>
</div>
<%= render 'letters/footer', department: department, organisation: organisation %>
