<%= render 'letters/header', letter_configuration: letter_configuration, department: department, organisation: organisation, applicant: applicant %>
<div class="mail-object">
    <%# Remplacer par une variable @motif ? %>
  <p class="bold-blue"><span class="bold-blue">Objet : Rendez-vous d’orientation dans le cadre de votre RSA</span></p>
  <% if applicant.affiliation_number %>
    <p>N° allocataire : <%= applicant.affiliation_number %></p>
  <% end %>
</div>
<div class="main-content">
  <p><%= applicant.title.capitalize %>,</p>
  <p>Vous êtes allocataire du Revenu de Solidarité Active (RSA) et devez bénéficier d’un accompagnement obligatoire dans le cadre de vos démarches d’insertion.</p>
  <p>La première étape est <span class="bold-blue">un appel téléphonique avec un professionnel de l’insertion</span> afin de définir, selon votre situation et vos besoins, quelle sera la structure la mieux adaptée pour vous accompagner.</p>
  <p>Pour cela, <span class="bold-blue">merci d’appeler le <%= invitation.help_phone_number %> dans un délai de <%= invitation.number_of_days_to_accept_invitation %> jours à réception de ce courrier.</span></p>
  <p>Cet appel est obligatoire dans le cadre du versement de votre allocation RSA.</p>
  <p>Veuillez agréer, <%= applicant.title.capitalize %>, l’expression de mes salutations distinguées.</p>
  <div class="letter-signature">
    <% if organisation.responsible.present? %>
      <p>Pour le Président du Conseil départemental et par délégation,<br/>
      <%= organisation.responsible.full_name %>, <%= organisation.responsible.role %></p>
    <% else %>
      <p>Le département <%= I18n.t("with_prefix.#{department.pronoun}", name: invitation.department.name) %><br/></p>
    <% end %>
  </div>
</div>
<%= render 'letters/footer', department: department, organisation: organisation %>
