<%= render "letters/header", direction_names: direction_names, sender_city: sender_city, department: department, organisation: organisation, user: user %>

<div class="mail-object">
  <p class="bold-blue">Objet : Convocation à un <%= rdv_title_by_phone %> dans le cadre de votre <%= rdv_subject %></p>
  <%= tag.p("N° CAF / MSA : #{user.affiliation_number}") if user.affiliation_number %>
</div>

<div class="main-content">
  <p><%= user.title_in_letter %>,</p>
  <p>Vous êtes <%= user_designation %> et à ce titre vous êtes <%= user.conjugate("convoqué") %> à un <%= rdv_title %> pour <%= rdv_purpose %>.</p>
  <p>Un conseiller d'insertion vous appellera le <strong><%= I18n.l(rdv.starts_at, format: :human) %></strong> sur votre numéro de téléphone: <strong><%= user.phone_number %></strong>.</p>
  <%= tag.p tag.strong("#{mandatory_warning}.") if mandatory_warning %>
  <%= tag.p tag.span(instruction_for_rdv) if instruction_for_rdv.present? %>
  <%= tag.p tag.strong("En cas d'absence, #{punishable_warning}.") if punishable_warning.present? %>
  <p>En cas d'empêchement, veuillez appeler le <%= rdv.phone_number %>.</p>
  <%= render "letters/salutation", user: user %>
  <br/>
  <div class="letter-signature">
    <%= render 'common/organisation_signature', signature_lines: signature_lines, signature_image: signature_image, department: department %>
  </div>
</div>

<%= render "letters/footer", displayed_logos: displayed_logos, department: department %>
