<%= render "letters/header", direction_names: direction_names, sender_city: sender_city, department: department, organisation: organisation, user: user %>

<div class="mail-object">
  <p class="bold-blue"><span class="bold-blue">Objet : Convocation à un <%= rdv_title %> dans le cadre de votre <%= rdv_subject %></span></p>
  <%= tag.p("N° CAF / MSA : #{user.affiliation_number}") if user.affiliation_number %>
  <%= image_tag "illustrations/parcours-drome-courriers.png", alt: "Illustration du parcours du demandeur", class: 'w-100' if department.number == "26" && motif_category&.name == "RSA Main Tendue" %>
  <%= image_tag "illustrations/parcours-drome-convocations-courriers.png", alt: "Illustration du parcours du demandeur", class: 'w-100' if department.number == "26" && motif_category&.name == "RSA équipe pluridisciplinaire" %>
</div>

<div class="main-content">
  <p><%= user.title.capitalize %>,</p>
  <p>Vous êtes <%= user_designation %> et à ce titre <span class="bold-blue">vous êtes <%= user.conjugate("convoqué") %> à un <%= rdv_title %></span> afin de <%= rdv_purpose %>.</p>
  <p>Vous êtes <%= user.conjugate("attendu") %> <span class="bold-blue">le <%= I18n.l(rdv.starts_at, format: :human) %></span> à l'adresse suivante: </p>
  <div class="rdv-address">
    <p><h4><%= rdv.lieu.name %></h4></p>
    <p><h4><%= rdv.lieu.address %></h4></p>
  </div>
  <%= tag.p tag.span(mandatory_warning, class: "bold-blue") if mandatory_warning %>
  <%= tag.p tag.span(instruction_for_rdv, class: "bold-blue") if instruction_for_rdv.present? %>
  <%= tag.p tag.span("En cas d'absence, #{punishable_warning}.", class: "bold-blue") if punishable_warning.present? %>
  <p>En cas d'empêchement, merci d'appeler rapidement le <%= rdv.phone_number %>.</p>
  <%= render "letters/salutation", user: user %>
  <div class="letter-signature">
    <%= render 'common/organisation_signature', signature_lines: signature_lines, signature_image: signature_image, department: department %>
  </div>
</div>

<%= render "letters/footer", display_europe_logos: display_europe_logos, display_france_travail_logo: display_france_travail_logo, display_department_logo: display_department_logo, department: department %>

<div class="mail-object">
  <%= image_tag "illustrations/parcours-drome-courriers-footer.png", alt: "Mentions légales et protection de données du parcours du demandeur", class: 'w-100' if department.number == "26" && motif_category&.name == "RSA Main Tendue" %>
</div>
