<%= turbo_frame_tag tag, class: "badge badge-tag text-truncate justify-content-between background-blue-light text-dark-blue me-2 d-flex" do %>
  <span class="text-truncate">
    <%= tag.value %>
  </span>
  <%= render("common/triggerable_modal", id: "tag_remove_from_organisation_confirm") do %>
    <%= render("tags/tag_remove_from_organisation_confirm", tag: tag, organisation: @organisation, user_count: @user_count_by_tag_id[tag.id] || 0) %>
  <% end %>
  <%=
    link_to(
      organisation_tag_path(organisation_id: @organisation.id, id: tag.id),
      data: {
        turbo_confirm: "tag_remove_from_organisation_confirm",
        turbo_method: :delete,
      },
      class: 'text-dark-grey-alt ms-2'
    ) do
  %>
    <i class="ri-close-line"></i>
  <% end%>
<% end %>
