<div class="d-inline-flex badge badge-tag justify-content-between me-2 d-flex text-truncate">
  <span class="text-truncate"
        <%= tooltip(
          content: "Tag ajouté le #{user_tag_creation_date(tag, user)}",
          placement: "top"
        ) %>
  >
    <%= tag.value %>
  </span>
  <% if with_delete %>
    <%=
      link_to(
        user_tag_assignation_path(user_id: user.id, tag_id: tag.id),
        data: {
          controller: "confirmation-modal",
          turbo_method: :delete,
        }
      ) do
    %>
      <i class="ri-close-line ms-2" data-action="click->confirmation-modal#show"></i>
      <% modal_text_content = capture do %>
        Êtes-vous sûr de vouloir retirer le tag <b><%= tag.value %></b> de l'usager <b><%= user %></b> ?
      <% end %>
      <%= render(
            "common/confirmation_modal",
            title: "Retirer le tag de cet usager ?",
            text_content: modal_text_content,
            action_text: "- Retirer"
          ) %>
    <% end %>
  <% end %>
</div>
