<tr id="user-row-<%= user_row.id %>">
  <% [:title, :first_name, :last_name, :affiliation_number, :phone_number, :email, :post_code].each do |attribute| %>
    <% if user_row.user_save_succeded? %>
      <td class="<%= "text-truncate-150" if attribute.in?([:email, :affiliation_number]) %>">
        <span><%= display_attribute(user_row.user.send(attribute)) %></span>
      </td>
    <% else %>
      <td class="<%= "text-truncate-150" if attribute.in?([:email, :affiliation_number]) %> <%= user_row_background_color_for_attribute(user_row, attribute) %>"
          data-controller="user-row-cell"
          data-user-list-upload-id="<%= @user_list_upload.id %>"
          data-user-row-id="<%= user_row.id %>"
          data-user-row-attribute="<%= attribute %>"
      >
        <div class="d-flex justify-content-between align-items-center"
              id="user-row-cell-<%= user_row.id %>-<%= attribute %>"
              data-action="dblclick->user-row-cell#edit">
          <span><%= display_attribute(user_row.user.send(attribute)) %></span>
          <%= user_row_icon_for_attribute(user_row, attribute) %>
        </div>
      </td>
    <% end %>
  <% end %>

  <td>
    <div class="d-flex justify-content-between align-items-center">
      <% if user_row.no_organisation_to_assign? %>
        <%= link_to(new_user_list_upload_user_row_organisation_assignation_path(user_list_upload_id: @user_list_upload.id, user_row_id: user_row.id),
                    class: "badge rounded-pill alert-warning",
                    data: { turbo_frame: "remote_modal" }
        ) do %>
          Assigner une organisation
          <i class="ri-error-warning-line text-end"></i>
        <% end %>
      <% elsif user_row.last_user_save_attempt&.error? %>
        <%= link_to(new_user_list_upload_user_row_user_save_attempts_retry_path(user_list_upload_id: @user_list_upload.id, user_row_id: user_row.id),
                    data: { turbo_frame: "remote_modal" }
        ) do %>
          <span class="badge rounded-pill alert-danger"<%= tooltip_for_user_save_attempt_errors(user_row.last_user_save_attempt.service_errors) %>>
            Erreur
            <i class="ri-alert-line text-end"></i>
          </span>
        <% end %>
      <% else %>
        <span class="badge rounded-pill <%= user_save_status_badge_class(user_row.after_user_save_status) %>">
          <%= user_save_status_text(user_row.after_user_save_status) %>
        </span>
      <% end %>
    </div>
  </td>
</tr>
