<%= form_for(:parcours_document, url: user_parcours_documents_path_with_structure(user_id: user.id), class: "mt-3", method: :post, data: { controller: "parcours-documents", action: "turbo:submit-start->parcours-documents#spin turbo:submit-end->parcours-documents#stopSpin", max_size: ParcoursDocument::MAX_SIZE }) do |f| %>
  <%= f.hidden_field :type, value: type.camelize %>
  <%= f.file_field(
      :file,
      class: "d-none",
      id: "file-input-#{type}",
      accept: ParcoursDocument::MIME_TYPES.join(', '),
      data: {
        action: "change->parcours-documents#submit",
      }
  ) %>
  <%= button_tag type: 'button', class: "btn btn-primary", data: { action: "click->parcours-documents#fetchFile" } do %>
    <i class="fas fa-plus"></i>
    <div class="spinner-border spinner-border-sm text-white d-none" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    Ajouter un <%= t("activerecord.attributes.parcours_document.type.#{type}") %>
  <% end %>
<% end %>
