<div class="d-flex mb-1 align-items-center" data-controller="parcours-documents">
  <div style="width: 350px" class="me-5 mb-1">
    <%= link_to user_parcours_document_path(user_id: document.user_id, id: document.signed_id(expires_in: 1.hour)), target: "_blank", class: "text-decoration-underline document-link" do %>
      <i class="ri-file-pdf-line mx-1"></i>
      <span class="text-truncate d-table-cell" style="max-width: 300px"><%= document.file.filename %></span>
      <i class="mx-1 ri-external-link-line text-dark-blue"></i>
    <% end %>
  </div>

  <%= render "parcours_documents/document_date_form", document: document %>

  <div class="text-end">
    <% signed_id = document.signed_id(expires_in: 1.hour) %>
    <%= render("common/triggerable_modal", title: "Supprimer ce document ?", action: "Supprimer", id: "remove-parcours-document-#{signed_id}") do %>
      Êtes-vous sûr de vouloir supprimer ce document ?
    <% end %>
    <%=
      link_to(
        user_parcours_document_path(user_id: document.user_id, id: signed_id),
        data: {
          turbo_confirm: "remove-parcours-document-#{signed_id}",
          turbo_method: :delete,
        },
        id: "delete-button-#{document.id}"
    ) do
    %>
      <i class="ri-delete-bin-line text-dark-blue"></i>
    <% end if policy(document).destroy? %>
  </div>
</div>
