<div class="d-flex align-items-center me-5" style="width: 400px">
  <span class="d-block me-1">Date du document : </span>
  <div class="document-date-value" style="width: 115px">
    <% if document.document_date.present? %>
      <strong><%= document.document_date.strftime("%d/%m/%Y") %></strong>
    <% else %>
      <span class="text-dark-grey-alt">Non renseignée</span>
    <% end %>
  </div>
  <% if policy(document).edit? %>
    <%= form_for(document, as: :parcours_document, url: user_parcours_document_path_with_structure(user_id: document.user_id, id: document.signed_id), remote: true, html: { class: "d-inline" }) do |f| %>
      <div class="date-update d-flex d-none">
        <%= f.date_field :document_date, class: "form-control me-1" %>
        <%= button_tag type: "submit", class: "btn btn-link validate-date-button text-dark-blue" do %>
          <i class="fas fa-check"></i>
        <% end %>
        <%= button_tag type: "button", class: "btn btn-link text-dark-blue", data: { action: "click->parcours-documents#toggleEditDate" } do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
      <%= button_tag type: "button", class: "btn btn-link edit-date-button text-dark-blue", data: { action: "click->parcours-documents#toggleEditDate" } do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
    <% end %>
  <% end %>
</div>
