<h1>Bonjour <%= "#{@applicant.first_name} #{@applicant.last_name.upcase}" %>,</h1>
<p>Tu as reçu un premier mail il y a <%= Invitation::NUMBER_OF_DAYS_BEFORE_REMINDER %> jours t'invitant à un <%= @rdv_title %>.</p>
<p>Il ne te reste plus que <span class="font-weight-bold"><%= @invitation.number_of_days_before_expiration %> jours</span> pour prendre rendez-vous à la date et l'horaire de ton choix en cliquant sur le bouton suivant.</p>
<p class="btn-wrapper">
  <%= link_to redirect_invitations_url(params: { uuid: @invitation.uuid }, host: ENV['HOST']), class: "btn btn-primary" do %>
    M'inscrire
  <% end %>
</p>
<p>En cas de problème technique, contactez le <%= @invitation.help_phone_number_formatted %></p>
<%= render 'common/organisation_signature', signature_lines: @signature_lines, department: @department %>
<% if @logo_path %>
  <%= image_pack_tag @logo_path, alt: "Logo département ou organisation", class: "department-logo" %>
<% end %>
