<h1>Bonjour <%= "#{@user.first_name} #{@user.last_name.upcase}" %>,</h1>
<p>Tu as reçu un premier mail il y a <%= Invitation::NUMBER_OF_DAYS_BEFORE_REMINDER %> jours t'invitant à un <%= @rdv_title %>.</p>
<p>Il ne te reste plus que <span class="font-weight-bold"><%= @invitation.number_of_days_before_expiration %> jours</span> pour prendre rendez-vous à la date et l'horaire de ton choix en cliquant sur le bouton suivant.</p>
<p class="btn-wrapper">
  <%= link_to rdv_solidarites_invitations_url(@invitation), class: "btn btn-primary" do %>
    Découvrir
  <% end %>
</p>
<p>En cas de problème, contactez le <%= @invitation.help_phone_number_formatted %></p>
<%= render 'common/organisation_signature', signature_lines: @signature_lines, department: @department %>
<%= render 'mailers/logos', display_europe_logos: @invitation.display_europe_logos, display_france_travail_logo: @invitation.display_france_travail_logo, display_department_logo: @invitation.display_department_logo, organisation_logo_path: @organisation_logo_path, department_logo_path: @department_logo_path %>
