<h1>Bonjour <%= @user %>,</h1>
<p>Tu as reçu un premier mail il y a <%= Invitation::NUMBER_OF_DAYS_BEFORE_REMINDER %> jours t'invitant à un <%= @rdv_title %>.</p>
<p>Il ne te reste plus que <span class="font-weight-bold"><%= @invitation.number_of_days_before_expiration %> jours</span> pour prendre rendez-vous à la date et l'horaire de ton choix en cliquant sur le bouton suivant :</p>
<p class="btn-wrapper">
  <%= link_to @invitation.rdv_solidarites_public_url, class: "btn btn-primary" do %>
    Découvrir
  <% end %>
</p>
<p>Ce lien de prise de rendez-vous est valable <%= @invitation.number_of_days_before_expiration %> jours.</p>
<p>En cas de problème, contactez-nous :</p>
<%= render "mailers/contact_infos", help_phone_number: @invitation.help_phone_number, help_email: @invitation.help_email, help_website: @invitation.help_website %>
<%= render "common/organisation_signature", signature_lines: @signature_lines, department: @department %>
<%= render "mailers/logos", logos_to_display: @logos_to_display, organisation_logo_path: @organisation_logo_path, department_logo_path: @department_logo_path %>
