<h1>Bonjour <%= @user %>,</h1>
<p>Tu es <%= @user.conjugate('invité') %> à participer à un atelier organisé par le Département.</p>
<p>Nous te proposons de cliquer ci-dessous pour découvrir le programme.</p>
<p><span class="font-weight-bold">Si tu es <%= @user.conjugate('intéressé') %> pour participer, tu n’auras qu’à cliquer ci-dessous et t’inscrire en ligne.</p>
<p class="btn-wrapper">
  <%= link_to @invitation.rdv_solidarites_public_url, class: "btn btn-primary" do %>
    Découvrir
  <% end %>
</p>
<p>En cas de problème, contactez-nous :</p>
<%= render "mailers/contact_infos", help_phone_number: @invitation.help_phone_number, help_email: @invitation.help_email, help_website: @invitation.help_website %>
<%= render "common/organisation_signature", signature_lines: @signature_lines, department: @department %>
<%= render "mailers/logos", displayed_logos: @displayed_logos, organisation_logo_path: @organisation_logo_path, department_logo_path: @department_logo_path %>
