<h1>Bonjour <%= "#{@user.first_name} #{@user.last_name.upcase}" %>,</h1>
<p>Vous avez reçu un mail il y a <%= Invitation::NUMBER_OF_DAYS_BEFORE_REMINDER %> jours vous invitant à <span class="font-weight-bold">consulter le(s) atelier(s) et formation(s) proposé(s)</span> sur la plateforme RDV-Solidarités. 
Sachez que vous pouvez toujours vous y inscrire directement et librement, dans la limite des places disponibles.</p>
<p class="btn-wrapper">
  <%= link_to @invitation.rdv_solidarites_public_url, class: "btn btn-primary" do %>
    M'inscrire
  <% end %>
</p>
<%= tag.p tag.strong(@mandatory_warning) if @mandatory_warning %>
<%= tag.p tag.strong("En l'absence d'action de votre part, #{@punishable_warning}.") if @punishable_warning.present? %>
<p>En cas de problème, contactez le <%= @invitation.help_phone_number_formatted %></p>
<%= render 'common/organisation_signature', signature_lines: @signature_lines, department: @department %>
<%= render 'mailers/logos', display_europe_logos: @invitation.display_europe_logos, display_france_travail_logo: @invitation.display_france_travail_logo, display_department_logo: @invitation.display_department_logo, organisation_logo_path: @organisation_logo_path, department_logo_path: @department_logo_path %>
