<h1>Bonjour <%= "#{@applicant.first_name} #{@applicant.last_name.upcase}" %>,</h1>
<p>En tant que bénéficiaire du RSA vous devez contacter la plateforme départementale afin de démarrer votre parcours d’accompagnement.</p>
<p><span class="font-weight-bold">Pour cela, merci d’appeler le <%= @invitation.help_phone_number_formatted %> dans un délai de <%= @invitation.number_of_days_to_accept_invitation %> jours.</span> Cet appel est nécessaire pour le traitement de votre dossier.</p>
<%= render 'common/organisation_signature', signature_lines: @messages_configuration.signature_lines, department: @department %>
<%= render 'common/mailer_footer_logo', logo_name: @logo_name, logo_format: @logo_format %>
