<h1>Bonjour <%= "#{@applicant.first_name} #{@applicant.last_name.upcase}" %>,</h1>
<p>Vous êtes bénéficiaire du RSA et vous devez vous présenter à un rendez-vous d'accompagnement.</p>
<p><span class="font-weight-bold">Pour pouvoir choisir la date et l'horaire de votre rendez-vous</span>, vous pouvez accéder au service RDV-Solidarités en cliquant sur le bouton suivant <span class="font-weight-bold">dans les <%= @invitation.number_of_days_to_accept_invitation %> jours</span>. Ce rendez-vous est obligatoire. En l’absence d'action de votre part, le versement de votre RSA pourra être suspendu ou son montant réduit.</p>
<p class="btn-wrapper">
  <%= link_to redirect_invitations_url(params: { uuid: @invitation.uuid }, host: ENV['HOST']), class: "btn btn-primary" do %>
    Choisir un créneau
  <% end %>
</p>
<p>En cas de problème technique, contactez le <%= @invitation.help_phone_number_formatted %></p>
<%= render 'common/invitations_signature', invitation_parameters: @invitation_parameters, department: @department %>
