<h1>Bonjour <%= "#{@applicant.first_name} #{@applicant.last_name.upcase}" %>,</h1>
<p>En tant que bénéficiaire du RSA, vous avez reçu un premier mail il y a 3 jours vous invitant à vous inscrire directement et librement aux ateliers et formations de votre choix.</p>
<p><span class="font-weight-bold">Pour pouvoir choisir la date et l'horaire de votre rendez-vous</span>, vous pouvez accéder au service RDV-Solidarités en cliquant sur le bouton suivant.</p>
<p class="btn-wrapper">
  <%= link_to redirect_invitations_url(params: { uuid: @invitation.uuid }, host: ENV['HOST']), class: "btn btn-primary" do %>
    Choisir un créneau
  <% end %>
</p>
<p>En cas de problème technique, contactez le <%= @invitation.help_phone_number_formatted %></p>
<%= render 'common/organisation_signature', signature_lines: @signature_lines, department: @department %>
<% if @logo_path %>
  <%= image_pack_tag @logo_path, alt: "Logo département ou organisation", class: "department-logo" %>
<% end %>
