<h1>Bonjour <%= "#{@applicant.first_name} #{@applicant.last_name.upcase}" %>,</h1>
<p>Vous êtes <%= @applicant_designation %> et à ce titre vous devez vous présenter à un <%= @rdv_title %> afin <%= @rdv_purpose %>.</p>
<p><span class="font-weight-bold">Pour pouvoir choisir la date et l'horaire de votre rendez-vous</span>, vous pouvez accéder au service RDV-Solidarités en cliquant sur le bouton suivant <span class="font-weight-bold">dans les <%= @invitation.number_of_days_to_accept_invitation %> jours</span>:</p>
<p class="btn-wrapper">
  <%= link_to redirect_invitations_url(params: { uuid: @invitation.uuid }, host: ENV['HOST']), class: "btn btn-primary" do %>
    Choisir un créneau
  <% end %>
</p>
<% if @display_mandatory_warning %>
  <p><strong>Ce rendez-vous est obligatoire.</strong></p>
<% end %>
<% if @display_punishable_warning %>
  <p>En l’absence d'action de votre part, le versement de votre RSA pourra être suspendu ou son montant réduit.</p>
<% end  %>
<p>En cas de problème technique, contactez le <%= @invitation.help_phone_number_formatted %></p>
<%= render 'common/organisation_signature', signature_lines: @signature_lines, department: @department %>
<% if @logo_path %>
  <%= image_pack_tag @logo_path, alt: "Logo département ou organisation", class: "department-logo" %>
<% end %>
