<h1>Bonjour <%= "#{@applicant.first_name} #{@applicant.last_name.upcase}" %>,</h1>
<p>Vous êtes <%= @applicant.conjugate('invité') %> à participer à un <%= @rdv_title %>.</p>
<p><span class="font-weight-bold">Pour pouvoir choisir la date et l'horaire de votre rendez-vous</span>, vous pouvez accéder au service RDV-Solidarités en cliquant sur le bouton suivant :</p>
<p class="btn-wrapper">
  <%= link_to redirect_invitations_url(params: { uuid: @invitation.uuid }, host: ENV['HOST']), class: "btn btn-primary" do %>
    Choisir un créneau
  <% end %>
</p>
<%= tag.p tag.strong(@mandatory_warning) if @mandatory_warning %>
<%= tag.p tag.strong("En l'absence d'action de votre part, #{@punishable_warning}.") if @punishable_warning.present? %>
<p>En cas de problème technique, contactez le <%= @invitation.help_phone_number_formatted %></p>
<%= render 'common/organisation_signature', signature_lines: @signature_lines, department: @department %>
<% if @logo_path %>
  <%= image_pack_tag @logo_path, alt: "Logo département ou organisation", class: "department-logo" %>
<% end %>
