<h1>Bonjour <%= @user %>,</h1>
<p>Vous êtes <span class="text-violet"><%= @user_designation %></span> et à ce titre vous êtes <%= @user.conjugate('invité') %> à participer à un <span class="text-violet"><%= @rdv_title %></span> pour <%= @rdv_purpose %>.</p>
<%= tag.p(@custom_sentence) if @custom_sentence %>
<p class="btn-wrapper">
  <%= link_to @invitation.rdv_solidarites_public_url, class: "btn btn-primary" do %>
    Je prends rendez-vous
  <% end %>
</p>
<%= tag.p("Ce lien de prise de rendez-vous est valable #{Invitation::NUMBER_OF_DAYS_BEFORE_REMINDER} jours.") if @invitation.expireable? %>
<%= tag.p tag.strong("#{@mandatory_warning}.") if @mandatory_warning %>
<%= tag.p tag.strong("En l'absence d'action de votre part, #{@punishable_warning}.") if @punishable_warning.present? %>
<p>En cas de problème, contactez-nous:</p>
<%= render "mailers/contact_infos", help_phone_number: @invitation.help_phone_number, help_email: @invitation.help_email, help_website: @invitation.help_website %>
<%= render "common/organisation_signature", signature_lines: @signature_lines, department: @department %>
<%= render "mailers/logos", display_europe_logos: @invitation.display_europe_logos, display_france_travail_logo: @invitation.display_france_travail_logo, display_department_logo: @invitation.display_department_logo, organisation_logo_path: @organisation_logo_path, department_logo_path: @department_logo_path %>