<h1>Bonjour <%= @user %>,</h1>
<p>Vous êtes <%= @user_designation %> et à ce titre vous êtes <%= @user.conjugate('invité') %> à participer à un <%= @rdv_title %> pour <%= @rdv_purpose %>.</p>
<%= tag.p(@custom_sentence) if @custom_sentence %>
<p>Pour choisir la date et l'horaire de votre rendez-vous, cliquez sur le bouton suivant&nbsp;:</p>
<p class="btn-wrapper">
  <%= link_to @invitation.rdv_solidarites_public_url, class: "btn btn-primary" do %>
    Je prends rendez-vous
  <% end %>
</p>
<%= tag.p("Ce lien de prise de rendez-vous est valable #{Invitation::NUMBER_OF_DAYS_BEFORE_REMINDER} jours.") if @invitation.expireable? %>
<%= tag.p tag.strong("#{@mandatory_warning}.") if @mandatory_warning %>
<%= tag.p tag.strong("En l'absence d'action de votre part, #{@punishable_warning}.") if @punishable_warning.present? %>
<p>En cas de problème, contactez-nous :</p>
<%= render "mailers/contact_infos", help_phone_number: @invitation.help_phone_number, help_email: @invitation.help_email, help_website: @invitation.help_website %>
<%= render "common/organisation_signature", signature_lines: @signature_lines, department: @department %>
<%= render "mailers/logos", logos_to_display: @logos_to_display, organisation_logo_path: @organisation_logo_path, department_logo_path: @department_logo_path %>