<% content_for :title, "Charger un fichier usagers - #{structure_name_with_context(current_structure)} - rdv-insertion" %>

<div class="container px-5 py-3">
  <div class="row text-dark-blue">
    <div class="col text-center align-items-center my-1">
      <div>
        <h1 class="h1-title">Charger un fichier usagers</h1>
        <p class="text-muted mb-4">
          au niveau de « <%= structure_name_with_context(current_structure) %> »
          <%= ", sur « #{@category_configuration.motif_category.name} »" if @category_configuration %>
          <%= render "user_list_uploads/sectorisation_disabled_info", organisation_name: current_structure.name if current_structure_type_in_params == "organisation" %>
        </p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-10"
          data-controller="user-list-upload"
          data-file-configuration-column-attributes="<%= @file_configuration.column_attributes.to_json %>"
          data-file-configuration-sheet-name="<%= @file_configuration.sheet_name %>">

      <%# We set the file input outside the form because we don't want to submit the file itself %>
      <input type="file"
              class="d-none"
              id="user_list_upload_file"
              data-user-list-upload-target="input"
              data-action="change->user-list-upload#handleFileSelect"
              accept=".csv, .xlsx, .xls, .ods">

      <%= form_with(url: structure_user_list_uploads_path, local: true, class: "upload-form") do |f| %>
        <%= f.hidden_field :category_configuration_id, value: @category_configuration&.id %>
        <%= f.hidden_field :file_name %>

        <div class="mb-4">
          <h2 class="h2-title">Choisissez un fichier usagers à charger</h2>
          <p class="text-muted">
            Formats de fichiers compatibles : .csv, .xls, .xlsx, .ods
          </p>
        </div>

        <div class="upload-zone p-5 mb-4 text-center border border-2 rounded"
            data-user-list-upload-target="dropZone"
            data-action="dragover->user-list-upload#handleDragOver
                        dragleave->user-list-upload#handleDragLeave
                        drop->user-list-upload#handleDrop">
          <div data-user-list-upload-target="fileInputInstruction">
            <p class="mb-0">Glisser/déposer votre fichier ici</p>
            <p class="text-muted small">OU</p>
            <div class="mt-2">
              <label for="user_list_upload_file" class="btn btn-primary">
                Charger un fichier
              </label>
            </div>
          </div>

          <div data-user-list-upload-target="uploadedFileInfo" class="d-flex text-dark-blue justify-content-between align-items-center d-none">
            <div class="d-flex">
              <div class="px-2">
                <i class="ri-file-text-line ri-2x"></i>
              </div>
              <div class="px-2">
                <p>Fichier « <span data-user-list-upload-target="fileName"></span> »</p>
                <p class="text-start text-muted small" data-user-list-upload-target="userCount"></p>
              </div>
              <div class="px-2">
                <i class="ri-close-line ri-2x btn btn-link text-decoration-none" data-action="click->user-list-upload#handleFileRemove"></i>
              </div>
            </div>
            <div>
              <label for="user_list_upload_file" class="btn btn-link p-0 text-decoration-underline">
                Changer de fichier
              </label>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between my-5">
          <div>
            <i class="ri-arrow-left-s-line"></i>
            <%= link_to "Revenir à l'étape précédente", new_structure_user_list_uploads_category_selection_path(category_configuration_id: params[:category_configuration_id]), class: "btn btn-link" %>
          </div>
          <div>
            <%= f.submit "Charger les données usagers",
                        class: "btn btn-primary d-block mx-auto disabled",
                        data: {
                          action: "click->user-list-upload#handleSubmit",
                          user_list_upload_target: "submitButton"
                        } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>