<% content_for :title, "Données usagers chargées - #{structure_name_with_context(@user_list_upload.structure)} - rdv-insertion" %>

<div class="container px-4 py-3" data-controller="submit-selected-ids">
  <div class="row text-dark-blue ">
    <div class="col text-center align-items-center my-1">
      <div>
        <h1 class="h1-title">Données usagers chargées</h1>
        <p class="text-muted mb-4">
          au niveau de « <%= structure_name_with_context(@user_list_upload.structure) %> »
          <%= ", sur « #{@category_configuration.motif_category.name} »" if @category_configuration %>
          <%= render "user_list_uploads/sectorisation_disabled_info", organisation_name: @user_list_upload.structure.name if @user_list_upload.structure_type == "Organisation" %>
        </p>
      </div>
    </div>
  </div>

  <%= turbo_frame_tag "user_collection", data: { turbo_action: "advance" } do %>
    <div class="row justify-content-center">
      <div>
        <div class="mb-4">
          <h2 class="h2-title">Vérifiez et complétez les données usagers</h2>
          <p class="text-muted">
            Données du fichier « <%= @user_list_upload.file_name %> ». Vous pouvez enrichir ces données avec celles du fichier CNAF.<br/>
            Vous pouvez modifier les données des usagers en double-cliquant sur les cellules du tableau.
          </p>
        </div>

        <div class="d-flex border-bottom align-items-center">
          <ul class="nav nav-tabs flex-grow-1 border-bottom-0 align-self-end">
            <li class="nav-item">
              <%= link_to user_list_upload_path(
                    id: @user_list_upload.id,
                    search_query: params[:search_query]
                  ),
                  class: "nav-link #{rows_with_errors? ? 'text-light-blue' : 'active text-dark-blue fw-bold' }",
                  data: { turbo_frame: "user_collection" } do %>
                Tous les usagers chargés
                <%= render "user_list_uploads/user_count_badge", user_count: @user_rows.count, active: !rows_with_errors? %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to user_list_upload_path(
                    id: @user_list_upload.id,
                    rows_with_errors: true,
                    search_query: params[:search_query]
                  ),
                  class: "nav-link #{rows_with_errors? ? 'active text-dark-blue fw-bold' : 'text-light-blue' }",
                  data: { turbo_frame: "user_collection" } do %>
                Usagers avec erreurs
                <%= render "user_list_uploads/user_count_badge", user_count: @user_rows_with_errors.count, active: rows_with_errors? %>
              <% end %>
            </li>
          </ul>
          <div class="d-flex me-2">
            <%= render "enrich_with_cnaf_button", user_rows: @user_rows %>
            <%= render "user_list_uploads/search_form" %>
          </div>
        </div>
      </div>

      <% if rows_with_errors? && @user_rows_with_errors.empty? %>
        <%= render "user_list_uploads/no_errors_user_rows" %>
      <% else %>
        <%= render "user_rows", user_rows: rows_with_errors? ? @user_rows_with_errors : @user_rows %>
      <% end %>

      <div class="container sticky-footer">
        <div class="py-3 px-4 bg-white d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <i class="ri-arrow-left-s-line"></i>
            <%=
              link_to(
                new_structure_user_list_upload_path(category_configuration_id: @category_configuration&.id || "none"),
                data: { controller: "confirmation-modal" }
              ) do
            %>
              <button class="btn btn-link" data-action="click->confirmation-modal#show">Revenir à l'étape précédente</button>
              <%= render "back_to_file_upload_warning_modal" %>
            <% end %>
          </div>
          <div class="d-flex align-items-center">
            <span class="me-4" data-submit-selected-ids-target="selectedUsersCounter"></span>
            <%= form_tag create_many_user_list_upload_user_save_attempts_path(user_list_upload_id: @user_list_upload.id),
                  method: :post,
                  data: { action: "submit->submit-selected-ids#submit", turbo: false } do %>
              <%= hidden_field_tag "selected_ids[]" %>
              <%= submit_tag "Créer et mettre à jour les dossiers", class: "btn btn-primary d-block mx-auto", data: { submit_selected_ids_target: "submit" } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>