<div class="d-flex justify-content-between align-items-center my-4" id="<%= dom_id(orientation) %>">
  <div class="w-100">
    <% if orientation.ends_at? %>
      Du <%= format_date(orientation.starts_at) %> au <%= format_date(orientation.ends_at) %>:
    <% else %>
      Du <%= format_date(orientation.starts_at) %> à Aujourd'hui:
    <% end %>
  </div>
  <div class="w-100">
    Orientation <strong><%= I18n.t("activerecord.attributes.orientation.orientation_types.#{orientation.orientation_type}") %></strong>
  </div>
  <div class="w-100">Structure <strong><%= orientation.organisation.name %></strong></div>
  <div class="w-100">Référent <strong><%= orientation.agent.to_s %></strong></div>
  <div class="w-100 text-end">
    <%= link_to edit_user_orientation_path(id: orientation.id, user_id: orientation.user_id), data: { turbo_frame: 'remote_modal' } do %>
      <i class="fas fa-pencil-alt text-dark-blue"></i>
    <% end %>
    <%= link_to user_orientation_path(id: orientation.id, user_id: orientation.user_id), method: :delete do %>
      <i class="fas fa-trash text-dark-blue"></i>
    <% end %>
  </div>
</div>
