<div class="m-3" data-controller="orientation-form" data-agent-ids-by-organisation-id="<%= @agent_ids_by_organisation_id.to_json %>">
  <%= turbo_frame_tag "error_list" %>
  <div class="form-group text-center">
    <label><%= Orientation.human_attribute_name(:starts_at) %></label>
    <%=
      form.text_field(
        :starts_at,
        class: "w-50 form-control bg-white text-center mx-auto",
        placeholder: "du",
        data: {
          controller: "flatpickr",
          flatpickr_min_date: "2012/04/01",
          flatpickr_max_date: Date.today
        }
      )
    %>
  </div>
  <div class="form-group text-center">
    <label><%= Orientation.human_attribute_name(:ends_at) %> <span class="fw-lighter"> (optionnelle)</p></label>
    <%=
      form.text_field(
        :ends_at,
        class: "w-50 form-control bg-white text-center mx-auto",
        placeholder: "au",
        data: {
          controller: "flatpickr",
          flatpickr_min_date: "2012/04/01"
        }
      )
    %>
  </div>
  <div class="form-group text-center">
    <label><%= Orientation.human_attribute_name(:orientation_type) %></label>
    <%=
      form.collection_select(
        :orientation_type_id,
        @orientation_types,
        :id,
        :name,
        { include_blank: true },
        class: "form-control w-75 text-center mx-auto"
      )
    %>
  </div>
  <div class="form-group text-center">
   <label><%= Orientation.human_attribute_name(:organisation) %></label>
    <%=
      form.select(
        :organisation_id,
        organisations.pluck(:name, :id),
        { include_blank: true },
        class: "form-control w-75 text-center mx-auto",
        data: { orientation_form_target: "organisationsList", action: "change->orientation-form#setAgentsList" }
      )
    %>
  </div>
  <div class="form-group text-center">
    <label><%= Orientation.human_attribute_name(:agent) %><span class="fw-lighter"> (optionnel)</p></label>
    <%= form.select(:agent_id, agents.map { |a| [a.to_s, a.id] }, { include_blank: true }, class: "form-control w-75 text-center mx-auto", data: { orientation_form_target: "agentsList" }) %>
  </div>
  <div class="form-group text-center">
    <%= form.submit "Enregistrer", class: "btn btn-primary mt-3" %>
  </div>
</div>
