<tr id="<%= dom_id(orientation) %>">
  <td>
    <% if orientation.current? %>
      Du <%= format_date(orientation.starts_at) %> à <strong>aujourd'hui</strong>
    <% else %>
      Du <%= format_date(orientation.starts_at) %> au <%= format_date(orientation.ends_at) %>
    <% end %>
  </td>

  <td>
    <strong><%= orientation.orientation_type %></strong>
  </td>

  <td>
    <%= orientation.organisation.name %>
  </td>

  <td>
    <% if orientation.agent_id? %>
      <%= orientation.agent.to_s %>
    <% else %>
      <em>non renseigné</em>
    <% end %>
  </td>

  <td>
    <%= link_to edit_user_orientation_path_with_structure(user_id: orientation.user_id, id: orientation.id), data: { turbo_frame: 'remote_modal' } do %>
      <i class="fas fa-pencil-alt text-dark-blue"></i>
    <% end %>
  </td>

  <td>
    <%= link_to user_orientation_path_with_structure(user_id: orientation.user_id, id: orientation.id), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette orientation ?" } do %>
      <i class="fas fa-trash text-dark-blue"></i>
    <% end %>
  </td>
</tr>
