<%= turbo_frame_tag dom_id(category_configuration, :rdv_preferences) do %>
  <div class="mb-4 background-blue-paler p-4 rounded-3">
    <h3 class="h5 mb-2 fw-bold text-dark-blue">Préférence de rendez-vous</h3>

    <div class="mx-3 mb-4">
      <%= render "common/attribute_display_inline",
          label: CategoryConfiguration.human_attribute_name(:invitation_formats),
          value: invitation_formats_list(category_configuration) %>

      <%= render "common/attribute_display_inline",
          record: category_configuration,
          attribute: :rdv_with_referents,
          label: "Rendez-vous avec référent" %>

      <%= render "common/attribute_display_inline",
          record: category_configuration,
          attribute: :convene_user,
          label: "Convocation possible" %>

      <%= render "common/attribute_display_inline",
          label: CategoryConfiguration.human_attribute_name(:phone_number),
          value: phone_number_with_default(category_configuration),
          tooltip: { content: "Ce numéro sera utilisé dans les invitations et convocations envoyées pour cette catégorie." } %>
    </div>

    <div class="d-flex justify-content-end">
      <%= link_to edit_organisation_category_configuration_rdv_preferences_path(organisation, category_configuration),
                  class: "btn btn-blue",
                  data: { turbo_frame: "remote_modal" } do %>
        Modifier
      <% end %>
    </div>
  </div>
<% end %>
