<h1>Bonjour,</h1>
<p>Vous trouverez ci-dessous une réponse d'un.e bénéficiaire à une convocation :</p>
<%= render "quote_original_mail" %>
<p>Merci de ne pas répondre à cet e-mail. Pour contacter la personne, vous pouvez utiliser les informations contenues dans cet e-mail.</p>
<blockquote>
  <h4>Éxpéditeur</h4>
  <%= tag.p(@applicant.full_name) if @applicant %>
  <%= tag.p(@applicant ? @applicant.email : @author) %>
  <%= tag.p(@applicant.phone_number) if @applicant&.phone_number %>
  <br />
  <h4>Message envoyé par rdv-insertion</h4>
  <p>Convocation pour un rdv le <%= I18n.l(@rdv.starts_at, format: :human) %></p>
  <p>Motif : <%= @rdv.motif_name %> </p>
  <p>Lieu : <%= @rdv.lieu.name %></p>
  <p>Adresse : <%= @rdv.lieu.address %></p>
</blockquote>
<%= render "button_to_applicant_show", applicant: @applicant, organisation: @organisation %>
