<h1>Bonjour,</h1>
<p>Vous trouverez ci-dessous une réponse d'un.e bénéficiaire :</p>
<%= render "quote_original_mail" %>
<p>Vous trouverez ci-dessous les informations nécessaires pour contacter la personne ou transmettre ce mail à un agent en charge de son parcours.</p>
<blockquote>
  <h4>Éxpéditeur</h4>
  <%= tag.p(@user.full_name) if @user %>
  <%= tag.p(@user ? @user.email : @author) %>
  <%= tag.p(@user.phone_number) if @user&.phone_number %>
  <% if @user %>
    <br />
    <h4>Organisation(s) de rattachement</h4>
    <% @user.organisations.each do |organisation| %>
      <p><%= organisation.name %> - <%= organisation.email %></p>
    <% end %>
  <% end %>
</blockquote>
<%= render "link_to_user_page", user: @user, department: @department %>
