<%#
# Application Layout

This view template is used as the layout
for every page that Administrate generates.

By default, it renders:
- Navigation
- Content for a search bar
  (if provided by a `content_for` block in a nested page)
- Flashes
- Links to stylesheets and JavaScripts
%>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP">
  <meta name="viewport" content="initial-scale=1">
  <% if @force_full_page_reload %>
    <meta name="turbo-visit-control" content="reload">
  <% end %>
  <title>
    <%= content_for(:title) %> - <%= application_title %>
  </title>
  <%= csrf_meta_tags %>
<%#
  #
  # We override this layout to add specific SCSS and JS files for the super admin.
  # These files represent a new JS and SCSS entry point.
  # It does not include the rest of the main application's JS and CSS.
  #
  %>
  <%= javascript_include_tag "super_admin", "data-turbo-track": "reload", defer: true %>
  <%= stylesheet_link_tag "super_admin", media: 'all', 'data-turbo-track': 'reload' %>

  <%= render "stylesheet" %>
  <%= render "javascript" %>
  <%= csp_meta_tag if defined?(csp_meta_tag) %>
</head>
<body>
  <%= render "icons" %>

  <div class="app-container">
    <%= render "navigation" -%>

    <main class="main-content">
      <%= render "flashes" -%>
      <%= yield %>
    </main>
  </div>
</body>
</html>
