<%= render "common/remote_modal", title: "Filtrer par référent" do %>
  <%= form_with method: :get, local: true, url: structure_users_path, data: { "turbo-frame" => "_top" } do |form| %>
    <% url_params.except(:referent_id, :department_id, :organisation_id).each do |key, value| %>
      <%= form.hidden_field key, value: value %>
    <% end %>

    <p class="mb-2">Référent</p>
    <div class="d-flex mb-2">
      <%= form.select(:referent_id, @referents_list.uniq.map { |agent| [agent.to_s, agent.id]}, { include_blank: true }, class: "form-select") %>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <%= form.submit "Valider", name: nil, class: "btn btn-blue-out" %>
    </div>
  <% end %>
<% end %>
