<div id="<%= dom_id(organisation, :users_organisation) %>" class="d-flex justify-content-between my-4">
  <div class="col-5"><p><%= organisation.name %></p></div>
  <div class="col-7">
    <%= form_for(:users_organisation, url: structure_users_organisations_path(user.id), method: belongs_to_org ? :delete : :post) do |f| %>
      <%= f.hidden_field :user_id, class: "form-control", value: user.id %>
      <%= f.hidden_field :organisation_id, class: "form-control", value: organisation.id %>
      <div class="d-flex justify-content-between">
        <% if belongs_to_org %>
          <div></div>
          <%= f.submit "- Retirer",
                class: "btn btn-danger text-white",
                data: organisations_count == 1 ? { confirm: "Cette action va supprimer définitivement la fiche de l'usager, êtes-vous sûr de vouloir la supprimer ?" } : {},
                disabled: !removable
          %>
        <% else %>
          <div class="mx-2 w-100">
            <%= f.select :motif_category_id, organisation.motif_categories.map { |mc| [mc.name, mc.id] },
                        { include_blank: "Aucune catégorie" },
                        { class: "form-control" }

            %>
          </div>
          <%= f.submit "+ Ajouter", class: "btn btn-blue text-white" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
