<%= turbo_frame_tag file_configuration do %>
  <div class="row card-white d-flex justify-content-between mb-5">
    <%= render "common/attribute_display", record: file_configuration, attribute: :sheet_name %>
    <div class="col-6 text-align-right">
      <%= link_to organisation_file_configuration_download_template_path(file_configuration_id: file_configuration.id), download: true do %>
        <button class="btn btn-blue-out">
          <i class="ri-download-line"></i> Télécharger le modèle de fichier
        </button>
      <% end %>
    </div>
    <div class="col-12 col-md-9 justify-content-start px-5 mt-3">
      <h4 class="text-center">Colonnes obligatoires</h4>
      <table class="table table-hover table-responsive text-dark-blue">
        <thead>
          <th class="col">Nom de la colonne dans le fichier</th>
          <th class="col">Information correspondante</th>
        </thead>
        <tbody>
          <% file_configuration.column_attributes.each do |key, value| %>
            <tr>
              <td><%= display_attribute value %></td>
              <td><%= FileConfiguration.human_attribute_name(key) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
