<%= turbo_frame_tag file_configuration do %>
  <div class="row card-white d-flex justify-content-between mb-5">
    <%= render "common/attribute_display", record: file_configuration, attribute: :sheet_name %>
    <div class="col-12 col-md-6 5"></div>
    <div class="col-12 col-md-6 justify-content-start px-5 mt-3">
      <h4 class="text-center">Colonnes obligatoires</h4>
      <table class="table table-hover table-responsive text-dark-blue">
        <thead>
          <th class="col">Information concernée</th>
          <th class="col">Colonne attendue</th>
        </thead>
        <tbody>
          <% file_configuration.column_names["required"].each do |key, value| %>
            <tr>
              <td><%= I18n.t("upload_column_names.#{key}").presence || key %></td>
              <td><%= display_attribute value %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-6 justify-content-start px-5 mt-3">
      <% if file_configuration.column_names["optional"].any? %>
        <h4 class="text-center">Colonnes optionnelles</h4>
        <table class="table table-hover table-responsive text-dark-blue">
          <thead>
            <th class="col">Information concernée</th>
            <th class="col">Colonne attendue</th>
          </thead>
          <tbody>
            <% file_configuration.column_names["optional"].each do |key, value| %>
              <tr>
                <td><%= I18n.t("upload_column_names.#{key}") %></td>
                <td><%= display_attribute value %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>
