<div class="d-flex justify-content-between mb-2">
  <%= radio_button_tag "category_configuration[file_configuration_id]",
      file_configuration.id,
      current_file_configuration&.id == file_configuration.id,
      class: "file-configuration-select",
      id: "category_configuration_file_configuration_#{file_configuration.id}"
  %>
  <div class="background-blue-light d-flex justify-content-between px-4 pt-2 rounded flex-grow-1">
    <div class="flex-grow-1 d-flex flex-column justify-content-center">
      <p class="mb-0">Utilisé pour :</p>
      <% file_configuration.category_configurations
                           .select { |category_configuration| category_configuration.department_id == department.id && policy(category_configuration).show? }
                           .group_by(&:motif_category).each do |motif_category, category_configurations| %>
        <p class="mb-2">- <strong><%= motif_category.name %></strong> par <strong><%= category_configurations.map(&:organisation).join(', ') %></strong></p>
      <% end %>
    </div>
    <div class="d-flex flex-column justify-content-center">
      <%= link_to(file_configuration_path(file_configuration), data: { turbo_frame: 'remote_modal' }) do %>
        <button class="btn btn-blue file-configuration-modal-button mt-2 mb-3">Voir le détail</button>
      <% end %>
      <% if policy(file_configuration).edit? %>
        <%= link_to(edit_file_configuration_path(file_configuration), data: { turbo_frame: 'remote_modal' }) do %>
          <button class="btn btn-blue file-configuration-modal-button mt-2 mb-3">Modifier</button>
        <% end %>
      <% else %>
        <div <%= tooltip(content: "Vous n'avez pas les droits pour modifier ce template de fichier car vous n'êtes pas administrateur de toutes les organisations qui l'utilisent") %>>
          <button class="btn btn-blue file-configuration-modal-button mt-2 mb-3" disabled>
            Modifier
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
