<%= render "common/remote_modal", title: "Créer un fichier d'import", size: :large do %>
  <%= form_with model: @file_configuration,
                url: file_configurations_path,
                method: :post,
                data: { turbo_frame: "remote_modal" } do |f| %>
    <%= turbo_frame_tag "error_list" %>
    <div class="px-4"><%= render "file_configuration_form", f: f %></div>

    <hr class="hr-bleed">

    <div class="d-flex justify-content-end gap-2">
      <% if @return_to_path %>
        <%= link_to @return_to_path, data: { turbo_frame: "remote_modal" }, class: "btn btn-blue-out" do %>
          Annuler
        <% end %>
      <% else %>
        <button type="button" class="btn btn-blue-out" data-bs-dismiss="modal">Annuler</button>
      <% end %>
      <%= f.submit "Créer", class: "btn btn-blue" %>
    </div>
  <% end %>
<% end %>
