<%= render "common/remote_modal", title: "Filtrer par date de convocation" do %>
  <%= form_with method: :get, local: true, url: structure_users_path, data: { "turbo-frame" => "_top" } do |form| %>
    <%= render "common/url_query_params_as_form_inputs", form:, omit: [:convocation_date_before, :convocation_date_after] %>

    <div class="d-flex mb-2">
      <%= form.text_field :convocation_date_after,
        class: "w-50 form-control bg-white text-center",
        placeholder: "du",
        value: params[:convocation_date_after],
        data: {
          controller: "flatpickr",
          action: "change->flatpickr#updateAfterDateMin",
          flatpickr_role: "before",
          flatpickr_date_format: "d-m-Y",
          flatpickr_min_date: "2021/04/01",
          flatpickr_max_date: Date.today
        } %>
      <%= form.text_field :convocation_date_before,
        class: "w-50 form-control bg-white text-center",
        placeholder: "au",
        value: params[:convocation_date_before],
        data: {
          controller: "flatpickr",
          action: "change->flatpickr#updateBeforeDateMax",
          flatpickr_role: "after",
          flatpickr_date_format: "d-m-Y",
          flatpickr_min_date: "2021/04/01",
          flatpickr_max_date: Date.today
        } %>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <%= form.submit "Valider", name: nil, class: "btn btn-blue-out" %>
    </div>
  <% end %>
<% end %>
