<%# locals: (category_configuration:, motifs:, organisation:) %>

<div class="pt-4">
  <%= render "organisations/category_configurations/rdv_preferences/rdv_preference",
             category_configuration: category_configuration,
             organisation: organisation %>

  <%= render "category_configurations/motifs",
             motifs: motifs,
             organisation: organisation %>

  <%= render "category_configurations/messages",
             category_configuration: category_configuration,
             organisation: organisation %>

  <%= render "category_configurations/file_import",
             category_configuration: category_configuration,
             organisation: organisation %>

  <%= render "category_configurations/notifications",
             category_configuration: category_configuration,
             organisation: organisation %>

  <div class="mt-4 pt-3">
    <%= link_to organisation_category_configuration_path(organisation, category_configuration),
                data: {
                  controller: "confirmation-modal",
                  turbo_method: :delete
                },
                class: "btn btn-red-out" do %>
      <i class="ri-delete-bin-line me-1"></i>
      <span data-action="click->confirmation-modal#show">Supprimer la catégorie</span>
      <%= render "common/confirmation_modal",
                 title: "Supprimer la catégorie",
                 text_content: "Cette action va supprimer la configuration pour la catégorie « #{category_configuration.motif_category_name} » pour votre organisation, êtes-vous sûr de vouloir continuer ?",
                 action_text: "Supprimer" %>
    <% end %>
  </div>
</div>
