<%= render "common/remote_modal", title: "Notifier pour informer sur les prises de rendez-vous" do %>
  <%= form_with model: @category_configuration,
                url: update_notifications_organisation_category_configuration_path(@organisation, @category_configuration),
                method: :patch,
                data: { turbo_frame: "remote_modal" } do |f| %>
    <%= turbo_frame_tag "error_list" %>
    <%= render "notifications_form", f: f %>

    <hr class="hr-bleed">

    <div class="d-flex justify-content-end gap-2">
      <button type="button" class="btn btn-blue-out" data-bs-dismiss="modal">Annuler</button>
      <%= f.submit "Enregistrer", class: "btn btn-blue" %>
    </div>
  <% end %>
<% end %>
