<div class="mb-2 form-group-toggle" data-controller="periodic-invites-form">
  <div class="d-flex align-items-center">
    <h3>Invitations périodiques</h3>

    <div class="form-check form-switch large mx-2">
      <input class="form-check-input" type="checkbox" data-periodic-invites-form-target="enable" data-action="periodic-invites-form#togglePeriodicInvites" <%= category_configuration.periodic_invites_activated? ? 'checked' : '' %>>
    </div>
  </div>

  <div class="form-group-toggle-content">
    <span data-periodic-invites-form-target="nextInviteIndicator"></span>
    <div class="mt-2">
      <div class="d-flex mb-2">
        <input data-action="periodic-invites-form#periodicityTypeChanged" data-periodic-invites-form-target="typeRadio" type="radio" name="periodicity-type" value="number_of_days_between_periodic_invites" class="mx-3" <%= category_configuration.number_of_days_between_periodic_invites.present? ? 'checked' : '' %>>
        <div class="d-flex flex-direction-row">
          <div>
            Envoyer une nouvelle invitation
          </div>
          <%= f.number_field :number_of_days_between_periodic_invites, placeholder: 'X', min: 1, max: 365, class: "mx-1", data: { 'periodic-invites-form-target': 'numberOfDays', action: 'periodic-invites-form#numberOfDaysInputChanged' }, value: category_configuration.number_of_days_between_periodic_invites %>
          <div> jours après la dernière invitation</div>
        </div>
      </div>
      <div class="d-flex">
        <input data-action="periodic-invites-form#periodicityTypeChanged" data-periodic-invites-form-target="typeRadio" type="radio" name="periodicity-type" value="day_of_the_month_periodic_invites" class="mx-3" <%= category_configuration.day_of_the_month_periodic_invites.present? ? 'checked' : '' %>>
        <div class="d-flex flex-direction-row">
          <div>
            Envoyer une nouvelle invitation le
          </div>
          <%= f.number_field :day_of_the_month_periodic_invites, placeholder: 'X', min: 1, max: 28, class: "mx-1", data: { 'periodic-invites-form-target': 'dayOfTheMonth', action: 'periodic-invites-form#dayOfTheMonthInputChanged' }, value: category_configuration.day_of_the_month_periodic_invites %>
          <div>du mois</div>
        </div>
      </div>
    </div>
  </div>
</div>
