<div class="container text-dark-blue h4-as-labels mt-5 mb-5">
  <div class="d-flex justify-content-start mb-4">
    <div>
      <%= link_to(@back_to_users_list_url || structure_users_path) do %>
        <button class="btn btn-blue-out">Retour</button>
      <% end %>
      <%= link_to @organisation.rdv_solidarites_url, target: "_blank" do %>
        <button class="btn btn-blue">Voir sur RDV-Solidarités<i class="fas fa-external-link-alt icon-sm"></i></button>
      <% end %>
    </div>
  </div>

  <h4>
    Détails de l'organisation
    <i
      class="fas fa-question-circle"
      data-controller="tooltip"
      data-action="mouseover->tooltip#organisationDetails">
    </i>
  </h4>
  <%= render "organisations/organisation", organisation: @organisation %>

  <h4>Catégories de motifs configurés</h4>
  <%= render "configurations/configurations_list", configurations: @configurations, organisation: @organisation, department: @department %>
  <div class="d-flex justify-content-end mb-4">
    <%= link_to new_organisation_configuration_path(@organisation) do %>
      <button class="btn btn-blue">Ajouter</button>
    <% end %>
  </div>

  <h4>Gestion des tags associés</h4>
  <div class="row card-white mb-4">
    <%= turbo_frame_tag "tags", class: "d-flex flex-wrap px-0" do %>
      <%= render @organisation.tags %>
    <% end %>
    <%= turbo_frame_tag "new_tag", class: "px-0" do %>
      <%= render "tags/tag_form" %>
    <% end %>
  </div>

  <h4>Configuration des messages</h4>
  <%= render "messages_configurations/messages_configuration", messages_configuration: @messages_configuration %>
</div>
