<h1>Créneaux de rendez-vous complets</h1>

<p>Madame, Monsieur,</p>
<% if @invitations_without_creneaux_by_motif_category.keys.length == 1 %>
  <p>Vous avez invité des personnes à prendre rdv sur la catégorie suivante :</p>
<% else %>
  <p>Vous avez invité des personnes à prendre rdv sur les catégories suivantes :</p>
<% end %>

<% @invitations_without_creneaux_by_motif_category.each do |motif_category, invitations| %>
  <div class="margined-paragraph">
    <p><span class="font-weight-bold"><%= motif_category.name %></span></p>
    <p>Nombre d'invitations concernées : <span class="font-weight-bold"><%= invitations.length %></span></p>
    <%= tag.p ("Les codes postaux concernés sont : #{invitations.map(&:user_post_code).compact.uniq.join(", ")}.*") if invitations.map(&:user_post_code).compact.any? %>
    <%= tag.p ("Les email des référents concernés sont : #{invitations.flat_map(&:referent_emails).compact.uniq.join(", ")}.") if invitations.flat_map(&:referent_emails).compact.any? %>
    <%= tag.p tag.span("*Les codes postaux n'ont de l'importance que si la sectorisation est activée.", style: "color: grey;") if invitations.map(&:user_post_code).compact.any? %>
  </div>
<% end %>

<p>Les créneaux que vous aviez ouverts dans l'organisation <span class="font-weight-bold"><%= @organisation.name %></span> sont dorénavant complets.</p>
<p>Nous vous invitons donc à créer de nouvelles plages d'ouverture pour des RDV individuels ou collectifs, afin que les usagers puissent bien prendre rendez-vous.</p>
<p>Vous pouvez également allonger le délai de visibilité de votre motif (n'hésitez pas à nous contacter par retour de mail si vous avez besoin d'aide pour le faire).</p>

<p class="btn-wrapper">
  <%= link_to @organisation.rdv_solidarites_url, target: "_blank", class:"btn btn-primary" do %>
    Ouvrir des créneaux
  <% end %>
</p>

<p>Vous remerciant par avance et restant à votre disposition,</p>
<p>L'équipe RDV-Insertion</p>
