<h1>Créneaux de rendez-vous complets</h1>

<p>Madame, Monsieur,</p>
<% if @motifs.one? %>
  <p>Vous avez invité des personnes à prendre rdv sur la catégorie suivante :</p>
<% else %>
  <p>Vous avez invité des personnes à prendre rdv sur les catégories suivantes :</p>
<% end %>

<% @motifs.each do |motif| %>
  <div class="margined-paragraph">
    <p><span class="font-weight-bold"><%= motif[:motif_category_name] %></span></p>
    <p>Nombre d'invitations concernnées : <span class="font-weight-bold"><%= motif[:invations_counter] %></span></p>
    <%= tag.p ("Les codes postaux concernés sont : #{motif[:city_codes].join(", ")}.*") if motif[:city_codes].present? %>
    <%= tag.p ("Les email des référents concernés sont : #{Agent.where(rdv_solidarites_agent_id: motif[:referent_ids]).map(&:email).join(", ")}.") if motif[:referent_ids].present? %>
    <%= tag.p tag.span("*Les codes postaux n'ont de l'importance que si la sectorisation n'est pas activée.", style: "color: grey;") if motif[:city_codes].present? %>
  </div>
<% end %>

<p>Les créneaux que vous aviez ouverts dans l'organisation <span class="font-weight-bold"><%= @organisation.name %></span> sont dorénavant complets.</p>
<p>Nous vous invitons donc à créer de nouvelles plages d'ouverture pour des RDV individuels ou collectifs, afin que les usagers puissent bien prendre rendez-vous.</p>

<p class="btn-wrapper">
  <%= link_to "Ouvrir des créneaux", "https://www.rdv-solidarites.fr/agents/sign_in", class: "btn btn-primary", target: :blank %>
</p>

<p>Vous pouvez également allonger le délai de visibilité de votre motif (n'hésitez pas à nous contacter par retour de mail si vous avez besoin d'aide pour le faire).</p>
<p>Vous remerciant par avance et restant à votre disposition,</p>
<p>L'équipe RDV-Insertion</p>
