<h1>Créneaux de rendez-vous complets</h1>

<p>Madame, Monsieur,</p>
<p>Vous avez invité des personnes à prendre rdv sur la catégorie suivante :</p>

<div class="margined-paragraph">
  <p><span class="font-weight-bold"><%= @motif_category_name %></span></p>
  <p>Nombre d'invitations concernées : <span class="font-weight-bold"><%= @invitations.length %></span></p>
  <%= tag.p ("Les codes postaux concernés sont : #{@post_codes.join(", ")}.*") if @post_codes.any? %>
  <%= tag.p ("Les email des référents concernés sont : #{@referent_emails.join(", ")}.") if @referent_emails.any? %>
  <%= tag.p tag.span("*Les codes postaux n'ont de l'importance que si la sectorisation est activée.", style: "color: grey;") if @post_codes.any? %>
</div>

<p>Les créneaux que vous aviez ouverts dans l'organisation <span class="font-weight-bold"><%= @organisation.name %></span> sont dorénavant complets.</p>
<p>Nous vous invitons donc à créer de nouvelles plages d'ouverture pour des RDV individuels ou collectifs, afin que les usagers puissent bien prendre rendez-vous.</p>
<p>Vous pouvez également allonger le délai de visibilité de votre motif (n'hésitez pas à nous contacter par retour de mail si vous avez besoin d'aide pour le faire).</p>

<p class="btn-wrapper">
  <%= link_to @organisation.rdv_solidarites_url, target: "_blank", class:"btn btn-primary" do %>
    Ouvrir des créneaux
  <% end %>
</p>

<p>Veuillez répondre à ce mail ou contacter l'organisation <%= @organisation.name %> à l'email suivant <%= mail_to @organisation.email %> si vous ne souhaitez plus reçevoir ces emails.</p>

<p>Vous remerciant par avance et restant à votre disposition,</p>
<p>L'équipe RDV-Insertion</p>
