<%= turbo_frame_tag "user_page", data: { turbo_action: "advance" } do %>
  <%= render "users/page_title", user: @user %>

  <%= render "users/archive_banner" if @user_is_archived %>

  <div class="container text-dark-blue h4-as-labels mt-4">
    <%= render "users/user_page_header" %>

    <%= render "users/user_tabs", user: @user, tab: "rdvs" %>
    <% @all_configurations.each do |category_configuration| %>
      <% follow_up = @follow_ups.find { |rc| rc.motif_category_id == category_configuration.motif_category_id } %>
      <% if follow_up %>
        <%=
          render(
            "follow_ups/follow_up",
            follow_up: follow_up, organisation: @organisation, user: @user, department: @department,
            participations: follow_up.participations, user_department_organisations: @user_department_organisations,
            convocable_participations: follow_up.participations.select(&:convocable?), category_configuration:,
            user_is_archived: @user_is_archived,
            invitations: follow_up.invitations
          )
        %>
      <% else %>
        <div class="m-4">
          <div class="card my-3 mx-auto w-75">
            <div class="card-header py-3 blue-out">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h5>
                    <strong><%= category_configuration.motif_category_name %></strong>
                    <small><%= category_configuration.rdv_with_referents? ? " (avec référents)" : "" %></small>
                  </h5>
                </div>
                <div>
                  <%= render "follow_ups/new_button", user: @user, category_configuration:, button_text: "Ouvrir un suivi" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
