<%= turbo_frame_tag messages_configuration do %>
  <div class="card-white p-4 mb-4">
    <h3 class="h5 mb-2 fw-bold">Identité de l'expéditeur</h3>
    <p class="text-muted small mb-4">
      Ces informations permettront d’identifier l’organisation dans les invitations et les convocations envoyées aux usagers.
    </p>

    <%= form_with model: [organisation, messages_configuration] do |f| %>
      <div class="mb-4">
        <div class="p-2">
          <h4 class="h6 fw-bold text-dark-blue mb-1">Paramètres liés aux mails et courriers</h4>
          <div class="p-3">
            <div class="mb-4">
              <%= render "common/attribute_input_inline",
                        f: f,
                        attribute: :logos_to_display,
                        as: :collection_check_boxes,
                        collection: messages_configuration_logo_types_collection
                        %>
              <div class="my-2">
                <p class="fw-bold mb-2">Signatures</p>
                <p class="text-muted small col-8">Vous avez la possibilité de personnaliser la signature du mail et du courrier. Vous pouvez également joindre une signature manuscrite au format .png, .jpg ou .pdf</p>
                <div class="row py-2 align-items-center">
                  <div class="col-4 medium">
                    <%= f.label :signature_lines, "Signature texte" %>
                  </div>
                  <div class="col-4">
                    <%= render "common/array_fields/input", attribute_name: :signature_lines, f: f, placeholder: placeholder_with_default(messages_configuration, :signature_lines) %>
                  </div>
                </div>
                <div class="row py-4 align-items-center">
                  <div class="col-4 medium">
                    <%= f.label :signature_image, "Signature jointe" %>
                  </div>
                  <div class="col-6">
                    <%= render "common/image_upload_zone",
                              f: f,
                              record: messages_configuration,
                              attribute: :signature_image,
                              placeholder_text: "Glisser/déposer la signature ici" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="p-2">
          <h4 class="h6 fw-bold text-dark-blue mb-1">Paramètres propres aux courriers</h4>
          <div class="p-3">
            <%= render "common/attribute_input_inline",
                      f: f,
                      attribute: :direction_names,
                      as: :array,
                      placeholder: placeholder_with_default(messages_configuration, :direction_names),
                      html_class: "col-6",
                      tooltip: {
                        content: "L’en-tête des courriers d’invitations et de convocations permet à l’usager d’identifier l’expéditeur. Le nom de l’organisation est utilisé par défaut."
                      }
                      %>
            <%= render "common/attribute_input_inline",
                      f: f,
                      attribute: :sender_city,
                      placeholder: placeholder_with_default(messages_configuration, :sender_city),
                      tooltip: {
                        content: "Vous pouvez personnaliser la ville d’expédition du courrier. La  préfecture du département est utilisé par défaut."
                      }
                      %>
            <%= render "common/attribute_input_inline",
                      f: f,
                      attribute: :help_address,
                      tooltip: {
                        content: "Permet d’ajouter un lieu d'accueil physique pour aider les usagers en difficultés avec le rendez-vous."
                      }
                      %>
            <%= render "common/attribute_input_inline",
                      f: f,
                      attribute: :letter_sender_name,
                      placeholder: placeholder_with_default(messages_configuration, :letter_sender_name),
                      tooltip: {
                        content: "Permet d’identifier l’expéditeur dans le contenu des courriers.  Le « conseil départemental » est utilisé par défaut."
                      }
                      %>
          </div>
        </div>
        <div class="p-2">
          <h4 class="h6 fw-bold text-dark-blue mb-1">Paramètres propres aux SMS</h4>
          <div class="p-3">
            <%= render "common/attribute_input_inline",
                      f: f,
                      attribute: :sms_sender_name,
                      placeholder: placeholder_with_default(messages_configuration, :sms_sender_name)
                    %>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <%= link_to organisation_messages_configuration_path(organisation, messages_configuration), class: "btn btn-blue-out me-2" do %>
            Annuler
          <% end %>
          <%= f.submit "Enregistrer", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>