<div class="row d-flex justify-content-center mt-4">
  <div class="text-center col-10 col-md-5">
    <p>Des statistiques mois par mois sont disponibles sur les pages des départements</p>
  </div>
</div>
<div class="row d-flex justify-content-center mt-4 flex-wrap">
  <div class="text-center col-10 col-md-5">
    <p class="highlight-stat big"><%= @stats.applicants.count %></p>
    <p class="highlight-stat">bénéficiaires du RSA<br/>gérés dans RDV-Insertion</p>
  </div>
  <div class="text-center col-10 col-md-5">
    <p class="highlight-stat big"><%= @stats.rdvs.count %></p>
    <p>rendez-vous pris</p>
  </div>
  <div class="text-center col-10 col-md-5">
    <p class="highlight-stat big"><%= @stats.sent_invitations.count %></p>
    <p>invitations envoyées<br/>par mail, SMS, et courrier</p>
  </div>
  <div class="text-center col-10 col-md-5">
    <p class="highlight-stat big"><%= @stats.percentage_of_no_show.round %> %</p>
    <p>seulement de rendez-vous<br/>non honorés avec RDV-Insertion</p>
  </div>
  <div class="text-center col-10 col-md-5">
    <p class="highlight-stat big"><%= @stats.average_invitation_delay_in_days.round %> jours</p>
    <p>délai moyen entre l'invitation<br/>et la prise de rendez-vous</p>
  </div>
  <div class="text-center col-10 col-md-5">
    <p class="highlight-stat big"><%= @stats.average_rdv_delay_in_days.round %> jours</p>
    <p>délai moyen entre la prise<br/>d'un rendez-vous et sa tenue</p>
  </div>
  <div class="text-center col-10 col-md-5">
    <p class="highlight-stat big"><%= @stats.percentage_of_applicants_oriented_in_time.round %> %</p>
    <p>de bénéficiaires <strong>orientés en - de 30 jours</strong></p>
  </div>
  <div class="text-center col-10 col-md-5 mb-4">
    <p class="highlight-stat big"><%= @stats.agents.count %> agents</p>
    <% if @department %>
      <p>utilisent RDV-Insertion</p>
    <% else %>
      <p>travaillant pour <strong><%= Department.count %> départements</strong><br/> utilisent RDV-Insertion</p>
    <% end %>
  </div>
</div>
