<%# Correctly displays a model attribute, depending of his type. %>
<%# 2 locals are mandatory : record (a class instance) and attribute (a key corresponding to a class attribute) %>
<%# as defines the display style ; boolean and text columns don't need to be defined %>

<%# Possible options for as : %>
<%# list: for array columns or has_many associations ; displays one line for each value %>
<%# inline_list: for array columns or has_many associations ; displays all values in one line %>
<%# date: for date or datetime columns ; displays the date in a human format %>
<%# for boolean or text columns, no optional variable is required %>

<%# Other variables are optionnal : id and tooltip %>
<%# id: adds an id to the grouping div %>
<%# tooltip: adds a tooltip next to the label ; the tooltip must be configured in javascript/components/tooltip.js %>

<div id="<%= local_assigns[:id].present? ? id : nil %>" class="col-12 col-md-6 px-5">
  <h4>
    <%= record.class.human_attribute_name(attribute) %>
    <% if local_assigns[:tooltip] %>
      <i
        class="ri-question-line"
        data-controller="tooltip"
        data-action="mouseover->tooltip#<%= attribute.to_s.camelize(:lower) %>Attribute"
      >
      </i>
    <% end %>
  </h4>
  <% if local_assigns[:as] == :list || local_assigns[:as] == :inline_list %>
    <% if record.send(attribute).blank? %>
      <p class="mb-2">-</p>
    <% elsif local_assigns[:as] == :inline_list %>
      <p class="mb-2"><%= record.send(attribute).join(", ") %></p>
    <% else %>
      <% record.send(attribute).each do |attribute_value| %>
        <p class="mb-2"><%= attribute_value %></p>
      <% end %>
    <% end %>
  <% elsif local_assigns[:as] == :date %>
    <p><%= display_attribute format_date(record[attribute]) %></p>
  <% elsif record[attribute].in? [true, false] %>
    <p><%= display_attribute I18n.t("boolean.#{record[attribute]}") %></p>
  <% else %>
    <p class="<%= local_assigns[:html_class] %>"><%= display_attribute record[attribute] %></p>
  <% end %>

  <%= yield if block_given? %>
</div>
