<%# Displays an attribute input field in inline format (label left, input right) %>
<%# 2 locals are mandatory : f (a form) and attribute (a key corresponding to a class attribute) %>
<%# Optional: label (custom label text or html_safe string), mandatory (adds *), tooltip (hash with content and optional icon), align (start or center, default center) %>

<div class="row py-2 align-items-<%= local_assigns[:align] || 'center' %>">
  <div class="col-4">
    <%= f.label attribute, class: "fw-bold d-inline" do %>
      <%= (local_assigns[:label] || f.object.class.human_attribute_name(attribute)).html_safe %><%= "*" if local_assigns[:mandatory] %>
      <% if local_assigns[:tooltip].is_a?(Hash) %>
        <i
          class="<%= local_assigns[:tooltip][:icon] || 'ri-question-line' %> text-dark-blue fs-4 ms-2 fw-normal"
          <%= tooltip(content: local_assigns[:tooltip][:content], placement: local_assigns[:tooltip][:placement] || 'top') %>
        ></i>
      <% end %>
    <% end %>
  </div>
  <div class="<%= local_assigns[:html_class] || 'col-4' %>">
    <% if local_assigns[:as] == :array %>
      <%= render "common/array_fields/input", attribute_name: attribute, f: f, placeholder: local_assigns[:placeholder] %>
    <% elsif local_assigns[:as] == :collection_check_boxes %>
      <div class="d-flex flex-column gap-2">
        <%= f.collection_check_boxes attribute, collection, ->(element) { element[0] }, ->(element) { element[1] }, include_hidden: false do |b| %>
          <div class="form-check">
            <%= b.check_box(class: "form-check-input") %>
            <%= b.label(class: "form-check-label") %>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= f.text_field attribute, class: "form-control", placeholder: local_assigns[:placeholder] %>
    <% end %>
  </div>
</div>
