<%# Displays an attribute input field %>
<%# 2 locals are mandatory : f (a form) and attribute (a key corresponding to a class attribute) %>
<%# as defines the display style ; boolean and text columns don't need to be defined %>

<%# Possible options for as : %>
<%# select: a collection of options to display as a select input ; collection must be given %>
<%# select: a collection of checkboxes ; collection must be given %>
<%# date: for date or datetime input ; a start year for must be given (end year is current year) %>
<%# array: for array columns ; displays one input field per array value, with possibility to add or remove rows %>
<%# association : for associated tables %>
<%# boolean : for booleans, displays boolean as radio buttons %>
<%# for text columns, no optional variable is required %>

<%# Other variables are optionnal : mandatory and tooltip %>
<%# mandatory: adds a star to the label %>
<%# tooltip: adds a tooltip next to the label ; it is hash that must contain a content key %>

<div class="<%= local_assigns[:columns] == false ? '' : 'col-12 col-md-6' %> <%= local_assigns[:padding] == false ? '' : 'px-5' %>">
  <h4>
    <%= f.object.class.human_attribute_name(attribute) %><%= " *" if local_assigns[:mandatory] %>
    <% if local_assigns[:tooltip].is_a?(Hash) %>
      <i
        class="ri-question-line"
        <%= tooltip(content: local_assigns[:tooltip][:content], placement: local_assigns[:tooltip][:placement]) %>
      >
      </i>
    <% end %>
  </h4>
  <% if local_assigns[:as] == :select %>
    <%= f.select attribute, collection, { include_blank: local_assigns[:include_blank] }, { selected: f.object[attribute], class: "mb-3 mt-2" } %>
  <% elsif local_assigns[:as] == :date %>
    <p><%= f.date_select attribute, { start_year: start_year, end_year: Date.today.year, include_blank: true, order: [:day, :month, :year] }, { class: "date-select mt-2" } %></p>
  <% elsif local_assigns[:as] == :association %>
    <p><%= f.collection_select attribute, collection, :id, :name, { include_blank: true } %></p>
  <% elsif local_assigns[:as] == :collection_check_boxes %>
    <p class="checkboxes d-flex">
      <%= f.collection_check_boxes attribute, collection, ->(element) { element[0] }, ->(element) { element[1] }, include_hidden: false do |b| %>
        <%=  b.label(class: "check_box text-center") { b.check_box(class: "check_box") + b.text  } %>
      <% end %>
    </p>
  <% elsif local_assigns[:as] == :array %>
    <p><%= render "common/array_fields/input", attribute_name: attribute, f: %></p>
  <% elsif local_assigns[:as] == :boolean %>
    <div class="mt-3 mb-4 input radio_buttons optional configuration_convene_user field_without_errors">
      <span class="radio">
        <%= f.label attribute do %>
          <%= f.radio_button attribute, true, class: "radio_buttons" %>
          Oui
        <% end %>
      </span>
      <span class="radio">
        <%= f.label attribute do %>
          <%= f.radio_button attribute, false, class: "radio_buttons" %>
          Non
        <% end %>
      </span>
    </div>
  <% else %>
    <% if local_assigns[:value] %>
      <div class="my-3"><%= f.text_field attribute, value: local_assigns[:value] %></div>
    <% else %>
      <div class="my-3"><%= f.text_field attribute %></div>
    <% end %>
  <% end %>
</div>
