<dialog id="cookies-consent-customization-modal" class="fr-modal" aria-labelledby="fr-cookies-consent-customization-modal-title">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button aria-controls="cookies-consent-customization-modal" data-fr-opened="false" title="Fermer" type="button" class="fr-btn--close fr-btn">Fermer</button>
          </div>
          <div class="fr-modal__content">
            <h1 id="fr-cookies-consent-customization-modal-title" class="fr-modal__title">
              Panneau de gestion des cookies
            </h1>
            <div class="fr-consent-manager">
              <!-- Finalités -->
              <div class="fr-consent-service fr-consent-manager__header">
                <fieldset class="fr-fieldset">
                  <legend id="finality-legend" class="fr-consent-service__title">Préférences pour tous les services.<br><%= link_to "Données personnelles et cookies", politique_de_confidentialite_path, class: "fr-link" %>
                  </legend>
                  <div class="fr-consent-service__radios">
                    <%= form_with model: @cookies_consent, url: cookies_consent_path, local: true do |f| %>
                      <%= f.hidden_field :support_accepted, value: false %>
                      <%= f.hidden_field :tracking_accepted, value: false %>
                      <button type="submit" class="fr-btn me-2">
                        Tout refuser
                      </button>
                    <% end %>
                    <%= form_with model: @cookies_consent, url: cookies_consent_path, local: true do |f| %>
                      <%= f.hidden_field :support_accepted, value: true %>
                      <%= f.hidden_field :tracking_accepted, value: true %>
                      <button type="submit" class="fr-btn">
                        Tout accepter
                      </button>
                    <% end %>
                  </div>
                </fieldset>
              </div>
              <div class="fr-consent-service">
                <fieldset aria-labelledby="finality-0-legend finality-0-desc" role="group" class="fr-fieldset">
                  <legend id="finality-0-legend" class="fr-consent-service__title">Cookies obligatoires</legend>
                  <div class="fr-consent-service__radios">
                    <div class="fr-radio-group">
                      <input checked type="radio" id="consent-finality-0-accept" name="consent-finality-0">
                      <label class="fr-label" for="consent-finality-0-accept">
                        Accepter
                      </label>
                    </div>
                    <div class="fr-radio-group">
                      <input disabled type="radio" id="consent-finality-0-refuse" name="consent-finality-0">
                      <label class="fr-label" for="consent-finality-0-refuse">
                        Refuser
                      </label>
                    </div>
                  </div>
                  <p id="finality-0-desc" class="fr-consent-service__desc">Ce site utilise des cookies nécessaires à son bon fonctionnement qui ne peuvent pas être désactivés.</p>
                </fieldset>
              </div>
              <%= form_with model: @cookies_consent, url: cookies_consent_path, local: true do |f| %>
                <div class="fr-consent-service">
                  <fieldset aria-labelledby="tracking-legend tracking-desc" role="group" class="fr-fieldset">
                  <legend id="tracking-legend" class="fr-consent-service__title">Mesure d'audience</legend>
                  <div class="fr-consent-service__radios">
                    <div class="fr-radio-group">
                      <%= f.radio_button :tracking_accepted, true, id: "tracking-accept" %>
                      <%= f.label :tracking_accepted, "Accepter", for: "tracking-accept", class: "fr-label" %>
                    </div>
                    <div class="fr-radio-group">
                      <%= f.radio_button :tracking_accepted, false, id: "tracking-refuse" %>
                      <%= f.label :tracking_accepted, "Refuser", for: "tracking-refuse", class: "fr-label" %>
                    </div>
                  </div>
                  <p id="tracking-desc" class="fr-consent-service__desc">Nous utilisons des cookies pour mesurer l'audience de notre site et améliorer son contenu.</p>
                </fieldset>
                </div>
                <div class="fr-consent-service">
                  <fieldset aria-labelledby="support-legend support-desc" role="group" class="fr-fieldset">
                  <legend id="support-legend" class="fr-consent-service__title">Support et assistance utilisateur</legend>
                  <div class="fr-consent-service__radios">
                    <div class="fr-radio-group">
                      <%= f.radio_button :support_accepted, true, id: "support-accept" %>
                      <%= f.label :support_accepted, "Accepter", for: "support-accept", class: "fr-label" %>
                    </div>
                    <div class="fr-radio-group">
                      <%= f.radio_button :support_accepted, false, id: "support-refuse" %>
                      <%= f.label :support_accepted, "Refuser", for: "support-refuse", class: "fr-label" %>
                    </div>
                  </div>
                  <p id="support-desc" class="fr-consent-service__desc">Nous utilisons les cookies pour vous proposer la fonctionnalité de contact par chat avec le support de rdv-insertion.</p>
                </fieldset>
                </div>
                <!-- Bouton de confirmation/fermeture -->
                <div class="fr-consent-manager__buttons fr-btns-group fr-btns-group--right fr-btns-group--inline-sm">
                  <%= f.submit "Confirmer mes choix", class: "fr-btn" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
