<div class="container">
  <div class="row text-center pt-4 <%= flash_message.persist? ? "" : "flash_message_fade" %>" data-controller="flash" data-action="animationend->flash#remove">
    <div class="alert <%= alert_class_for(flash_message.type) %> alert-dismissible fade show" role="alert">
      <div class="d-flex">
        <span class="mx-3"><i class="<%= icon_class_for(flash_message.type) %>"></i></span>
        <span class="me-3"><strong><%= flash_message.title %></strong></span>
        <span><%= flash_message.description %></span>
        <% if flash_message.link %>
          <span><a href="<%= flash_message.link_url %>"><%= flash_message.link_text %></a></span>
        <% end %>
      </div>
      <button type="button" class="btn-close me-3" data-action="flash#remove" aria-label="Close"></button>
    </div>
  </div>
</div>
