<div class="container">
  <% if message.is_a?(Hash)  %>
    <% flash_message = FlashMessage.new(**message.symbolize_keys) %>
  <% else %>
    <%# Pour les messages flash historiques %>
    <% flash_message = FlashMessage.new(description: message) %>
  <% end %>
  <div class="row text-center pt-4 <%= (flash_message.persist || type == :error) ? "" : "flash_message_fade" %>" data-controller="flash" data-action="animationend->flash#remove">
    <div class="alert <%= alert_class_for(type) %> alert-dismissible fade show" role="alert">
      <div class="d-flex">
        <span class="mx-3"><i class="<%= icon_class_for(type) %>"></i></span>
        <span class="me-3"><strong><%= flash_message.title %></strong></span>
        <span><%= flash_message.description %></span>
        <% if flash_message.link %>
          <span><a href="<%= flash_message.link[:url] %>"><%= flash_message.link[:text] %></a></span>
        <% end %>
      </div>
      <button type="button" class="btn-close me-3" data-action="flash#remove" aria-label="Close"></button>
    </div>
  </div>
</div>
