<div class="container">
  <% if message.is_a?(FlashMessage) %>
    <% persist = message.persist %>
    <div class="row text-center pt-4 <%= persist ? "" : "flash_message_fade" %>" data-controller="flash" data-action="animationend->flash#remove">
      <div class="alert <%= alert_class_for(type) %> alert-dismissible fade show" role="alert">
        <div class="d-flex">
          <span class="mx-3"><i class="<%= icon_class_for(type) %>"></i></span>
          <span class="me-3"><strong><%= message.title %></strong></span>
          <span><%= message.description %></span>
          <% if message.link %>
            <span><a href="<%= message.link[:url] %>"><%= message.link[:text] %></a></span>
          <% end %>
        </div>
        <button type="button" class="btn-close me-3" data-action="flash#remove" aria-label="Close"></button>
      </div>
    </div>
  <% else %>
    <!-- Messages flash historique -->
      <div class="row text-center pt-4 <%= persist ? "" : "flash_message_fade" %>" data-controller="flash" data-action="animationend->flash#remove">
        <div class="alert <%= alert_class_for(type) %> alert-dismissible fade show" role="alert">
          <div class="d-flex">
            <span class="mx-3"><i class="<%= icon_class_for(type) %>"></i></span>
            <span><%= message %></span>
          </div>
          <button type="button" class="btn-close me-3" data-action="flash#remove" aria-label="Close"></button>
        </div>
      </div>
    </div>
  <% end %>
</div>
