<footer>
  <div class="container">
    <div class="footer-top row d-flex">
      <div class="col-8 col-md-6 flex-wrap">
        <%= image_tag "logos/republique-francaise-logo.svg", alt: "Logo République francaise", class: "footer-logo" %>
        <%= image_tag "logos/plateforme-inclusion.svg", alt: "Logo de la plateforme de l'inclusion", class: "footer-logo" %>
      </div>
      <div class="footer-top-links d-flex col-8 col-md-6 col-lg-5 col-xl-4 justify-content-between flex-wrap">
        <div>
          <h4>Ressources</h4>
          <ul class="footer-top-list">
            <li>
              <%= link_to "Guide d'utilisation", "https://rdv-insertion.gitbook.io/guide-dutilisation-rdv-insertion/", target: :blank, id: "rdvi_footer_help-center" %>
            </li>
            <li>
              <%= link_to "Statistiques", stats_path, id: "rdvi_footer_stats-link" %>
            </li>
            <li>
            </li>
          </ul>
        </div>
        <div>
          <h4>Nos partenaires</h4>
          <ul class="footer-top-list">
            <li>
              <%= link_to "RDV-Solidarités", "https://www.rdv-solidarites.fr/", target: :blank, id: "rdvi_footer_rdvs-redirection" %>
            </li>
            <li>
              <%= link_to "Plateforme de l'inclusion", "https://inclusion.beta.gouv.fr/qui-sommes-nous/", target: :blank, id: "rdvi_footer_pdi-redirection" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <ul class="footer-bottom-list">
        <li class="footer-bottom-list-item">
          <%= link_to 'Mentions légales', mentions_legales_path, id: "rdvi_footer_legal-notice-link" %>
        </li>
        <li class="footer-bottom-list-item">
          <%= link_to 'C.G.U.', cgu_path, id: "rdvi_footer_CGU-link" %>
        </li>
        <li class="footer-bottom-list-item">
          <%= link_to "https://rdv-insertion-medias-production.s3.fr-par.scw.cloud/assets/20241209-rdv-insertion-DPAv0.3.pdf", target: "_blank", title: "Télécharger le DPA (Convention de sous-traitance) au format PDF", id: "rdvi_footer_DPA-link" do %>
           D.P.A <i class="ri-file-pdf-2-line"></i>
          <% end %>
        </li>
        <li class="footer-bottom-list-item">
          <%= link_to 'Politique de confidentialité', politique_de_confidentialite_path, id: "rdvi_footer_privacy-link" %>
        </li>
        <li class="footer-bottom-list-item">
          <%= link_to "Accessibilité: non conforme", accessibilite_path, id: "rdvi_footer_accessibility-link" %>
        </li>
        <li class="footer-bottom-list-item">
          <%= link_to "Gestion des cookies", edit_cookies_consent_path,
              data: { turbo_stream: true },
              title: "Gérer les préférences de cookies",
              id: "rdvi_footer_cookies-link" %>
        </li>
      </ul>
      <div>
        <p>Sauf mention contraire, tous les textes de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank">licence etalab-2.0</a></p>
      </div>
    </div>
  </div>
</footer>