<div class="footer navbar-static-bottom">
  <div class="footer-links">
    <%= link_to "https://beta.gouv.fr/", class: "mr-2", target: "_blank", rel: "noopener noreferrer" do %>
      <%= image_pack_tag "logos/betagouv-disque.png", height: 50, alt: "Beta gouv" %>
    <% end %>
  </div>
  <div class="nav">
    <%= link_to "RDV-Solidarités", "https://www.rdv-solidarites.fr/", class: "nav-link optional-link", target: "_blank", rel: "noopener noreferrer" %>
    <%= link_to "Lecteur Flux CNAF", "https://betagouv.github.io/analyse-flux-insertion/", class: "nav-link optional-link", target: "_blank", rel: "noopener noreferrer" %>
    <%= link_to "Contacter data.insertion", "mailto:data.insertion@beta.gouv.fr", class: "nav-link" %>
  </div>
</div>
