<header>
  <nav class="container marianne navbar px-3 navbar-expand-lg">
    <div class="d-flex justify-content-start">
      <%= link_to root_path do %>
        <%= image_tag "logos/republique-francaise-logo.svg", height: 80, alt: "République francaise", class: "d-none d-sm-inline navbar-france-logo" %>
        <%= image_tag "logos/rdv-insertion.svg", class: "rdvi-logo", alt: "Logo rdv insertion" %>
      <% end %>
    </div>
    <div class="nav justify-content-around">
      <% if current_agent %>
        <div class="text-center mx-3 col">
          <%= link_to sign_out_path, method: :delete do %>
            <button class="btn btn-default btn-logout w-100">
              <span class="d-none d-sm-inline">Se déconnecter</span>
              <span class="d-inline d-sm-none"><i class="fas fa-sign-out-alt"></i></span>
            </button>
          <% end %>
        </div>
      <% end %>
      <div class="ml-5 d-flex align-items-center">
        <% if show_login_button? %>
          <div class="text-center mx-3 col">
            <%= link_to sign_in_path do %>
              <button class="btn btn-default btn-blue w-100">
                <span class="d-none d-sm-inline">Connexion agent</span>
                <span class="d-inline d-sm-none">Connexion</span>
              </button>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
  <% if show_guide_banner? %>
    <div class="sub-header d-none d-md-flex marianne">
      <div class="container d-none d-md-flex ">
        <%= link_to "https://rdv-insertion.gitbook.io/guide-dutilisation-rdv-insertion/", target: :blank, class: "nav-link optional-link" do %>
          <p class="mb-0">Guide d'utilisation&nbsp;<i class="fas fa-external-link-alt"></i></p>
        <% end %>
        <%= link_to stats_path, class: "nav-link optional-link " do %>
          <p class="mb-0">Statistiques d'utilisation</p>
        <% end %>
        <%= link_to "Contacter l'équipe", "mailto:rdv-insertion@beta.gouv.fr", class: "nav-link optional-link" %>
      </div>
    </div>
  <% end %>
</header>
