<header data-turbo-prefetch="false">
  <% if agent_impersonated? %>
      <%= render "common/header_super_admin_bar_impersonated" %>
  <% elsif current_agent&.super_admin? %>
    <%= render "common/header_super_admin_bar" %>
  <% end %>
  <nav class="container navbar px-3 navbar-expand-lg">
    <div class="d-flex justify-content-start">
      <%= link_to root_path do %>
        <%= image_tag "logos/republique-francaise-logo.svg", height: 80, alt: "République francaise", class: "d-none d-sm-inline navbar-france-logo" %>
        <%= image_tag "logos/rdv-insertion.svg", class: "rdvi-logo", alt: "Logo rdv insertion" %>
      <% end %>
    </div>
    <div class="nav col justify-content-end align-items-center">
      <% if current_agent %>
        <%= render "common/header_help_menu" %>
        <% if show_organisation_navigation_button? %>
          <%= render "common/header_organisation_navigation_button" %>
        <% end %>
        <div class="mx-3">
        <%= render "common/sign_out_button" %>
        </div>
      <% end %>
    </div>
  </nav>
</header>
