<header>
  <% if agent_impersonated? %>
      <%= render "common/header_super_admin_bar_impersonated" %>
  <% elsif current_agent&.super_admin? %>
    <%= render "common/header_super_admin_bar" %>
  <% end %>
  <nav class="container navbar px-3 navbar-expand-lg">
    <div class="d-flex justify-content-start">
      <%= link_to root_path do %>
        <%= image_tag "logos/republique-francaise-logo.svg", height: 80, alt: "République francaise", class: "d-none d-sm-inline navbar-france-logo" %>
        <%= image_tag "logos/rdv-insertion.svg", class: "rdvi-logo", alt: "Logo rdv insertion" %>
      <% end %>
    </div>
    <div class="nav col justify-content-end align-items-center">
      <% if current_agent %>
        <%= render "common/header_help_menu" %>
        <div class="mx-3">
        <%= render "common/sign_out_button" %>
        </div>
      <% end %>
      <div class="d-flex align-items-center">
        <% if !current_agent %>
          <div class="mx-3">
            <%- if ENV['RDV_SOLIDARITES_OAUTH_APP_ID'] && (!ENV['RDV_SOLIDARITES_OAUTH_DISABLED'] || params[:force_oauth]) %>
              <%= form_tag('/auth/rdvservicepublic', method: 'post', data: {turbo: false}) do %>
                <div class="d-flex mb-4 justify-content-center align-items-center">
                  <button class="btn btn-blue" type='submit'>Connexion agent</button>
                </div>
              <% end %>
            <% else %>
              <%= link_to sign_in_path do %>
                <button class="btn btn-blue w-100">
                  <span class="d-none d-sm-inline">Connexion agent</span>
                  <span class="d-inline d-sm-none">Connexion</span>
                </button>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
  <% if current_agent %>
    <div class="sub-header d-none d-md-flex">
      <div class="container d-none d-md-flex ">
        <%= link_to "https://rdv-insertion.gitbook.io/guide-dutilisation-rdv-insertion/", target: :blank, class: "nav-link optional-link" do %>
          <p class="mb-0">Guide d'utilisation&nbsp;<i class="ri-external-link-line"></i></p>
        <% end %>
        <%= link_to stats_path, class: "nav-link optional-link " do %>
          <p class="mb-0">Statistiques d'utilisation</p>
        <% end %>
        <%= link_to "Contacter l'équipe", "mailto:rdv-insertion@beta.gouv.fr", class: "nav-link optional-link" %>
      </div>
    </div>
  <% end %>
</header>
