<div id="organisation-navigation" class="dropdown ms-3" data-controller="dropdown-menu">
  <button id="rdvi_header_organisation-nav" class="dropdown-toggle accessible text-truncate" type="button" data-action="click->dropdown-menu#toggle" data-dropdown-menu-target="button" aria-haspopup="true" aria-expanded="false">
    <i class="<%= department_level? ? "ri-building-line" : "ri-building-4-line" %> me-1"></i> <%= structure_name_with_context(current_structure) %>
  </button>
  <div id="organisation-navigation-dropdown" data-dropdown-menu-target="dropdown" class="dropdown-menu py-0 mt-2">
    <%= link_to department_users_path(current_department), title: "#{current_department_name} - Toutes les organisations" do %>
      <div class="dropdown-item py-3 text-truncate <%= "navigation-selected-item" if department_level? %>">
        <i class="ri-building-line me-3 <%= department_level? ? "text-white" : "text-dark-blue" %>"></i><%= current_department_name %> - Toutes les organisations
      </div>
    <% end %>
    <% current_agent_department_organisations.sort_by(&:name).each do |organisation| %>
      <%= link_to organisation_users_path(organisation), title: "#{organisation.name}" do %>
        <div class="dropdown-item py-3 text-truncate <%= "navigation-selected-item" if current_structure == organisation %>"><i class="ri-building-4-line me-3 <%= current_structure == organisation ? "text-white" : "text-dark-blue" %>"></i><%= organisation.name %></div>
      <% end %>
    <% end %>
  </div>
</div>
