<header>
  <nav class="container navbar px-3 navbar-expand-lg">
    <div class="d-flex justify-content-start">
      <%= link_to root_path do %>
        <%= image_tag "logos/republique-francaise-logo.svg", height: 80, alt: "République francaise", class: "d-none d-sm-inline navbar-france-logo" %>
        <%= image_tag "logos/rdv-insertion.svg", class: "rdvi-logo", alt: "Logo rdv insertion" %>
      <% end %>
    </div>
    <div class="nav col justify-content-end align-items-center">
      <% if current_agent %>
        <% if current_agent.super_admin? %>
          <%= link_to super_admins_root_path do %>
            <button class="btn btn-header border-light-grey w-100">
              <span class="d-none d-sm-inline">Super admin</span>
              <span class="d-inline d-sm-none"><i class="fas fa-sign-out-alt"></i></span>
            </button>
          <% end %>
        <% else %>
          <%= render "common/header_help_menu" %>
        <% end %>
        <% if show_organisation_navigation_button? %>
          <%= render "common/header_organisation_navigation_button" %>
        <% end %>
        <div class="mx-3">
        <%= render "common/sign_out_button" %>
        </div>
      <% end %>
    </div>
  </nav>
  <% if current_agent && agent_impersonated? %>
    <div class="sub-header d-flex">
      <div class="container d-flex justify-content-center">
        <p class="mb-0"><i class="fas fa-info-circle"></i> Vous êtes connecté.e en tant que <%= current_agent.to_s %></p>
      </div>
    </div>
  <% end %>
</header>
