<%= render "common/remote_modal", title: "Filtrer par date d'invitation ou de convocation" do %>
  <%= form_with method: :get, local: true, data: { controller: "dates-filtering" } do |form| %>
    <div class="d-flex flex-column mb-3 rdv-insertion-form">
      <div class="mt-2 input radio_button">
        <span class="radio w-100">
          <%= form.label "url", for: "url_invitation", class: "d-flex align-items-center" do %>
            <%= form.radio_button "url", new_structure_invitation_dates_filtering_path(**url_params), id: "url_invitation", class: "radio_buttons form-check-input big", checked: "checked" %>
            Filtrer par date d'invitation
          <% end %>
        </span>
      </div>
      <div class="mt-2 input radio_button">
        <span class="radio w-100">
          <%= form.label "url", for: "url_convocation", class: "d-flex align-items-center" do %>
            <%= form.radio_button "url", new_structure_convocation_dates_filtering_path(**url_params), id: "url_convocation", class: "radio_buttons form-check-input big" %>
            Filtrer par date de convocation
          <% end %>
        </span>
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-center px-3">
      <button type="button" class="btn btn-blue-out border-0 me-2" data-bs-dismiss="modal">
        Annuler
      </button>
      <button type="button" class="btn btn-primary me-2" data-bs-dismiss="modal" data-action="click->dates-filtering#choose">
        Valider
      </button>
    </div>
    </div>
  <% end %>
<% end %>
