<%= render "common/remote_modal", title: "Contenu des messages d'invitation", size: :large do %>
  <div class="scrollable-list fully-scrollable-modal">
    <div class="mb-4">
      <h5 class="text-center"><i class="ri-chat-1-line"></i> SMS</h5>
      <div class="d-flex justify-content-center">
        <div class="border bg-light bg-gradient col-5 p-2 m-2">
          <%= simple_format(@sms_contents[:first_invitation]) %>
        </div>
        <div class="border bg-light bg-gradient col-5 p-2 m-2">
          <h6>**Rappel**</h6>
          <%= simple_format(@sms_contents[:invitation_reminder]) %>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <h5 class="text-center"><i class="ri-mail-line"></i> Email</h5>
      <div class="d-flex justify-content-center">
        <div class="border bg-light bg-gradient col-5 p-2 m-2">
          <%= sanitize(@mail_contents[:first_invitation]) %>
        </div>
        <div class="border bg-light bg-gradient col-5 p-2 m-2">
          <h6>**Rappel**</h6>
          <%= sanitize(@mail_contents[:invitation_reminder]) %>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <h5 class="text-center"><i class="ri-mail-open-line"></i> Courrier</h5>
      <div class="d-flex justify-content-center">
        <div class="border bg-light bg-gradient p-2 m-2">
          <%= sanitize(@letter_contents[:first_invitation]) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

