<%= render 'users/archive_banner' if @archive.present? %>

<div class="container text-dark-blue h4-as-labels mt-4">
  <%= render "users/user_page_header" %>

  <%= turbo_frame_tag "user_page_body" do %>
    <%= render "users/user_tabs", user: @user, tab: "rdvs" %>
    <% @all_configurations.each do |configuration| %>
      <% rdv_context = @rdv_contexts.find { |rc| rc.motif_category_id == configuration.motif_category_id } %>
      <% if rdv_context %>
        <%=
          render(
            "rdv_contexts/rdv_context",
            rdv_context: rdv_context, organisation: @organisation, user: @user, department: @department,
            participations: rdv_context.participations, user_organisations: @user_organisations,
            convocable_participations: rdv_context.participations.select(&:convocable?),
            configuration: configuration, invitations: rdv_context.invitations
          )
        %>
      <% else %>
        <div class="m-4">
          <div class="card my-3 mx-auto w-75">
            <div class="card-header py-3 blue-out">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h5>
                    <strong><%= configuration.motif_category_name %></strong>
                    <small><%= configuration.rdv_with_referents? ? " (avec référents)" : "" %></small>
                  </h5>
                </div>
                <div>
                  <%= render "rdv_contexts/new_button", user: @user, configuration: configuration, turbo: false, button_text: "Ouvrir un suivi" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
