<%# locals: (header:, footer:, keep_dsfr_defaults: false, white_background: false) %>
<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body data-matomo-mask class="<%= "override-dsfr-defaults" unless keep_dsfr_defaults %><%= " bg-white" if white_background %>">
    <%= render 'common/matomo_script_tag' if @enable_matomo_tracking %>
    <%= render 'layouts/rdv_insertion_instance_name' %>
    <%= render header if header %>
    <%= render 'common/flashes' %>
    <div class="wrapper">
      <%= turbo_frame_tag "remote_modal", target: "_top" %>
      <%= yield %>
      <%= render 'common/accept_cgu_modal' if @should_display_accept_cgu %>
      <%= render 'common/accept_dpa_modal' if @should_display_accept_dpa %>
      <%= render 'common/crisp' %>
      <%= render 'cookies_consents/cookies_consent' if @should_display_cookies_consent %>
    </div>
    <%= render footer if footer %>
  </body>
</html>
