<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : "rdv-insertion" %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="turbo-cache-control" content="no-cache">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'logos/rdvi-favicon.png' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= content_for :head %>
  </head>

  <body data-matomo-mask>
    <%= render 'common/confirm_modal' %>
    <%= render 'layouts/rdv_insertion_instance_name' %>
    <%= content_for :header %>
    <%= render 'common/flashes' %>
    <div class="wrapper">
      <%= turbo_frame_tag "remote_modal", target: "_top" %>
      <%= yield %>
      <%= render 'common/accept_cgu_modal' if @should_display_accept_cgu_modal %>
      <%= render 'common/accept_dpa_modal' if @should_display_accept_dpa_modal %>
    </div>
    <%= render 'common/footer' %>
  </body>
</html>
