<!DOCTYPE html>
<html>
  <head>
    <title>Rdv Insertion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_pack_tag 'logos/rdvi-favicon.png' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'common/header' %>
    <%= render 'common/flash' %>
    <div class="wrapper">
      <%= yield %>
    </div>
    <%= render 'common/footer' %>
  </body>
</html>
