<!DOCTYPE html>
<html>
  <head>
    <title>rdv-insertion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'logos/rdvi-favicon.png' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'layouts/rdv_insertion_instance_name' %>
    <%= render 'common/header' %>
    <div id="flashes">
      <%= render 'common/flash' %>
    </div>
    <div class="wrapper">
      <%= turbo_frame_tag "remote_modal", target: "_top" %>
      <%= yield %>
    </div>
    <%= render 'common/footer' %>
  </body>
</html>
