<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_pack_tag 'mail' %>
  </head>

  <body>
    <table class="body-wrap">
      <tr align="center" class="d-block">
        <td class="logo d-block">
          <%= link_to root_url do %>
            <%= image_pack_tag "logos/rdv-insertion.png", alt: "Logo rdv insertion" %>
          <% end %>
        <td class="container">
          <div class="content">
            <table class="main" width="100%">
              <tr>
                <td class="content-wrap">
                  <table width="100%">
                    <tbody>
                      <%= yield %>
                      <p>À bientôt,</p>
                      <p>L'équipe RDV Insertion</p>
                    </tbody>
                  </table>
                </td>
              </tr>
            </table>
            <div class="footer">
              <table width="100%">
                <tr>
                  <td align="center" class="content-block">
                    <%= link_to "https://doc.rdv-solidarites.fr/informations-generales/informations-generales-et-legales-1" do %>
                      <span>Informations légales</span>
                    <% end %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>

